
<div class="sidenav list-group" id='side-ite'>
<span class="text-dark ml-2"> GRADE 7-9 STUDENT</span>

<%= link_to "Number Systems", mathematics_index_path, class: "#{current? "active", mathematics_index_path}"  %>
<%= link_to "Reading and Writing Numbers", mathematics_page1_path, class: "#{current? "active", mathematics_page1_path}"%>
<%= link_to "Page-Two", page2_path, class: "#{current? "active", page2_path}"%>
<%= link_to "Page-3", page3_path, class: "#{current? "active", page3_path}"%>
<%= link_to "Page-4", page4_path, class: "#{current? "active", page4_path}"%>  
<a href="#">Clients</a>
  <a href="#">Contact</a>



  
</div>


  
