<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Number Systems</h1>
</div>
<hr>
<article>
<p>
<h2>Counting</h2>
<strong>Counting</strong> is the systematic way of determining the quantity or the total number of objects/items in a set or group. 
</p>
<p>
<h3>1. Integer System </h3>
The basis for the number or integer system is the ability to count and recognize basic numbers which are; 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 through which other complex numbers are formed e.g. 11, 12, 321, 5000, 11,000, 1,000,000 and so on.
The most common counting system in the world is the base ten which is called <strong>decimal system</strong>. There is also a binary system known as base two e.g. 1011<sub>2</sub>  .
</p>
<h4>Counting in Seven and Sixty</h4>
<strong>There are 7days in a week. </strong>
</article>
<article>
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
    <p>
    If the age of a tree is 2 weeks 6 days, how old is the tree? Leave your answer in days.
    <br>
    <strong>Solution</strong>
    <br>
    Number of weeks = 2 weeks => 2 x 7 = 14 days
    <br>
    Number of days = 6 days
    <br>
    Total days = 14 + 6 = 20 days.
    <strong>The tree is 20 days old.</strong>
    </p>
    </div>
    <div class="col">
    <b>Example 2</b>
    <p>
    If today is Thursday, what day of the week will it be in 100 days’ time?
    <br>
    <strong>Solution </strong>
    <br>
    100 days => <sup>100</sup>&frasl;<sub>7</sub> = 14 weeks 2days. 
    <br>
    So, count extra 2 days on from <strong>Thursday; </strong>i.e. <strong>Friday, Saturday. The exact day = SATURDAY.</strong>
    </p>
    
    </div>
  </div>
  </div>
</article>
<div class="d-flex justify-content-center mt-3">
<strong class='text-danger justify-content-center'>Note: 1 hour = 60 minutes and 1 minute = 60 seconds.</strong>
</div>

<article>
<div class="container">
<div class="row">
    <div class="col border-right border-danger">
   <b>Example 3</b>
    <p>
    Find the total seconds in 5 minutes 45 seconds?
    <br>
    Solution
    <br>
    5 minutes = 5 x 60 => 300 seconds
    <br>
    Extra seconds => 45 seconds
    <br>
    5 minutes 45 seconds => 300 + 45 = <strong>345 seconds </strong>
    </p>
    </div>
    <div class="col">
    <b>Example 4</b>
    <p>
    Evaluate 2hrs 30mins + 4hrs 20mins + 1hr 15mins + 40mins. Leave your answer hours and minutes.
    <br>
    Hours => 2 + 4 + 1 = 7hrs
    <br>
    Minutes => 30 + 20 + 15 + 40 = 105mins = > 1hr 45min
    <br>
    Total time = 7hrs + 1hr + 45mins
    = <strong>8hrs 45mins.</strong>
    </p>
    </div>
  </div>
</div>
</article>
<article>
<h3>2. Tally System</h3>
<p>
Tally system is the system of counting in a group of 5s using strokes to represent items or objects .e.g.
-|-|-|-|-  -|-|-|-|- || => 12
<br>
-|-|-|-|-  ||| => 8
</p>
</article>


<article>
<h3>3. Roman System</h3>
<p>
<h4>Roman System use the below equivalent table to count its numbers or figures.</h4>
</p>
<table class="table table-bordered">
<strong>Table 1.0</strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">I</th>
      <th scope="col" class="text-center">II</th>
      <th scope="col" class="text-center">III</th>
      <th scope="col" class="text-center">V</th>
      <th scope="col" class="text-center">X</th>
      <th scope="col" class="text-center">L</th>
      <th scope="col" class="text-center" >C</th>
      <th scope="col" class="text-center">D</th>
      <th scope="col" class="text-center">M</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1</td>
      <td class="text-center">2</td>
      <td class="text-center">3</td>
      <td class="text-center">5</td>
      <td class="text-center">10</td>
      <td class="text-center">50</td>
      <td class="text-center">100</td>
      <td class="text-center">500</td>
      <td class="text-center">1000</td>
    </tr>
    <tbody>
    </table>
</article>

<article>
<h4>Rules for Roman Numerals/Roman System</h4>

<p>
1.	If a small roman numeral is behind a big roman numeral, the value of the small one 
will be subtracted from the value of the big one e.g.  
<b>IV</b> => 4, <b>IX</b> => 9, <b>XL</b> => 40, <b>XC</b> => 90, <b>CD </b>=> 400, <b>XD</b> => 490, <b>CM</b> => 900.
</p>
<p>
2.	If a small roman numeral is in-front of a big roman numeral, 
the value of the small one will be added to the value of the big one e.g. 
<b> VI</b> => 6, <b>CX</b> => 110, <b>LX</b> => 60, <b>MD</b> => 1500. 
</p>
<p>
3.	If the values are the same in 2s or in 3s, the values are added together e.g. 
<b>II</b> = > 2, <b>III</b> => 3, <b>XX</b> => 20, <b>XXX</b> => 30, <b>CC</b> => 200, <b>CCC</b> => 300 and <b>MMM</b> => 3000.
</p>
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <p>
    <b>Example 1</b>
    <br>
    Write 1674 in Roman numeral.
    <br>
    <b>Solution</b>
    <br>
    1674 = <b> MDCLXXIV</b>
    </p>
    </div>
    <div class="col">
    <p>
    <b>Example 2</b>
    <br>
    What is CCCVC in Roman numeral?
    <br>
    <b>Solution</b>
    <br>
    CCCVC = <b>395.</b>
    </p>
    </div>
  </div>
  </div>
</article>


<article>
<h3>4. Number Coding System</h3>
<p>
In a number System letters are used to represent numbers or integers. 
The table below is used in number coding system;
</p>

<table class="table table-bordered">
<strong>Table 1.1</strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      <th scope="col" class="text-center">4</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center">6</th>
      <th scope="col" class="text-center">7</th>
      <th scope="col" class="text-center">8</th>
      <th scope="col" class="text-center">9</th>
      <th scope="col" class="text-center">10</th>
      <th scope="col" class="text-center">11</th>
      <th scope="col" class="text-center">12</th>
      <th scope="col" class="text-center">13</th>
      <th scope="col" class="text-center">14</th>
      <th scope="col" class="text-center">15</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">A</td>
      <td class="text-center">B</td>
      <td class="text-center">C</td>
      <td class="text-center">D</td>
      <td class="text-center">E</td>
      <td class="text-center">F</td>
      <td class="text-center">G</td>
      <td class="text-center">H</td>
      <td class="text-center">I</td>
      <td class="text-center">J</td>
      <td class="text-center">K</td>
      <td class="text-center">L</td>
      <td class="text-center">M</td>
      <td class="text-center">N</td>
      <td class="text-center">O</td>
      </tr>

    <tr>
      <th scope="col" class="text-center">16</th>
      <th scope="col" class="text-center">17</th>
      <th scope="col" class="text-center">18</th>
      <th scope="col" class="text-center">19</th>
      <th scope="col" class="text-center">20</th>
      <th scope="col" class="text-center">21</th>
      <th scope="col" class="text-center" >22</th>
      <th scope="col" class="text-center">23</th>
      <th scope="col" class="text-center">24</th>
      <th scope="col" class="text-center">25</th>
      <th scope="col" class="text-center">26</th>
      <th scope="col" class="text-center"></th>
      <th scope="col" class="text-center"></th>
      <th scope="col" class="text-center"></th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">P</td>
      <td class="text-center">Q</td>
      <td class="text-center">R</td>
      <td class="text-center">S</td>
      <td class="text-center">T</td>
      <td class="text-center">U</td>
      <td class="text-center">V</td>
      <td class="text-center">W</td>
      <td class="text-center">X</td>
      <td class="text-center">Y</td>
      <td class="text-center">Z</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      </tr>
    <tbody>
    </table>
    <div class="container">
    <div class="row">
      <div class="col border-right border-danger">
      <b>Example 1</b>
      <br>
      What does <strong>SAVE LIFE</strong> mean in coding system?
      <br>
      S => 19, A => 1, V => 22, E => 5 L , F => 6, 1 => 9.
      <br>
      SAVE LIFE => <strong>(19, 1, 22, 5) (12, 9, 6, 5)</strong>
      </div>
      <div class="col">
      <b>Example 2</b>
      <br>
      What does 1, 13, 5, 18, 9, 3, 1 stand for in coding system.
      <br>
      Solution
      <br>
      (1, 13, 5, 18, 9, 3, 1) => <strong>AMERICA.</strong>
      </div>
    </div>
    </div>
</article>
<br>
<article>
<h3>5. The Place-Value System</h3>
<strong>The values in Whole number;</strong>
<h4>5613</h4>
5 => <strong>Thousands</strong>
<br>
6 => <strong>Hundreds</strong>
<br>
1 => <strong>Tens</strong>
<br>
3 => <strong>Units</strong>
<p>i.e. 5 thousands, 6 hundreds, 1 ten  and 2 units.</p>
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <p> 
    <b>Example 1 </b>
    <br>
    Find the value of 6 in 7604.
    <br>
    The value of 6 =><strong> Six hundred</strong>
    </p>
    </div>
    <div class="col">
    <p>
<b>Example 2 </b>
<br>
What is the value of 4 in 3674?
<br>
The value of 4 => <strong>4 units.</strong>
</p>
</div>
</div>
</div>

<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Values in decimal numbers;</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <h4>576.384</h4>
    5 => <strong>Hundreds</strong>
    <br>
    7 => <strong>Tens</strong>
    <br>
    6 => <strong>Units</strong>
    <br>
    3 => <strong>Tenths</strong>
    <br>
    8 => <strong>Hundredths</strong>
    <br>
    4 => <strong>Thousandths</strong>
     </div>
    <div class="col">
    <p>
    <b>Example 1</b>
    <br>
    What is the value 5 in 469.592?
    <br>
    The value of 5 => <strong>5 tenths</strong>
    </p>
    </div>
  </div>
</article>
<br>
<article>
<h3>6. Index Form</h3>
<p>
The plural of index is indices. 
Writing of a number in raise to power form is known as 
<strong>index form</strong> e.g. 
<br>
4 = 2x2 => 2<sup>2</sup> 
<br> 
8 = 2x2x2 = 2<sup>3</sup> 
<br>
81 = 3x3x3x3 => 3<sup>4</sup> 
<br>
18 = 2 x 3<sup>2</sup>  
</p>
<h4>Square and Square Root</h3>
<p>
<strong>Square</strong> of a number is the process of multiplying the number by itself e.g.  
<br>
Square of 3 = 3x3 = 3<sup>2</sup>  => 9
<br>
Square of <strong>3</strong> = <strong>9</strong>
<br>
<br>
<strong>Square root</strong> of a particular number is the process of determining a 
number that will multiply itself to give that particular number e.g.
<br>
Square root of <b>9</b> 
<br>
9  =  3 x 3  = 3<sup>2</sup>
<br>
Because, <b>3</b> in 9 has <b>power</b> or <b>index</b> of <b>2</b>, then the square root 9 is <b>3</b>.
<br>
<strong> The Symbol of Square root is √ </strong>
</p>


<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <p>
    <b>Example 1</b>
    <br>
    Find the Square root of 576.
    <br>
    576 = 2 x 2 x 2 x 2 x 2 x 2 x 3 x 3
    <br>
    <span class='ml-4'>= 2<sup>2</sup> x  2<sup>2</sup>  x 
    2<sup>2</sup> x 3<sup>2</sup></span>
    <br>
    <span class='ml-4'>  
    = (2 x 2 x 2 x 3) (2 x 2 x 2 x 3)
    </span>
    <br>
    <span class='ml-4'>
    = 24 x 24
    </span>
    <br>
    <span>
    Therefore, <strong>√576</strong> = 24
    </span>
    </p>
    </div>
    <div class="col">
    <p>
    <b>Example 2 </b>
    <br>
    Find <strong>√6400.</strong>
    <br>
    6400 = 64 X 100 => 8<sup>2</sup> x 10<sup>2</sup>
    = (8 x 10) (8 x 10)
    <br>
    Therefore, √6400 = 8 x 10 => 80
    </p>
    </div>
  </div>
  </div>
  <p>
<b>Example 3</b>
<br>
Find the smallest number that 1125 must be multiply by, so that the product is a perfect square.
<br>
1125 = 3<sup>2</sup> X 5<sup>3</sup>. Since the power of 5 is odd number (3), it needs to be multiplied by extra <b>5</b> to have power of 4 and make it a perfect square i.e. 
<br>
1125 x 5 = 3<sup>2</sup> x 5<sup>3</sup> x 5<sup>1</sup>
<br>
5625 = 3<sup>2</sup> x 5<sup>2</sup> x 5<sup>2</sup> => (3x5x5) (3x5x5)
<br>
5625 = 75 x 75 
<br>
The answer = <strong>5</strong>
</p>
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Number Systems</strong> knowledge with these Objective Questions.</h5>
</div>

<article>

<div class='obj-cont' >
  <h6>1.	A baby boy is 125 days. What is his age in weeks and days?</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='17 weeks 6 days' id='option-11' style='transform: scale(1.2)'  />
      17 weeks 6 days</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='16 weeks' id='option-12' style='transform: scale(1.2)' />
      16 weeks</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='7 weeks 6 days' id='option-13' style='transform: scale(1.2)' />
      	7 weeks 6 days</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='16 weeks 6 days' id='option-14' style='transform: scale(1.2)' />
      16 weeks 6 days</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.Convert 3hrs 10mins 20secs to time in seconds.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='11420s' id='option-21' style='transform: scale(1.2)'  />
      11420s</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='20411s' id='option-22' style='transform: scale(1.2)' />
      20411s</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='12420s' id='option-23' style='transform: scale(1.2)' />
      12420s</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='11400s' id='option-24' style='transform: scale(1.2)' />
      11400s</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.What does CXXIV represent?</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='124' id='option-31' style='transform: scale(1.2)'  />
      124</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='74' id='option-32' style='transform: scale(1.2)' />
      74</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='524' id='option-33' style='transform: scale(1.2)' />
      524</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='174' id='option-34' style='transform: scale(1.2)' />
      174</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.Use Letter-Number coding system to translate (7, 15, 4) (2, 12, 5, 19, 19) (25, 15, 21).</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS MEE' id='option-41' style='transform: scale(1.2)'  />
      GOD BLESS MEE</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS YOU' id='option-42' style='transform: scale(1.2)' />
      GOD BLESS YOU</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='FAT GOOD DAY' id='option-43' style='transform: scale(1.2)' />
      FAT GOOD DAY</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS DAY' id='option-44' style='transform: scale(1.2)' />
      GOD BLESS DAY</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid limegreen' 
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-42').style.border = '3px solid limegreen'
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.Give the value of 5 in 3<b>5</b>069.</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='Five thousand.' id='option-51' style='transform: scale(1.2)'  />
      Five thousand.</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='Five thousandths' id='option-52' style='transform: scale(1.2)' />
      Five thousandths</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='Five hundred' id='option-53' style='transform: scale(1.2)' />
      Five hundred</label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='Five hundredths' id='option-54' style='transform: scale(1.2)' />
      Five hundredths</label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid limegreen'
      document.getElementById('result-51').style.color = 'limegreen'
      document.getElementById('result-51').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid red'
      document.getElementById('result-53').style.color = 'red'
      document.getElementById('result-53').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-51').style.border = '3px solid limegreen'
      document.getElementById('result-51').style.color = 'limegreen'
      document.getElementById('result-51').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>

<article>
<div class='obj-cont'>
  <h6>6.Find the √4/25.</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>7</sub>' id='option-61' style='transform: scale(1.2)'  />
      <sup>2</sup>&frasl;<sub>7</sub></label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>5</sub>' id='option-62' style='transform: scale(1.2)' />
      <sup>2</sup>&frasl;<sub>5</sub></label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>10</sub>' id='option-63' style='transform: scale(1.2)' />
      <sup>2</sup>&frasl;<sub>10</sub></label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option5' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-64' style='transform: scale(1.2)' />
      <sup>1</sup>&frasl;<sub>2</sub></label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid red'
      document.getElementById('result-63').style.color = 'red'
      document.getElementById('result-63').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>7.Find the smallest number that 540 must be multiply by, so that the product is a perfect square.</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option6' value='20' id='option-71' style='transform: scale(1.2)'  />
      20</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option6' value='3' id='option-72' style='transform: scale(1.2)' />
      3</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option6' value='5' id='option-73' style='transform: scale(1.2)' />
      5</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option6' value='15' id='option-74' style='transform: scale(1.2)' />
      15</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer7()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid red'
      document.getElementById('result-71').style.color = 'red'
      document.getElementById('result-71').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer7() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer6)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
 </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", mathematics_page1_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>
















































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
  <h1 class='text-dark justify-content-center'>Number Systems</h1>
  </div>
  <hr>
  <article>
  <p>
  <h2>Counting</h2>
  <strong>Counting</strong> is the systematic way of determining the quantity or the total number of objects/items in a set or group. 
  </p>
  <p>
  <h3>1. Integer System </h3>
  The basis for the number or integer system is the ability to count and recognize basic numbers which are; 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 through which other complex numbers are formed e.g. 11, 12, 321, 5000, 11,000, 1,000,000 and so on.
  The most common counting system in the world is the base ten which is called <strong>decimal system</strong>. There is also a binary system known as base two e.g. 1011<sub>2</sub>  .
  </p>
  <h4>Counting in Seven and Sixty</h4>
  <strong>There are 7days in a week. </strong>
  </article>
  <article>
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <strong>Example 1</strong>
      <p>
      If the age of a tree is 2 weeks 6 days, how old is the tree? Leave your answer in days.
      <br>
      <strong>Solution</strong>
      <br>
      Number of weeks = 2 weeks => 2 x 7 = 14 days
      <br>
      Number of days = 6 days
      <br>
      Total days = 14 + 6 = 20 days.
      <strong>The tree is 20 days old.</strong>
      </p>
      </div>
      <div class="col">
      <b>Example 2</b>
      <p>
      If today is Thursday, what day of the week will it be in 100 days’ time?
      <br>
      <strong>Solution </strong>
      <br>
      100 days => <sup>100</sup>&frasl;<sub>7</sub> = 14 weeks 2days. 
      <br>
      So, count extra 2 days on from <strong>Thursday; </strong>i.e. <strong>Friday, Saturday. The exact day = SATURDAY.</strong>
      </p>
      </div>
    </div>
    </div>
  </article>
  <div class="d-flex justify-content-center mt-3">
  <strong class='text-danger justify-content-center'>Note: 1 hour = 60 minutes and 1 minute = 60 seconds.</strong>
  </div>
  
  <article>
  <div class="container-fluid">
  <div class="row">
      <div class="col border-right border-danger">
     <b>Example 3</b>
      <p>
      Find the total seconds in 5 minutes 45 seconds?
      <br>
      Solution
      <br>
      5 minutes = 5 x 60 => 300 seconds
      <br>
      Extra seconds => 45 seconds
      <br>
      5 minutes 45 seconds => 300 + 45 = <strong>345 seconds </strong>
      </p>
      </div>
      <div class="col">
      <b>Example 4</b>
      <p>
      Evaluate 2hrs 30mins + 4hrs 20mins + 1hr 15mins + 40mins. Leave your answer hours and minutes.
      <br>
      Hours => 2 + 4 + 1 = 7hrs
      <br>
      Minutes => 30 + 20 + 15 + 40 = 105mins = > 1hr 45min
      <br>
      Total time = 7hrs + 1hr + 45mins
      = <strong>8hrs 45mins.</strong>
      </p>
      </div>
    </div>
  </div>
  </article>
  <article>
  <h3>2. Tally System</h3>
  <p>
  Tally system is the system of counting in a group of 5s using strokes to represent items or objects .e.g.
  -|-|-|-|-  -|-|-|-|- || => 12
  <br>
  -|-|-|-|-  ||| => 8
  </p>
  </article>
  <article>
  <h3>3. Roman System</h3>
  <p>
  <h4>Roman System use the below equivalent table to count its numbers or figures.</h4>
  </p>
  <table class="table table-bordered">
  <strong>Table 1.0</strong>
    <thead>
      <tr>
        <th scope="col" class="text-center">I</th>
        <th scope="col" class="text-center">II</th>
        <th scope="col" class="text-center">III</th>
        <th scope="col" class="text-center">V</th>
        <th scope="col" class="text-center">X</th>
        <th scope="col" class="text-center">L</th>
        <th scope="col" class="text-center" >C</th>
        <th scope="col" class="text-center">D</th>
        <th scope="col" class="text-center">M</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">2</td>
        <td class="text-center">3</td>
        <td class="text-center">5</td>
        <td class="text-center">10</td>
        <td class="text-center">50</td>
        <td class="text-center">100</td>
        <td class="text-center">500</td>
        <td class="text-center">1000</td>
      </tr>
      <tbody>
      </table>
  </article>
  <article>
  <h4>Rules for Roman Numerals/Roman System</h4>
  
  <p>
  1.	If a small roman numeral is behind a big roman numeral, the value of the small one 
  will be subtracted from the value of the big one e.g.  
  <b>IV</b> => 4, <b>IX</b> => 9, <b>XL</b> => 40, <b>XC</b> => 90, <b>CD </b>=> 400, <b>XD</b> => 490, <b>CM</b> => 900.
  </p>
  <p>
  2.	If a small roman numeral is in-front of a big roman numeral, 
  the value of the small one will be added to the value of the big one e.g. 
  <b> VI</b> => 6, <b>CX</b> => 110, <b>LX</b> => 60, <b>MD</b> => 1500. 
  </p>
  <p>
  3.	If the values are the same in 2s or in 3s, the values are added together e.g. 
  <b>II</b> = > 2, <b>III</b> => 3, <b>XX</b> => 20, <b>XXX</b> => 30, <b>CC</b> => 200, <b>CCC</b> => 300 and <b>MMM</b> => 3000.
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <p>
      <b>Example 1</b>
      <br>
      Write 1674 in Roman numeral.
      <br>
      <b>Solution</b>
      <br>
      1674 = <b> MDCLXXIV</b>
      </p>
      </div>
      <div class="col">
      <p>
      <b>Example 2</b>
      <br>
      What is CCCVC in Roman numeral?
      <br>
      <b>Solution</b>
      <br>
      CCCVC = <b>395.</b>
      </p>
      </div>
    </div>
    </div>
  </article>
  
  
  <article>
  <h3>4. Number Coding System</h3>
  <p>
  In a number System letters are used to represent numbers or integers. 
  The table below is used in number coding system;
  </p>
  
  <table class="table table-bordered">
  <strong>Table 1.1</strong>
    <thead>
      <tr>
        <th scope="col" class="text-center">1</th>
        <th scope="col" class="text-center">2</th>
        <th scope="col" class="text-center">3</th>
        <th scope="col" class="text-center">4</th>
        <th scope="col" class="text-center">5</th>
        <th scope="col" class="text-center">6</th>
        <th scope="col" class="text-center">7</th>
        <th scope="col" class="text-center">8</th>
        <th scope="col" class="text-center">9</th>
        <th scope="col" class="text-center">10</th>
        <th scope="col" class="text-center">11</th>
        <th scope="col" class="text-center">12</th>
        <th scope="col" class="text-center">13</th>
        <th scope="col" class="text-center">14</th>
        <th scope="col" class="text-center">15</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">A</td>
        <td class="text-center">B</td>
        <td class="text-center">C</td>
        <td class="text-center">D</td>
        <td class="text-center">E</td>
        <td class="text-center">F</td>
        <td class="text-center">G</td>
        <td class="text-center">H</td>
        <td class="text-center">I</td>
        <td class="text-center">J</td>
        <td class="text-center">K</td>
        <td class="text-center">L</td>
        <td class="text-center">M</td>
        <td class="text-center">N</td>
        <td class="text-center">O</td>
        </tr>
  
      <tr>
        <th scope="col" class="text-center">16</th>
        <th scope="col" class="text-center">17</th>
        <th scope="col" class="text-center">18</th>
        <th scope="col" class="text-center">19</th>
        <th scope="col" class="text-center">20</th>
        <th scope="col" class="text-center">21</th>
        <th scope="col" class="text-center" >22</th>
        <th scope="col" class="text-center">23</th>
        <th scope="col" class="text-center">24</th>
        <th scope="col" class="text-center">25</th>
        <th scope="col" class="text-center">26</th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">P</td>
        <td class="text-center">Q</td>
        <td class="text-center">R</td>
        <td class="text-center">S</td>
        <td class="text-center">T</td>
        <td class="text-center">U</td>
        <td class="text-center">V</td>
        <td class="text-center">W</td>
        <td class="text-center">X</td>
        <td class="text-center">Y</td>
        <td class="text-center">Z</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        </tr>
      <tbody>
      </table>
      <div class="container-fluid">
      <div class="row">
        <div class="col border-right border-danger">
        <b>Example 1</b>
        <br>
        What does <strong>SAVE LIFE</strong> mean in coding system?
        <br>
        S => 19, A => 1, V => 22, E => 5 L , F => 6, 1 => 9.
        <br>
        SAVE LIFE => <strong>(19, 1, 22, 5) (12, 9, 6, 5)</strong>
        </div>
        <div class="col">
        <b>Example 2</b>
        <br>
        What does 1, 13, 5, 18, 9, 3, 1 stand for in coding system.
        <br>
        Solution
        <br>
        (1, 13, 5, 18, 9, 3, 1) => <strong>AMERICA.</strong>
        </div>
      </div>
      </div>
  </article>
  <br>
  <article>
  <h3>5. The Place-Value System</h3>
  <strong>The values in Whole number;</strong>
  <h4>5613</h4>
  5 => <strong>Thousands</strong>
  <br>
  6 => <strong>Hundreds</strong>
  <br>
  1 => <strong>Tens</strong>
  <br>
  3 => <strong>Units</strong>
  <p>i.e. 5 thousands, 6 hundreds, 1 ten  and 2 units.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <p> 
      <b>Example 1 </b>
      <br>
      Find the value of 6 in 7604.
      <br>
      The value of 6 =><strong> Six hundred</strong>
      </p>
      </div>
      <div class="col">
      <p>
  <b>Example 2 </b>
  <br>
  What is the value of 4 in 3674?
  <br>
  The value of 4 => <strong>4 units.</strong>
  </p>
  </div>
  </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Values in decimal numbers;</h3>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <h4>576.384</h4>
      5 => <strong>Hundreds</strong>
      <br>
      7 => <strong>Tens</strong>
      <br>
      6 => <strong>Units</strong>
      <br>
      3 => <strong>Tenths</strong>
      <br>
      8 => <strong>Hundredths</strong>
      <br>
      4 => <strong>Thousandths</strong>
       </div>
      <div class="col">
      <p>
      <b>Example 1</b>
      <br>
      What is the value 5 in 469.592?
      <br>
      The value of 5 => <strong>5 tenths</strong>
      </p>
      </div>
    </div>
  </article>
  <br>
  <article>
  <h3>6. Index Form</h3>
  <p>
  The plural of index is indices. 
  Writing of a number in raise to power form is known as 
  <strong>index form</strong> e.g. 
  <br>
  4 = 2x2 => 2<sup>2</sup> 
  <br> 
  8 = 2x2x2 = 2<sup>3</sup> 
  <br>
  81 = 3x3x3x3 => 3<sup>4</sup> 
  <br>
  18 = 2 x 3<sup>2</sup>  
  </p>
  <h4>Square and Square Root</h3>
  <p>
  <strong>Square</strong> of a number is the process of multiplying the number by itself e.g.  
  <br>
  Square of 3 = 3x3 = 3<sup>2</sup>  => 9
  <br>
  Square of <strong>3</strong> = <strong>9</strong>
  <br>
  <br>
  <strong>Square root</strong> of a particular number is the process of determining a 
  number that will multiply itself to give that particular number e.g.
  <br>
  Square root of <b>9</b> 
  <br>
  9  =  3 x 3  = 3<sup>2</sup>
  <br>
  Because, <b>3</b> in 9 has <b>power</b> or <b>index</b> of <b>2</b>, then the square root 9 is <b>3</b>.
  <br>
  <strong> The Symbol of Square root is √ </strong>
  </p>
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <p>
      <b>Example 1</b>
      <br>
      Find the Square root of 576.
      <br>
      576 = 2 x 2 x 2 x 2 x 2 x 2 x 3 x 3
      <br>
      <span class='ml-4'>= 2<sup>2</sup> x  2<sup>2</sup>  x 
      2<sup>2</sup> x 3<sup>2</sup></span>
      <br>
      <span class='ml-4'>  
      = (2 x 2 x 2 x 3) (2 x 2 x 2 x 3)
      </span>
      <br>
      <span class='ml-4'>
      = 24 x 24
      </span>
      <br>
      <span>
      Therefore, <strong>√576</strong> = 24
      </span>
      </p>
      </div>
      <div class="col">
      <p>
      <b>Example 2 </b>
      <br>
      Find <strong>√6400.</strong>
      <br>
      6400 = 64 X 100 => 8<sup>2</sup> x 10<sup>2</sup>
      = (8 x 10) (8 x 10)
      <br>
      Therefore, √6400 = 8 x 10 => 80
      </p>
      </div>
    </div>
    </div>
    <p>
  <b>Example 3</b>
  <br>
  Find the smallest number that 1125 must be multiply by, so that the product is a perfect square.
  <br>
  1125 = 3<sup>2</sup> X 5<sup>3</sup>. Since the power of 5 is odd number (3), it needs to be multiplied by extra <b>5</b> to have power of 4 and make it a perfect square i.e. 
  <br>
  1125 x 5 = 3<sup>2</sup> x 5<sup>3</sup> x 5<sup>1</sup>
  <br>
  5625 = 3<sup>2</sup> x 5<sup>2</sup> x 5<sup>2</sup> => (3x5x5) (3x5x5)
  <br>
  5625 = 75 x 75 
  <br>
  The answer = <strong>5</strong>
  </p>
  </article>
  <hr>
  <div class="d-flex justify-content-start text-primary">
  <h5>Test your <strong class='text-secondary'>Number Systems</strong> knowledge with these Objective Questions.</h5>
  </div>
  
  <article>
 

<div class='obj-cont' >
  <h6>1.	A baby boy is 125 days. What is his age in weeks and days?</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='17 weeks 6 days' id='option-11' style='transform: scale(1.2)'  />
      17 weeks 6 days</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='16 weeks' id='option-12' style='transform: scale(1.2)' />
      16 weeks</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='7 weeks 6 days' id='option-13' style='transform: scale(1.2)' />
      	7 weeks 6 days</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='16 weeks 6 days' id='option-14' style='transform: scale(1.2)' />
      16 weeks 6 days</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.Convert 3hrs 10mins 20secs to time in seconds.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='11420s' id='option-21' style='transform: scale(1.2)'  />
      11420s</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='20411s' id='option-22' style='transform: scale(1.2)' />
      20411s</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='12420s' id='option-23' style='transform: scale(1.2)' />
      12420s</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='11400s' id='option-24' style='transform: scale(1.2)' />
      11400s</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.What does CXXIV represent?</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='124' id='option-31' style='transform: scale(1.2)'  />
      124</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='74' id='option-32' style='transform: scale(1.2)' />
      74</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='524' id='option-33' style='transform: scale(1.2)' />
      524</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='174' id='option-34' style='transform: scale(1.2)' />
      174</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.Use Letter-Number coding system to translate (7, 15, 4) (2, 12, 5, 19, 19) (25, 15, 21).</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS MEE' id='option-41' style='transform: scale(1.2)'  />
      GOD BLESS MEE</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS YOU' id='option-42' style='transform: scale(1.2)' />
      GOD BLESS YOU</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='FAT GOOD DAY' id='option-43' style='transform: scale(1.2)' />
      FAT GOOD DAY</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='GOD BLESS DAY' id='option-44' style='transform: scale(1.2)' />
      GOD BLESS DAY</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid limegreen' 
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-42').style.border = '3px solid limegreen'
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.Give the value of 5 in 3<b>5</b>069.</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='Five thousand.' id='option-51' style='transform: scale(1.2)'  />
      Five thousand.</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='Five thousandths' id='option-52' style='transform: scale(1.2)' />
      Five thousandths</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='Five hundred' id='option-53' style='transform: scale(1.2)' />
      Five hundred</label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='Five hundredths' id='option-54' style='transform: scale(1.2)' />
      Five hundredths</label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid limegreen'
      document.getElementById('result-51').style.color = 'limegreen'
      document.getElementById('result-51').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid red'
      document.getElementById('result-53').style.color = 'red'
      document.getElementById('result-53').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-51').style.border = '3px solid limegreen'
      document.getElementById('result-51').style.color = 'limegreen'
      document.getElementById('result-51').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>

<article>
<div class='obj-cont'>
  <h6>6.Find the √4/25.</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>7</sub>' id='option-61' style='transform: scale(1.2)'  />
      <sup>2</sup>&frasl;<sub>7</sub></label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>5</sub>' id='option-62' style='transform: scale(1.2)' />
      <sup>2</sup>&frasl;<sub>5</sub></label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option5' value='<sup>2</sup>&frasl;<sub>10</sub>' id='option-63' style='transform: scale(1.2)' />
      <sup>2</sup>&frasl;<sub>10</sub></label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option5' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-64' style='transform: scale(1.2)' />
      <sup>1</sup>&frasl;<sub>2</sub></label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid red'
      document.getElementById('result-63').style.color = 'red'
      document.getElementById('result-63').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>7.Find the smallest number that 540 must be multiply by, so that the product is a perfect square.</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option6' value='20' id='option-71' style='transform: scale(1.2)'  />
      20</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option6' value='3' id='option-72' style='transform: scale(1.2)' />
      3</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option6' value='5' id='option-73' style='transform: scale(1.2)' />
      5</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option6' value='15' id='option-74' style='transform: scale(1.2)' />
      15</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer7()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid red'
      document.getElementById('result-71').style.color = 'red'
      document.getElementById('result-71').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer7() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer6)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <div>
  <%= render 'layouts/sideadvert' %>
  </div>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", mathematics_page1_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
