<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Geometrical Solids and Their Properties</h1>
</div>
<hr>
<article>
<strong>Solid</strong> is any object that takes up space. Most solid can be <strong>regular</strong> or <strong>irregular.</strong>
In <strong>regular solids;</strong> all sides are equal and all angles are the same. 
A shape with regular features is known as <strong>geometrical solid.</strong> 
In <strong>irregular solids</strong>; sides have different lengths and angles have different sizes. 
Example of solids with irregular shapes are stones, trees etc. 
Regular shapes are house, tin-cans, metal drums etc.
<br>
<br>
Solids can also be <strong>three dimensional</strong> which means having length, breadth and height. 
<strong>Cuboids, cubes, cones, cylinders, pyramid and spheres</strong> are three dimensional shapes, 
also called geometrical solids.
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Properties of Regular Solids</h2>
</div>
All solids have <strong>faces, edges</strong> and <strong>vertex</strong>;
<br>
<strong>Face</strong> => surface of solid shape.
<br>
<strong>Edge</strong> => a line on a solid where two faces meet.
<br>
<strong>Vertex</strong> => a point or corner on a solid where edges meet, the plural of a vertex is <strong>vertices</strong>.
<br>
<br>
<%= image_tag 'regularShape.png', alt:'regular solid shape', class: 'carol col-12 ml-4' %>
<br>
<strong>Net</strong> can be used informing solid shapes. 
The <strong>net</strong> is a flat shape that one can fold to make a solid. 
There can be net of a cuboid to form cuboid; 
there can also be net of a cube to form a cube etc.  
<br>
<%= image_tag 'NetShape.png', alt:'plane shape net ', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cuboids</h3>
</div>
A <strong>cuboid</strong> is a shape with rectangular faces. It has 1 rectangular face at the top, another 1 rectangular face at the bottom and 4 rectangular faces at the sides e.g. rectangular ice block, books rooms and rectangular boxes.
<br>
<%= image_tag 'Acuiboid.png', alt:'Cuboid image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cubes</h3>
</div>
A <strong>cube</strong> is a solid with six square faces. It has one square face at the top, another square face at the bottom and other square faces at the sides e.g. Sugar cube.
<%= image_tag 'Cube.png', alt:'Cube image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cylinders</h3>
</div>
A cylinder is a solid with two plane circular faces and one curved face i.e. one circular face at the top and the other plane circular face at the bottom, with a curved face that makes up the body of a cylinder e.g. Torch battery, measuring cylinder, cotton reel, round pencil, metal drums etc.
<br>
<%= image_tag 'Cylinder.png', alt:'cylinder image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Prisms</h3>
</div>
A prism is a solid with two plane end faces e.g. the laboratory glass prisms, 
hexagonal pencil, part of roof building. The base and the top faces of a prism 
are always the same shape, the name of a prism forms from the shape of the base 
and the top faces e.g. <strong>triangular prism</strong> has triangular shapes at the base and top faces. 
<strong>Hexagonal prism</strong> has 6 sided shapes (hexagonal shapes) at the base and the top faces.
<br>
<br>
<strong>Note</strong>; the side faces of right prisms are always rectangles.
<br>
<%= image_tag 'TriangularPrism.png', alt:'prism image', class: 'carol col-12 ml-4' %>
<br>
<strong>Cuboid</strong> is also a <strong>rectangular prism</strong> and the <strong>cylinder</strong> is known to be a <strong>special prism</strong>.
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cones</h3>
</div>
A <strong>cone</strong> is a solid with a circular base rising to a single vertex e.g. roof of round hut, sharp end of round pencil, some hats, mound of grains, ice cream cones etc.
<br>
<%= image_tag 'Cone.png', alt:'Cone image', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Pyramids</h3>
</div>
The names of pyramids come from the shape of their base faces; in triangular base pyramid, 
all its base faces are triangular in shape and it is known as <strong>tetrahedron.</strong>
<br>
<br>
<strong>Note;</strong> tetrahedron is four faces. The base faces plus <strong>1</strong> gives actual faces in pyramids.
<br>
<%= image_tag 'pyramid.png', alt:'pyramid image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Spheres</h3>
</div>
A sphere has a ball shape. Nearly every ball is sphere-shaped e.g. soccer balls, tennis ball etc. The half of a sphere is known as <strong>hemisphere</strong>.
<br>
<%= image_tag 'sphere.png', alt:'sphere image', class: 'carol col-12 ml-4' %>
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Geometrical Solids and Their Properties</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1.	------ is a flat shape that can be folded into a solid.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='Vertex' id='option-11' style='transform: scale(1.2)'  />
      Vertex</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='Net' id='option-12' style='transform: scale(1.2)' />
      Net</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='Edge' id='option-13' style='transform: scale(1.2)' />
      Edge</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='Base' id='option-14' style='transform: scale(1.2)' />
      Base</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Which of the following solids has no vertices?</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='Cone' id='option-21' style='transform: scale(1.2)'  />
      Cone</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='Cuboid' id='option-22' style='transform: scale(1.2)' />
      Cuboid</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='Pyramid' id='option-23' style='transform: scale(1.2)' />
      Pyramid</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='Cylinder' id='option-24' style='transform: scale(1.2)' />
      Cylinder</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Which of the following has the greatest number of vertices?</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='Hexagonal prism' id='option-31' style='transform: scale(1.2)'  />
      Hexagonal prism</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='Cuboid' id='option-32' style='transform: scale(1.2)' />
      Cuboid</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='Triangular-based pyramid' id='option-33' style='transform: scale(1.2)' />
      Triangular-based pyramid</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='Sphere' id='option-34' style='transform: scale(1.2)' />
      Sphere</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer8 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer3)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	A pyramid has a total of six triangular faces, how many faces does it have altogether?</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='5' id='option-41' style='transform: scale(1.2)'  />
     5</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='8' id='option-42' style='transform: scale(1.2)' />
     8</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='9' id='option-43' style='transform: scale(1.2)' />
      9</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='7' id='option-44' style='transform: scale(1.2)' />
    7</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer4').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.	How many edges does a triangular prism have?</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='3' id='option-51' style='transform: scale(1.2)'  />
   3</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='6' id='option-52' style='transform: scale(1.2)' />
     6</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='9' id='option-53' style='transform: scale(1.2)' />
      9</label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='18' id='option-54' style='transform: scale(1.2)' />
      18</label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid limegreen'
      document.getElementById('result-53').style.color = 'limegreen'
      document.getElementById('result-53').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-53').style.border = '3px solid limegreen'
      document.getElementById('result-53').style.color = 'limegreen'
      document.getElementById('result-53').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
</div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page19_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page21_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>





























































































































































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Geometrical Solids and Their Properties</h1>
</div>
<hr>
<article>
<strong>Solid</strong> is any object that takes up space. Most solid can be <strong>regular</strong> or <strong>irregular.</strong>
In <strong>regular solids;</strong> all sides are equal and all angles are the same. 
A shape with regular features is known as <strong>geometrical solid.</strong> 
In <strong>irregular solids</strong>; sides have different lengths and angles have different sizes. 
Example of solids with irregular shapes are stones, trees etc. 
Regular shapes are house, tin-cans, metal drums etc.
<br>
<br>
Solids can also be <strong>three dimensional</strong> which means having length, breadth and height. 
<strong>Cuboids, cubes, cones, cylinders, pyramid and spheres</strong> are three dimensional shapes, 
also called geometrical solids.
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Properties of Regular Solids</h2>
</div>
All solids have <strong>faces, edges</strong> and <strong>vertex</strong>;
<br>
<strong>Face</strong> => surface of solid shape.
<br>
<strong>Edge</strong> => a line on a solid where two faces meet.
<br>
<strong>Vertex</strong> => a point or corner on a solid where edges meet, the plural of a vertex is <strong>vertices</strong>.
<br>
<br>
<%= image_tag 'regularShape.png', alt:'regular solid shape', class: 'carol col-12 ml-4' %>
<br>
<strong>Net</strong> can be used informing solid shapes. 
The <strong>net</strong> is a flat shape that one can fold to make a solid. 
There can be net of a cuboid to form cuboid; 
there can also be net of a cube to form a cube etc.  
<br>
<%= image_tag 'NetShape.png', alt:'plane shape net ', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cuboids</h3>
</div>
A <strong>cuboid</strong> is a shape with rectangular faces. It has 1 rectangular face at the top, another 1 rectangular face at the bottom and 4 rectangular faces at the sides e.g. rectangular ice block, books rooms and rectangular boxes.
<br>
<%= image_tag 'Acuiboid.png', alt:'Cuboid image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cubes</h3>
</div>
A <strong>cube</strong> is a solid with six square faces. It has one square face at the top, another square face at the bottom and other square faces at the sides e.g. Sugar cube.
<%= image_tag 'Cube.png', alt:'Cube image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cylinders</h3>
</div>
A cylinder is a solid with two plane circular faces and one curved face i.e. one circular face at the top and the other plane circular face at the bottom, with a curved face that makes up the body of a cylinder e.g. Torch battery, measuring cylinder, cotton reel, round pencil, metal drums etc.
<br>
<%= image_tag 'Cylinder.png', alt:'cylinder image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Prisms</h3>
</div>
A prism is a solid with two plane end faces e.g. the laboratory glass prisms, 
hexagonal pencil, part of roof building. The base and the top faces of a prism 
are always the same shape, the name of a prism forms from the shape of the base 
and the top faces e.g. <strong>triangular prism</strong> has triangular shapes at the base and top faces. 
<strong>Hexagonal prism</strong> has 6 sided shapes (hexagonal shapes) at the base and the top faces.
<br>
<br>
<strong>Note</strong>; the side faces of right prisms are always rectangles.
<br>
<%= image_tag 'TriangularPrism.png', alt:'prism image', class: 'carol col-12 ml-4' %>
<br>
<strong>Cuboid</strong> is also a <strong>rectangular prism</strong> and the <strong>cylinder</strong> is known to be a <strong>special prism</strong>.
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Cones</h3>
</div>
A <strong>cone</strong> is a solid with a circular base rising to a single vertex e.g. roof of round hut, sharp end of round pencil, some hats, mound of grains, ice cream cones etc.
<br>
<%= image_tag 'Cone.png', alt:'Cone image', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Pyramids</h3>
</div>
The names of pyramids come from the shape of their base faces; in triangular base pyramid, 
all its base faces are triangular in shape and it is known as <strong>tetrahedron.</strong>
<br>
<br>
<strong>Note;</strong> tetrahedron is four faces. The base faces plus <strong>1</strong> gives actual faces in pyramids.
<br>
<%= image_tag 'pyramid.png', alt:'pyramid image', class: 'carol col-12 ml-4' %>
<br>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Spheres</h3>
</div>
A sphere has a ball shape. Nearly every ball is sphere-shaped e.g. soccer balls, tennis ball etc. The half of a sphere is known as <strong>hemisphere</strong>.
<br>
<%= image_tag 'sphere.png', alt:'sphere image', class: 'carol col-12 ml-4' %>
  </article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Geometrical Solids and Their Properties</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1.	------ is a flat shape that can be folded into a solid.</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option' value='4' id='option-61' style='transform: scale(1.2)'  />
      4</label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option' value='3' id='option-62' style='transform: scale(1.2)' />
      3</label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option' value='5' id='option-63' style='transform: scale(1.2)' />
      5</label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option' value='6' id='option-64' style='transform: scale(1.2)' />
      6</label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer6()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid red'
      document.getElementById('result-62').style.color = 'red'
      document.getElementById('result-62').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid limegreen'
      document.getElementById('result-63').style.color = 'limegreen'
      document.getElementById('result-63').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-63').style.border = '3px solid limegreen'
      document.getElementById('result-63').style.color = 'limegreen'
      document.getElementById('result-63').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Which of the following solids has no vertices?</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option1' value='Cone' id='option-71' style='transform: scale(1.2)'  />
      Cone</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option1' value='Cuboid' id='option-72' style='transform: scale(1.2)' />
      Cuboid</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option1' value='Pyramid' id='option-73' style='transform: scale(1.2)' />
      Pyramid</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option1' value='Cylinder' id='option-74' style='transform: scale(1.2)' />
      Cylinder</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer7()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid red'
      document.getElementById('result-71').style.color = 'red'
      document.getElementById('result-71').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer7() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer7)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-74').style.border = '3px solid limegreen'
      document.getElementById('result-74').style.color = 'limegreen'
      document.getElementById('result-74').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Which of the following has the greatest number of vertices?</h6>
 <div id='block-81' >
    <label for='option-81' style=' padding: 5px;'>
      <input type='radio' name='option2' value='Hexagonal prism' id='option-81' style='transform: scale(1.2)'  />
      Hexagonal prism</label>
    <span id='result-81'></span>
  </div>
 

  <div id='block-82'>
    <label for='option-82' style='padding: 5px;'>
      <input type='radio' name='option2' value='Cuboid' id='option-82' style='transform: scale(1.2)' />
      Cuboid</label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-83'>
    <label for='option-83' style='padding: 5px;'>
      <input type='radio' name='option2' value='Triangular-based pyramid' id='option-83' style='transform: scale(1.2)' />
      Triangular-based pyramid</label>
    <span id='result-83'></span>
  </div>
  

  <div id='block-84'>
    <label for='option-84' style=' padding: 5px;'>
      <input type='radio' name='option2' value='Sphere' id='option-84' style='transform: scale(1.2)' />
      Sphere</label>
    <span id='result-84'></span>
  </div>
 
  <button type='button' onclick='displayAnswer8()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer8() {
    if (document.getElementById('option-81').checked) {
      document.getElementById('block-81').style.border = '3px solid limegreen'
      document.getElementById('result-81').style.color = 'limegreen'
      document.getElementById('result-81').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-82').checked) {
      document.getElementById('block-82').style.border = '3px solid red'
      document.getElementById('result-82').style.color = 'red'
      document.getElementById('result-82').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-83').checked) {
      document.getElementById('block-83').style.border = '3px solid red'
      document.getElementById('result-83').style.color = 'red'
      document.getElementById('result-83').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-84').checked) {
      document.getElementById('block-84').style.border = '3px solid red'
      document.getElementById('result-84').style.color = 'red'
      document.getElementById('result-84').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer8() {
    let showAnswer8 = document.createElement('p')
    showAnswer8.innerHTML = 'Show Corrent Answer'
    showAnswer8.style.position = 'relative'
    showAnswer8.style.top = '-150px'
    showAnswer8.style.fontSize = '1.5rem'
    document.getElementById('showanswer8').appendChild(showAnswer8)
    showAnswer8.addEventListener('click', () => {
      document.getElementById('block-81').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer8').removeChild(showAnswer8)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	A pyramid has a total of six triangular faces, how many faces does it have altogether?</h6>
 <div id='block-91' >
    <label for='option-91' style=' padding: 5px;'>
      <input type='radio' name='option3' value='5' id='option-91' style='transform: scale(1.2)'  />
     5</label>
    <span id='result-91'></span>
  </div>
 

  <div id='block-92'>
    <label for='option-92' style='padding: 5px;'>
      <input type='radio' name='option3' value='8' id='option-92' style='transform: scale(1.2)' />
     8</label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-93'>
    <label for='option-93' style='padding: 5px;'>
      <input type='radio' name='option3' value='9' id='option-93' style='transform: scale(1.2)' />
      9</label>
    <span id='result-93'></span>
  </div>
  

  <div id='block-94'>
    <label for='option-94' style=' padding: 5px;'>
      <input type='radio' name='option3' value='7' id='option-94' style='transform: scale(1.2)' />
    7</label>
    <span id='result-94'></span>
  </div>
 
  <button type='button' onclick='displayAnswer9()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer9() {
    if (document.getElementById('option-91').checked) {
      document.getElementById('block-91').style.border = '3px solid red'
      document.getElementById('result-91').style.color = 'red'
      document.getElementById('result-91').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-92').checked) {
      document.getElementById('block-92').style.border = '3px solid red' 
      document.getElementById('result-92').style.color = 'red'
      document.getElementById('result-92').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-93').checked) {
      document.getElementById('block-93').style.border = '3px solid red'
      document.getElementById('result-93').style.color = 'red'
      document.getElementById('result-93').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-94').checked) {
      document.getElementById('block-94').style.border = '3px solid limegreen'
      document.getElementById('result-94').style.color = 'limegreen'
      document.getElementById('result-94').innerHTML = 'Correct!'
      showCorrectAnswer9()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer9() {
    let showAnswer9 = document.createElement('p')
    showAnswer9.innerHTML = 'Show Corrent Answer'
    showAnswer9.style.position = 'relative'
    showAnswer9.style.top = '-150px'
    showCorrectAnswer9.style.fontSize = '1.5rem'
    document.getElementById('showanswer9').appendChild(showAnswer9)
    showAnswer9.addEventListener('click', () => {
      document.getElementById('block-94').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      document.getElementById('showanswer9').removeChild(showAnswer9)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.	How many edges does a triangular prism have?</h6>
 <div id='block-101' >
    <label for='option-101' style=' padding: 5px;'>
      <input type='radio' name='option4' value='3' id='option-101' style='transform: scale(1.2)'  />
3</label>
    <span id='result-101'></span>
  </div>
 

  <div id='block-102'>
    <label for='option-102' style='padding: 5px;'>
      <input type='radio' name='option4' value='6' id='option-102' style='transform: scale(1.2)' />
     6</label>
    <span id='result-102'></span>
  </div>
  

  <div id='block-103'>
    <label for='option-103' style='padding: 5px;'>
      <input type='radio' name='option4' value='9' id='option-103' style='transform: scale(1.2)' />
    9</label>
    <span id='result-103'></span>
  </div>
  

  <div id='block-104'>
    <label for='option-104' style=' padding: 5px;'>
      <input type='radio' name='option4' value='18' id='option-104' style='transform: scale(1.2)' />
      18</label>
    <span id='result-104'></span>
  </div>
 
  <button type='button' onclick='displayAnswer10()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer10() {
    if (document.getElementById('option-101').checked) {
      document.getElementById('block-101').style.border = '3px solid red'
      document.getElementById('result-101').style.color = 'red'
      document.getElementById('result-101').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-102').checked) {
      document.getElementById('block-102').style.border = '3px solid red'
      document.getElementById('result-102').style.color = 'red'
      document.getElementById('result-102').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-103').checked) {
      document.getElementById('block-103').style.border = '3px solid limegreen'
      document.getElementById('result-103').style.color = 'limegreen'
      document.getElementById('result-103').innerHTML = 'Correct!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-104').checked) {
      document.getElementById('block-104').style.border = '3px solid red'
      document.getElementById('result-104').style.color = 'red'
      document.getElementById('result-104').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer10() {
    let showAnswer10 = document.createElement('p')
    showAnswer10.innerHTML = 'Show Corrent Answer'
    showAnswer10.style.position = 'relative'
    showAnswer10.style.top = '-150px'
    showAnswer10.style.fontSize = '1.5rem'
    document.getElementById('showanswer10').appendChild(showAnswer10)
    showAnswer10.addEventListener('click', () => {
      document.getElementById('block-104').style.border = '3px solid limegreen'
      document.getElementById('result-104').style.color = 'limegreen'
      document.getElementById('result-104').innerHTML = 'Correct!'
      document.getElementById('showanswer10').removeChild(showAnswer10)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill nav-small">
<button class='ml-3'>
<%= link_to "Prev>>", page19_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page21_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
