<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Enlargement and Similarity</h1>
</div>
<hr>
<article>
An <strong>enlargement</strong> about a centre of enlargement is a transformation that will produce 
a similar shape bigger than the original shape. In enlargement, the produced shape 
must be similar to the original with different size i.e. not <strong>congruent</strong> shapes. 
<strong>Congruent shapes</strong> have the same shape and the same size. There can also be a reduction 
which is the opposite of the enlargement. In <strong>reduction</strong>, the produced shape is similar, but 
smaller than the original shape.
<br>
<br>
<strong>Note:</strong> An enlargement requires a <strong>centre of enlargement</strong> and <strong>scale factor.</strong>
<br>
<br>
<strong>Example 1</strong>
<br>
<%= image_tag 'Enlargement-fig.png', alt:'enlargement image', class: 'carol' %>
<br>
<strong>Fig 1.0</strong>
<br>
The point O is the <strong>centre of enlargement.</strong>
<br>
∆A1B1C1 is the enlargement of ∆BCD. Therefore, symbol ∆ means triangle.
<br>
<br>
The shape before the enlargement is called <strong>object</strong> while the shape after enlargement is called <strong>image.</strong> In figure fig 1.0, the triangle in black is the object and the triangle in blue is the image.
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>The Properties of Enlargement</h2>
</div>
(i)	 All angles remain the same in the object and in the image.
<br>
(ii)	Each line in the object is parallel to the corresponding line in the image.
<br>
(iii)	The length of the sides is proportional to each other.
<br>
(iv)	Each side of the object is scaled by a scale factor e.g. if an enlargement has a scale factor of 3, it means each image side is 3 times the object side.
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Scale Factor</h3>
</div>
<strong>Scale factor</strong> is the ratio of the lengths of the corresponding sides in the image and its object. The scale factor has no unit.
<br>
<br>
<strong>In the figure 1.0 above;</strong>
<br>
<%= image_tag 'scale-factor.png', alt:'scale factor formula image', class: 'carol' %>
<br>
The scale factor may be <strong>positive, fractional or negative;</strong>
<br>
	(i) If a scale factor is <strong>positive</strong> e.g. 2, 3, 4 etc. It means the image is bigger than the object (original).
	<br>
  (ii) If the scale factor is <strong>fractional</strong> e.g. <sup>1</sup>&frasl;<sub>2</sub>, <sup>1</sup>&frasl;<sub>3</sub>, <sup>2</sup>&frasl;<sub>5</sub> etc. It means the image is smaller than the object (original), this is also known as <strong>reduction.</strong>
	<br>
  (iii) If the image is <strong>negative</strong> e.g. -2, -3, -1<sup>1</sup>&frasl;<sub>2</sub> etc. It means the image is on the other side of the centre of enlargement and turned upside down (<strong>inverted</strong>)
<br>
<%= image_tag 'Inversion-image.png', alt:'inverted image', class: 'carol' %>
<br>
<strong>Inverted Image</strong>
<br>
<br>
<strong>Example 2</strong>
<br>
Use these two similar triangles X and Y to find the sides’ <strong>m</strong> and <strong>n</strong>
<br>
<%= image_tag 'Triangle-enlarg.png', alt:'trianglular enlargement image', class: 'carol' %>
<br>
<strong>Solution</strong>
<br>
Calculate scale factor first;
<br>
Scale factor  = <sup>EF</sup>&frasl;<sub>BC</sub> = <sup>32</sup>&frasl;<sub>16</sub> = 2
<br>
Scale factor = <strong>2</strong>
<br>
<br>
To calculate <strong>m;</strong>
<br>
Scale factor = <sup>DF</sup>&frasl;<sub>AC</sub> ; DF = 24m, AC = m, scale factor = 2
<br>
2 = <sup>24</sup>&frasl;<sub>m</sub>  cross multiply;
<br>
2m = 24 divide both sides by 2;
<br>
<sup>2m</sup>&frasl;<sub>2</sub> = <sup>24</sup>&frasl;<sub>2</sub>
<br>
m = <strong>12m</strong>
<br>
<br>
To calculate <strong>n;</strong>
<br>
Scale factor = <sup>DE</sup>&frasl;<sub>AB</sub>; DE = n, AB = 20m, scale factor = 2
<br>
2 = <sup>n</sup>&frasl;<sub>20</sub>; cross multiply
<br>
n = 2 x 20
<br>
n = <strong>40m</strong>
<br>
<br>
<strong>Example 3</strong>
<br>
<%= image_tag 'triangle-enlargement2.png', alt:'right-angle enlargement image', class: 'carol' %>
<br>
Use the image above to answer the following questions;
<br>
(i) Find the scale factor
<br>
(ii) Find the length of side CD
<br>
(iii) Which point is the centre of enlargement?
<br>
<br>
<strong>Solution</strong>
<br>
(i)
<br>
Scale factor = <sup>OD</sup>&frasl;<sub>OB</sub>; OD = 6 + 4 = 10m, OB = 6m
<br>
Scale factor   =  <sup>10</sup>&frasl;<sub>6</sub> = <sup>5</sup>&frasl;<sub>3</sub>
<br>
Scale factor = <strong><sup>5</sup>&frasl;<sub>3</sub></strong>
<br>
(ii)
<br>
Scale factor = <sup>CD</sup>&frasl;<sub>AB</sub>; CD = ?, AB = 4m, scale factor = <sup>5</sup>&frasl;<sub>3</sub>
<br>
<sup>5</sup>&frasl;<sub>3</sub> = <sup>CD</sup>&frasl;<sub>3</sub> cross multiply;
<br>
3 x CD = 5 X 4
<br>
3CD = 20; divide both sides by 3
<br>
<sup>3CD</sup>&frasl;<sub>3</sub> = <sup>20</sup>&frasl;<sub>3</sub>
<br>
CD = <strong>6<sup>2</sup>&frasl;<sub>3</sub>m</strong>
<br>
(iii) 
<br>
The centre of enlargement is; <strong>Point zero(O)</strong>
<br>
<br>
<strong>Example 4</strong>
<br>
<%= image_tag 'rectangle-enlargement.png', alt:'rectangle enlargement image', class: 'carol' %>
<br>
Use the above to;
<br>
(i)	calculate the scale factor
<br>
(ii)	calculate the lengths; OD and AD
<br>
<br>
<strong>Solution</strong>
<br>
(i)
<br>
Scale factor = <sup>OF</sup>&frasl;<sub>OC</sub>; OF = 4 + 2 = 6m, OC = 4m
<br>
Scale factor = <sup>6</sup>&frasl;<sub>4</sub>
<br>
Scale factor = <strong><sup>3</sup>&frasl;<sub>2</sub></strong>
<br>
<strong>Length OD;</strong>
<br>
Scale factor = OD/OA <sup>OD</sup>&frasl;<sub>OA</sub>cross multiply;
<br>
OD = scale factor x OA; scale factor = <sup>3</sup>&frasl;<sub>2</sub>, OA = 10m
<br>
OD = <sup>3</sup>&frasl;<sub>2</sub> X 10
<br>
OD = 3 x 5
<br>
OD = <strong>15m</strong>
<br>
(ii)
<br>
<strong>Length AD;</strong>
<br>
OD = OA + AD; OD = 15m, OA = 10m and AD =?
<br>
15 = 10 + AD
<br>
AD = 15 – 10
<br>
AD = <strong>5m</strong>
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Enlargement and Similarity</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1. What does fractional scale factor denote?</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='Enlargement' id='option-11' style='transform: scale(1.2)'  />
      Enlargement</label>
    <span id='result-11'></span>
  </div>
 <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='Congruent' id='option-12' style='transform: scale(1.2)' />
      Congruent</label>
    <span id='result-12'></span>
  </div>
 <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='Reduction' id='option-13' style='transform: scale(1.2)' />
      Reduction</label>
    <span id='result-13'></span>
  </div>
  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='Inversion' id='option-14' style='transform: scale(1.2)' />
      Inversion</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. A juice packet is in cuboid shape; 12cm long, 6cm wide and 4cm high. The packets are packed in a similar box, a cuboid 90cm wide. Calculate the length of the box.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='200cm ' id='option-21' style='transform: scale(1.2)'  />
      200cm </label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='150cm' id='option-22' style='transform: scale(1.2)' />
      150cm</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='120cm' id='option-23' style='transform: scale(1.2)' />
      120cm</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='180cm' id='option-24' style='transform: scale(1.2)' />
      180cm</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3. <br><%= image_tag 'rectangle-eng-quest.png', alt:'Rectangular enlargement question image', class: 'carol' %> <br>Find the height fg in the figure M above.</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='10m' id='option-31' style='transform: scale(1.2)'  />
      10m</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='4m' id='option-32' style='transform: scale(1.2)' />
      4m</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='8m' id='option-33' style='transform: scale(1.2)' />
      8m</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='6m' id='option-34' style='transform: scale(1.2)' />
      6m</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <div>
 <%= render 'layouts/sideadvert' %>
 </div>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page15_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page17_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>

</div>




































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<br>

<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
  <h1 class='text-dark justify-content-center'>Enlargement and Similarity</h1>
  </div>
  <hr>
  <article>
  An <strong>enlargement</strong> about a centre of enlargement is a transformation that will produce 
  a similar shape bigger than the original shape. In enlargement, the produced shape 
  must be similar to the original with different size i.e. not <strong>congruent</strong> shapes. 
  <strong>Congruent shapes</strong> have the same shape and the same size. There can also be a reduction 
  which is the opposite of the enlargement. In <strong>reduction</strong>, the produced shape is similar, but 
  smaller than the original shape.
  <br>
  <br>
  <strong>Note:</strong> An enlargement requires a <strong>centre of enlargement</strong> and <strong>scale factor.</strong>
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  <%= image_tag 'Enlargement-fig.png', alt:'enlargement image', class: 'carol col-12' %>
  <br>
  <strong>Fig 1.0</strong>
  <br>
  The point O is the <strong>centre of enlargement.</strong>
  <br>
  ∆A1B1C1 is the enlargement of ∆BCD. Therefore, symbol ∆ means triangle.
  <br>
  <br>
  The shape before the enlargement is called <strong>object</strong> while the shape after enlargement is called <strong>image.</strong> In figure fig 1.0, the triangle in black is the object and the triangle in blue is the image.
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>The Properties of Enlargement</h2>
  </div>
  (i)	 All angles remain the same in the object and in the image.
  <br>
  (ii)	Each line in the object is parallel to the corresponding line in the image.
  <br>
  (iii)	The length of the sides is proportional to each other.
  <br>
  (iv)	Each side of the object is scaled by a scale factor e.g. if an enlargement has a scale factor of 3, it means each image side is 3 times the object side.
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Scale Factor</h3>
  </div>
  <strong>Scale factor</strong> is the ratio of the lengths of the corresponding sides in the image and its object. The scale factor has no unit.
  <br>
  <br>
  <strong>In the figure 1.0 above;</strong>
  <br>
  <%= image_tag 'scale-factor.png', alt:'scale factor formula image', class: 'carol col-12' %>
  <br>
  The scale factor may be <strong>positive, fractional or negative;</strong>
  <br>
    (i) If a scale factor is <strong>positive</strong> e.g. 2, 3, 4 etc. It means the image is bigger than the object (original).
    <br>
    (ii) If the scale factor is <strong>fractional</strong> e.g. <sup>1</sup>&frasl;<sub>2</sub>, <sup>1</sup>&frasl;<sub>3</sub>, <sup>2</sup>&frasl;<sub>5</sub> etc. It means the image is smaller than the object (original), this is also known as <strong>reduction.</strong>
    <br>
    (iii) If the image is <strong>negative</strong> e.g. -2, -3, -1<sup>1</sup>&frasl;<sub>2</sub> etc. It means the image is on the other side of the centre of enlargement and turned upside down (<strong>inverted</strong>)
  <br>
  <%= image_tag 'Inversion-image.png', alt:'inverted image', class: 'carol col-12' %>
  <br>
  <strong>Inverted Image</strong>
  <br>
  <br>
  <strong>Example 2</strong>
  <br>
  Use these two similar triangles X and Y to find the sides’ <strong>m</strong> and <strong>n</strong>
  <br>
  <%= image_tag 'Triangle-enlarg.png', alt:'trianglular enlargement image', class: 'carol carol' %>
  <br>
  <strong>Solution</strong>
  <br>
  Calculate scale factor first;
  <br>
  Scale factor  = <sup>EF</sup>&frasl;<sub>BC</sub> = <sup>32</sup>&frasl;<sub>16</sub> = 2
  <br>
  Scale factor = <strong>2</strong>
  <br>
  <br>
  To calculate <strong>m;</strong>
  <br>
  Scale factor = <sup>DF</sup>&frasl;<sub>AC</sub> ; DF = 24m, AC = m, scale factor = 2
  <br>
  2 = <sup>24</sup>&frasl;<sub>m</sub>  cross multiply;
  <br>
  2m = 24 divide both sides by 2;
  <br>
  <sup>2m</sup>&frasl;<sub>2</sub> = <sup>24</sup>&frasl;<sub>2</sub>
  <br>
  m = <strong>12m</strong>
  <br>
  <br>
  To calculate <strong>n;</strong>
  <br>
  Scale factor = <sup>DE</sup>&frasl;<sub>AB</sub>; DE = n, AB = 20m, scale factor = 2
  <br>
  2 = <sup>n</sup>&frasl;<sub>20</sub>; cross multiply
  <br>
  n = 2 x 20
  <br>
  n = <strong>40m</strong>
  <br>
  <br>
  <strong>Example 3</strong>
  <br>
  <%= image_tag 'triangle-enlargement2.png', alt:'right-angle enlargement image', class: 'carol col-12' %>
  <br>
  Use the image above to answer the following questions;
  <br>
  (i) Find the scale factor
  <br>
  (ii) Find the length of side CD
  <br>
  (iii) Which point is the centre of enlargement?
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  (i)
  <br>
  Scale factor = <sup>OD</sup>&frasl;<sub>OB</sub>; OD = 6 + 4 = 10m, OB = 6m
  <br>
  Scale factor   =  <sup>10</sup>&frasl;<sub>6</sub> = <sup>5</sup>&frasl;<sub>3</sub>
  <br>
  Scale factor = <strong><sup>5</sup>&frasl;<sub>3</sub></strong>
  <br>
  (ii)
  <br>
  Scale factor = <sup>CD</sup>&frasl;<sub>AB</sub>; CD = ?, AB = 4m, scale factor = <sup>5</sup>&frasl;<sub>3</sub>
  <br>
  <sup>5</sup>&frasl;<sub>3</sub> = <sup>CD</sup>&frasl;<sub>3</sub> cross multiply;
  <br>
  3 x CD = 5 X 4
  <br>
  3CD = 20; divide both sides by 3
  <br>
  <sup>3CD</sup>&frasl;<sub>3</sub> = <sup>20</sup>&frasl;<sub>3</sub>
  <br>
  CD = <strong>6<sup>2</sup>&frasl;<sub>3</sub>m</strong>
  <br>
  (iii) 
  <br>
  The centre of enlargement is; <strong>Point zero(O)</strong>
  <br>
  <br>
  <strong>Example 4</strong>
  <br>
  <%= image_tag 'rectangle-enlargement.png', alt:'rectangle enlargement image', class: 'carol col-12' %>
  <br>
  Use the above to;
  <br>
  (i)	calculate the scale factor
  <br>
  (ii)	calculate the lengths; OD and AD
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  (i)
  <br>
  Scale factor = <sup>OF</sup>&frasl;<sub>OC</sub>; OF = 4 + 2 = 6m, OC = 4m
  <br>
  Scale factor = <sup>6</sup>&frasl;<sub>4</sub>
  <br>
  Scale factor = <strong><sup>3</sup>&frasl;<sub>2</sub></strong>
  <br>
  <strong>Length OD;</strong>
  <br>
  Scale factor = OD/OA <sup>OD</sup>&frasl;<sub>OA</sub>cross multiply;
  <br>
  OD = scale factor x OA; scale factor = <sup>3</sup>&frasl;<sub>2</sub>, OA = 10m
  <br>
  OD = <sup>3</sup>&frasl;<sub>2</sub> X 10
  <br>
  OD = 3 x 5
  <br>
  OD = <strong>15m</strong>
  <br>
  (ii)
  <br>
  <strong>Length AD;</strong>
  <br>
  OD = OA + AD; OD = 15m, OA = 10m and AD =?
  <br>
  15 = 10 + AD
  <br>
  AD = 15 – 10
  <br>
  AD = <strong>5m</strong>
  </article>
  <hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Enlargement and Similarity</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1. What does fractional scale factor denote?</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='Enlargement' id='option-11' style='transform: scale(1.2)'  />
      Enlargement</label>
    <span id='result-11'></span>
  </div>
 <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='Congruent' id='option-12' style='transform: scale(1.2)' />
      Congruent</label>
    <span id='result-12'></span>
  </div>
 <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='Reduction' id='option-13' style='transform: scale(1.2)' />
      Reduction</label>
    <span id='result-13'></span>
  </div>
  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='Inversion' id='option-14' style='transform: scale(1.2)' />
      Inversion</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. A juice packet is in cuboid shape; 12cm long, 6cm wide and 4cm high. The packets are packed in a similar box, a cuboid 90cm wide. Calculate the length of the box.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='200cm ' id='option-21' style='transform: scale(1.2)'  />
      200cm </label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='150cm' id='option-22' style='transform: scale(1.2)' />
      150cm</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='120cm' id='option-23' style='transform: scale(1.2)' />
      120cm</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='180cm' id='option-24' style='transform: scale(1.2)' />
      180cm</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-24').style.border = '3px solid limegreen'
      document.getElementById('result-24').style.color = 'limegreen'
      document.getElementById('result-24').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3. <br><%= image_tag 'rectangle-eng-quest.png', alt:'Rectangular enlargement question image', class: 'carol' %> <br>Find the height fg in the figure M above.</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='10m' id='option-31' style='transform: scale(1.2)'  />
      10m</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='4m' id='option-32' style='transform: scale(1.2)' />
      4m</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='8m' id='option-33' style='transform: scale(1.2)' />
      8m</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='6m' id='option-34' style='transform: scale(1.2)' />
      6m</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <div>
 <%= render 'layouts/sideadvert' %>
  </div>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page15_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page17_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
