<div class="main">

<div class="row">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>

<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Straight Line Graphs</h1>
</div>
<hr>
<article>
<strong>Graph</strong> is a picture of data or information. Graphs show relationship between two quantities. <strong>Linear graph</strong> is known as a straight line graph.
<br>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Linear Graphs</h2>
</div>
<strong>Steps to follow when drawing a graph;</strong>
<br>
<b>(i)</b>	First, create a table of values for the variables. <strong>Table of values</strong> is a table with corresponding values of variables.
<br>
<b>(ii)</b>	Identify ordered pair. <strong>Ordered pair</strong> means two numbers arranged in a specified order from a table of values e.g. the ordered pairs from the <strong>time-distance</strong> table below are;<strong> (0;0), (1;50), (2;100), (3;150),(4;200).</strong>
<br>
<table class="table table-bordered">
    <strong>Table 1.9</strong>
      <thead>
        <tr>
          <td scope="col" class="text-center"><b>Time(min)</b></td>
          <td scope="col" class="text-center"><b>0</b></td>
          <td scope="col" class="text-center"><b>1</b></td>
          <td scope="col" class="text-center"><b>2</b></td>
          <td scope="col" class="text-center"><b>3</b></td>
          <td scope="col" class="text-center"><b>4</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Distance(m)</td>
          <td class="text-center">0</td>
          <td class="text-center">50</td>
          <td class="text-center">100</td>
          <td class="text-center">150</td>
          <td class="text-center">200</td>
         </tr>
    </tbody>
    </table>
<br>
<b>(iii)</b>	Use scale(s) to represent the values of variables on the table of values on the graph e.g. from the table of values in step (ii), you may use; 1cm to 1min on the horizontal axis (x-axis) and 1cm to 50m on the vertical axis (y-axis). It is important to choose large scale when drawing graphs.
<br>
<strong>Note;</strong> scale of a graph is the ratio representing a value on an axis or a ratio comparing the actual lengths to those on a drawing.
<br>
<b>(iv)</b>	Connect all the ordered pair points on the graph to have a continuous line.
<br>
<b>(v)</b>	Name the two axes and give a title to the graph.
<br>
<br>
<strong>Example 1</strong>	
<br>
A lorry travels 5km with a litre of petrol. Using the table of values below;
<br>
<strong> The Petrol-Distance Table of values;</strong>
<br>
<table class="table table-bordered">
    <strong>Table 2.0</strong>
      <thead>
        <tr>
          <td scope="col" class="text-center"><b>Petrol(litre)</b></td>
          <td scope="col" class="text-center"><b>0</b></td>
          <td scope="col" class="text-center"><b>10</b></td>
          <td scope="col" class="text-center"><b>20</b></td>
          <td scope="col" class="text-center"><b>30</b></td>
          <td scope="col" class="text-center"><b>40</b></td>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Distance(km)</td>
          <td class="text-center">0</td>
          <td class="text-center">50</td>
          <td class="text-center">100</td>
          <td class="text-center">150</td>
          <td class="text-center">200</td>
          </tr>
    </tbody>
    </table>
<br>
(a)	Using a scale of 2cm to 10litres on the horizontal axis and 2cm to 100km on the vertical axis; draw a graph of the information.
<br>
(b)	Use the graph drawn in <strong>(a)</strong> to evaluate;
<br>
<span class='ml-5'>(i)	The distance that the lorry will travel on 38 litres of petrol.</span>
<br>
<span class='ml-5'>(ii)	How much petrol would be consumed travelling 120km?</span>
<br>
<br>
<strong>Solution</strong>
<br>
<strong>(a)</strong>
<br>
<strong>The Petrol-Distance Graph</strong>
<br>
<%= image_tag 'petrol-distanceGraph.png', class: 'carol col-12' %> 
<div class="d-flex justify-content-center ">
<span class='text-dark justify-content-end pet'>Petrol(litre)</span>
</div>
b(i) The distance the lorry will travel on 38 litres of petrol; from the graph = <strong>190km</strong>
<br>
b(ii) The litres of petrol consumed travelling 120km distance; from the graph = <strong>24 litres</strong>
<br>
<br>
<strong>Example 2</strong>
<br>
Use a suitable scale and draw a graph to convert distance in kilometers to metres, if 1km is equal to 1000m. Use the graph to determine the following conversions;
<br>
(i)	1200m to km
<br>
(ii)	1800 to km
<br>
(iii)	3.2km to m
<br>
<strong>Solution</strong>
<br>
<strong>The Kilometer-Metre Table of Values;</strong>
<br>
<table class="table table-bordered">
    <strong>Table 2.1</strong>
      <thead>
        <tr>
          <td scope="col" class="text-center"><b>Kilometer(km)</b></td>
          <td scope="col" class="text-center"><b>0</b></td>
          <td scope="col" class="text-center"><b>1</b></td>
          <td scope="col" class="text-center"><b>2</b></td>
          <td scope="col" class="text-center"><b>3</b></td>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Metre(m)</td>
          <td class="text-center">0</td>
          <td class="text-center">1000</td>
          <td class="text-center">2000</td>
          <td class="text-center">3000</td>
          </tr>
    </tbody>
    </table>
<br>
<strong>The Kilometer-Metre Graph</strong>
<br>
<span> <%= image_tag 'metre-kilometerGraph.png', class: 'carol col-12' %> </span>
<br>
(i) 1200m to km; from the graph = <strong>1.2km</strong>
<br>
(ii) 1800m to km; from the graph = <strong>1.8km</strong>
<br>
(iii) 3.2km to m; from the graph = <strong>3200m</strong>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Speed-Time Graph</h3>
</div>
A <strong>speed-time</strong> graph is also known as <strong>velocity-time</strong> graph. <strong>Speed-time</strong> graph shows how speed (velocity) of an object changes over time during a particular journey. This can be used to determine the <strong>acceleration</strong>, <strong>deceleration</strong> and <strong>distance</strong> moved by a body.
<br>
<br>
<strong>Speed</strong> is the distance travelled per time. <strong>Speed</strong> = <sup>distance</sup>&frasl;<sub>time</sub> 
<br>
<br>
<strong>Acceleration</strong> is the rate at which speed or velocity of a body increases over time. 
<strong>Acceleration</strong> = <sup>speed</sup>&frasl;<sub>time</sub> <strong>or</strong> <sup>velocity</sup>&frasl;<sub>time</sub>
<br>
<br>
<strong>Deceleration</strong> is the rate at which the speed/velocity of a body decreases over time. 
<br>
<strong>Deceleration</strong> = <sup>–speed</sup>&frasl;<sub>time</sub> <strong>or</strong> <sup>–velocity</sup>&frasl;<sub>time</sub>
<br>
<br>
<strong>Distance</strong> is the space or gap from one point to another point. It is measure in <strong>metres</strong> or <strong>kilometers.</strong>
<br>
<br>
<strong>Example 1</strong>
<br>
<strong>The speed-time graph of a vehicle;</strong>
<br>
<span> <%= image_tag 'speed-timeGraph.png', class: 'carol col-12' %>
<br>
Using the speed-time graph above calculate;
<br>
(i)	The acceleration of the vehicle during first 5seconds.
<br>
(ii)	Distance of the vehicle from the rest before it begins to decelerate.
<br>
(iii)	The deceleration of the vehicle during the final stage.
<br>
<strong>Solution</strong>
<br>
<strong>(i)</strong> <strong>Acceleration between O and A</strong> =  <sup>speed</sup>&frasl;<sub>time</sub>
<br> 
Change in speed = Final speed − Initial speed 
<br> 
Speed = 10 − 0 =  10m/s and time = 5s − 0s = 5s
<br>
<strong>Acceleration</strong> = <sup>10</sup>&frasl;<sub>5</sub> = <strong>2m/s<sup>2</sup></strong>
<br>
<br>
<strong>(ii)</strong> Speed = <sup>distance</sup>&frasl;<sub>time</sub>          
<br>
<strong>Distance</strong> = average speed x time 
<br>
<strong>Distance travelled in the first stage;</strong>
<br>
Average speed = <sup>(0 + 10)</sup>&frasl;<sub>2</sub> = <sup>10</sup>&frasl;<sub>2</sub> = <strong> 5m/s </strong>
<br>
Time = <strong>5s</strong> 
<br>        
Distance = 5 x 5 = <strong>25m</strong>  
<br>     
<strong>Distance travelled in the second stage;</strong>
<br>
From the graph above;
<br>
Time = 20s ─ 5s = <strong>15s</strong>
<br>
Speed = <strong>10m/s</strong>
<br>
<strong>Distance</strong> = 15 x 10 = <strong>150m</strong>
<br>
<strong>The total distance travelled before acceleration</strong> = 25m + 150m = <strong>175m</strong>
<br>
<br>
<strong>(iii)</strong> <strong>Deceleration between B and E</strong> = <sup>speed</sup>&frasl;<sub>time</sub>
<br>
Change in speed = Final speed − Initial speed
<br>
Speed = 0 − 10 = <strong>− 10m/s</strong> 
<br> 
Time = 45s – 20s = <strong>25s</strong>
<br>
<strong>Deceleration</strong> = <sup>–10</sup>&frasl;<sub>25</sub> = <strong>− 0.4m/s<sup>2</sup></strong>
<br>
The vehicle decelerates at <strong>0.4m/s<sup>2</sup></strong>	
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Straight Line Graphs</strong> knowledge with these Objective Questions.</h5>
</div>
Gold costs $120 per kg. Use a suitable scale and draw a graph for the cost of gold and its corresponding mass.
<br>
<br>
<article>
<div class='obj-cont' >
  <h6>1. Using your graph, what is the cost of 20kg of gold?</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='$2500' id='option-11' style='transform: scale(1.2)'  />
      $2500</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='$210' id='option-12' style='transform: scale(1.2)' />
      $210</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='$200' id='option-13' style='transform: scale(1.2)' />
      $200</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='$2400' id='option-14' style='transform: scale(1.2)' />
      $2400</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid limegreen'
      document.getElementById('result-14').style.color = 'limegreen'
      document.getElementById('result-14').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-14').style.border = '3px solid limegreen'
      document.getElementById('result-14').style.color = 'limegreen'
      document.getElementById('result-14').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Using your graph, how much gold can be purchased with $780</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='7.5kg' id='option-21' style='transform: scale(1.2)'  />
      7.5kg</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='6.5kg' id='option-22' style='transform: scale(1.2)' />
      6.5kg</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='7kg' id='option-23' style='transform: scale(1.2)' />
      7kg</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='9kg' id='option-24' style='transform: scale(1.2)' />
      9kg</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
</div>
 </div>
  <div class="col-md-2 justify-content-center mt-3 ">
  <%= link_to "Advert/Sponsorship", contact_path, class: 'text-primary advert' %>
  
  <div>
  This space is created by the management for the interested organizations to advertise their products and sponsorships.
  </div>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", page11_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page12_path, class:'h3' %>
</button>
</nav>

<hr>
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>


