<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Reading and Writing Numbers</h1>
</div>
<hr>
<p>
<strong>Reading and writing numbers </strong>is a crucial concept in Mathematics 
that helps in being able to read and write any number. However, Mathematics 
students must know how to read/write numbers in words and 
figures effectively irrespective of how small or large the number(s) could be.
</p>
<article>
<div class='container-fluid'>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Building Block for Large Numbers</h2>
</div>

<table class="table table-bordered">
<strong>Table 1.2</strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Value</th>
      <th scope="col" class="text-center">Interpretation</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">thousand</td>
      <td class="text-center">1000</td>
      <td class="text-center">a ten hundred ( 10 hundred)</td>
      </tr>

    <tr>
      <td scope="col" class="text-center">million</td>
      <td scope="col" class="text-center">1 000 000</td>
      <td scope="col" class="text-center">a thousand thousand ( 1000 thousand )</td>
      
    </tr>
  <tr>
      <td class="text-center">billion</td>
      <td class="text-center">1 000 000 000</td>
      <td class="text-center">a thousand million ( 1000 million )</td>
    </tr>
    <tr>
      <td class="text-center">trillion</td>
      <td class="text-center">1 000 000 000 000</td>
      <td class="text-center">a thousand billion ( 1000 billion)</td>
    </tr>
    <tbody>
    </table>

    <p>
    <strong>Note: 1 trillion (1 000 000 000 000) can also be interpreted as a 
    million million => 1 000 000 million.</strong>
    </p>
    
<p>   
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Large Number Rule</h3>
</div>
 The <strong> general rule </strong> in writing large number is to group the digits 
  of large numbers in threes (3s) and left
  a small gap between each group for easy reading.

 </p>  
</article>

<article class='ml-1'>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following numbers in words;
    <br>
    (i) 527. 
    <br>
    (ii) 7 349.
    <br>
    (iii) 8 129 820.
    <br> 
    (iv) 19 803 744 310.
    <br>
    (v) 6 401 000 000 000.
    <br>
    <b>Solution</b>
    <br>
    (i)	527 => <strong>five hundred and twenty-seven.</strong>
    <br>
    (ii)	7 349 => <strong>seven thousand, three hundred and forty-nine.</strong>
    <br>
    (iii)	8 129 820 => <strong>eight million, one hundred and twenty-nine thousand, eight hundred and twenty.</strong>
    <br>
    (iv)	19 803 744 310 => <strong>
    nineteen billion, eight hundred and three million, 
    seven hundred and forty-four thousand, three hundred and ten.
    </strong>
    <br>
    (v)	6 401 000 000 000 => <strong>six trillion, four hundred and one billion.</strong>
    </div>
    <div class="col">
    <b>Example 2</b>

    <p>
    Write the following numbers in figures;
    <br>
    (i) six hundred and forty-nine. 
    <br>
    (ii) two hundred and thirty-five thousand, eight hundred and seventy-five.
    <br>
    (iii) five hundred thousand.
    <br>
    (iv) twenty-one million, four hundred and thirty-five thousand and eighty-nine.
    <br>
    (v) one hundred and thirteen million.
    <br>
    (vi) twenty-three billion, four hundred and fifty-six million, ninety-eight thousand, three hundred and forty-six. 
    <br>
    (vii) one trillion, eight hundred and fourteen billion, seven hundred and twenty-one million, nine hundred three thousand and seventy-three.
    </p>
    
    <b>Solution</b>
    <br>
    (i)	six hundred and forty-nine => <strong>647</strong>
    <br>
    (ii)	two hundred and thirty-five thousand, eight hundred and seventy-five =><strong> 235 875</strong>
    <br>
    (iii)	 five hundred thousand =>  <strong>500 000</strong>
    <br>
    (iv)	twenty-one million, four hundred and thirty-five thousand and eighty-nine => <strong>21 435 089</strong>
    <br>
    (v)	one hundred and thirteen million => <strong>113 000 000</strong>
    <br>
    (vi)	twenty-three billion, four hundred and fifty-six million, ninety-eight thousand, three hundred and forty-six => <strong>23 456 098 346</strong>
    <br>
    (vii)	one trillion, eight hundred and fourteen billion, seven hundred and twenty-one million, nine hundred three thousand and seventy-three => <strong>1 814 721 903 073</strong>
    </div>
  </div>
  </div>
</article>
<article class='ml-1'>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Digits and Words</h3>
</div>
<strong>This involves using the mixture of both digit and word in writing numbers.</strong>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following in a mixture of digits and words; 
    <br>
    (i) 3 200 000. 
    <br>
    (ii) 5 700 000 000.
    <br>
    (iii) 140 000 000. 
    <br>
    (iv) 300 000 000 000.
    <br>
    <b>Solution</b>
    <br>
    (i)	3 200 000 = 3.2 x 1 000 000 => <strong>3.2 million</strong>
    <br>
    (ii)	5 700 000 000 = 5.7 x 1 000 000 000 => <strong>5.7 billion</strong>
    <br>
    (iii)	140 000 000 = 140 x 1 000 000 =><strong> 140 million or 0.14 billion</strong>
    <br>
    (iv)	300 000 000 000 = 300 x 1 000 000 000 => <strong>300 billion or 0.3 trillion</strong>
    
    </div>
    <div class="col">
    <b>Example 2</b>
    <br>
    Express the following numbers in digits only;
    <br>
    (i) $2 million.
    <br>
    (iii) 2.2 million litres.
    <br>
    <b>Solution</b>
    <br>
    (i)	$2 million => <strong>$2 000 000</strong>
    <br>
    (ii)	2.2 million litres =><strong> 2 200 000 litres</strong>
    </div>
  </div>
</div>
</article>


<article class = 'ml-1'>
<br>

<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Small Numbers</h3>
</div>

<div class="d-flex justify-content-center mt-3">
<h4 class='text-dark justify-content-center'>Building Block for Small Numbers</h4>
</div>


The simple rule for writing small number is to precisely count
the number of digit(s) after decimal point (.) e.g.
<p>
5 tenths = 0.5 (<strong>1 digit</strong>)
<br>
5 hundredths = 0.05 (<strong>2 digits</strong>)
<br>
5 thousandths = 0.005 (<strong>3 digits</strong>)
<br>
5 ten thousandths = 0.0005 (<strong>4 digits</strong>)
<br>
5 hundred thousandths = 0.00005 (<strong>5 digits</strong>)
<br>
5 thousand thousandths or 5 millionths = 0.000005 (<strong>6 digits</strong>)
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following as decimal fractions; 
    <br>
    (i) 15 thousandths
    <br>
    (ii) <sup>465</sup>&frasl;<sub>100000</sub>
    <br> 
    (iii) 150 millionths
    <br> 
    (iv) <sup>200</sup>&frasl;<sub>10000</sub>
    </div>
    <div class="col">
    <b>Solution</b>
    <br>
    (i)	15 thousandths = 15 x 1 thousandths = 15 x 0.001 =><strong> 0.015</strong>
    <br>
    (ii) <sup>456</sup>&frasl;<sub>100000</sub> = <strong>0.00465</strong>
    <br>
    (iii)	150 millionths = 150 x 0.000001 =><strong> 0.00015</strong>
    <br>
    (iv)<sup>200</sup>&frasl;<sub>10000</sub> = 0.0200 => <strong>0.02</strong>
    <br>
    </div>
  </div>
  </div>
<br>
<h6>
<strong>Note:</strong> In a decimal fraction it is not compulsory to write zero (0) after the last non-zero digit.
</h6>
</p>
</article>

<hr>
<article class='ml-1'>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>reading and writing numbers</strong> knowledge with these Objective Questions.</h5>
</div>
<div class='obj-cont' >
  <h6>1. Write this in figure; forty-two billion, five hundred and sixty million, two hundred and sixteen thousand, eight hundred and thirty.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='420 560 216 830' id='option-11' style='transform: scale(1.2)'  />
      420 560 216 830</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='40 560 216 830' id='option-12' style='transform: scale(1.2)' />
      40 560 216 830</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='42 560 216 830' id='option-13' style='transform: scale(1.2)' />
      42 560 216 830</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='42 560 216.830' id='option-14' style='transform: scale(1.2)' />
      42 560 216.830</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article class='ml-1'>
<div class='obj-cont'>
  <h6>2. Exports on crude oil in the country is $ 3 650 000 000 000. What is the amount in mixture of digits and words?</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 million' id='option-21' style='transform: scale(1.2)'  />
      $3.65 million</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 trillion' id='option-22' style='transform: scale(1.2)' />
      $3.65 trillion</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 billion' id='option-23' style='transform: scale(1.2)' />
      $3.65 billion</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='3.65 trillion' id='option-24' style='transform: scale(1.2)' />
      3.65 trillion</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article class='ml-1'>
<div class='obj-cont'>
  <h6>3. Write 75 thousandths in decimal fractions</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='0.075' id='option-31' style='transform: scale(1.2)'  />
      0.075</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='0.75' id='option-32' style='transform: scale(1.2)' />
      0.75</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='0.00075' id='option-33' style='transform: scale(1.2)' />
      0.00075</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='7.5' id='option-34' style='transform: scale(1.2)' />
      7.5</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article class='ml-1'>
<div class='obj-cont'>
  <h6>4.	Write 71 349 in words.</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='Seven-one thousand, three hundred and forty-nine' id='option-41' style='transform: scale(1.2)'  />
      Seven-one thousand, three hundred and forty-nine</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='Seven thousand, three hundred and forty-nine' id='option-42' style='transform: scale(1.2)' />
    Seven thousand, three hundred and forty-nine</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='Seventy thousand, three hundred and forty-nine' id='option-43' style='transform: scale(1.2)' />
      Seventy thousand, three hundred and forty-nine</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='Seventy-one thousand, three hundred and forty-nine' id='option-44' style='transform: scale(1.2)' />
      Seventy-one thousand, three hundred and forty-nine</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer4').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
</div>
 </div>
  <div class="col-md-2 justify-content-center mt-1 ">
  <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", mathematics_index_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page2_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>








































































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Reading and Writing Numbers</h1>
</div>
<hr>
<p>
<strong>Reading and writing numbers </strong>is a crucial concept in Mathematics 
that helps in being able to read and write any number. However, Mathematics 
students must know how to read/write numbers in words and 
figures effectively irrespective of how small or large the number(s) could be.
</p>
<article>
<div class='container-fluid'>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Building Block for Large Numbers</h2>
</div>

<table class="table table-bordered">
<strong>Table 1.2</strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Value</th>
      <th scope="col" class="text-center">Interpretation</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">thousand</td>
      <td class="text-center">1000</td>
      <td class="text-center">a ten hundred ( 10 hundred)</td>
      </tr>

    <tr>
      <td scope="col" class="text-center">million</td>
      <td scope="col" class="text-center">1 000 000</td>
      <td scope="col" class="text-center">a thousand thousand ( 1000 thousand )</td>
      
    </tr>
  <tr>
      <td class="text-center">billion</td>
      <td class="text-center">1 000 000 000</td>
      <td class="text-center">a thousand million ( 1000 million )</td>
    </tr>
    <tr>
      <td class="text-center">trillion</td>
      <td class="text-center">1 000 000 000 000</td>
      <td class="text-center">a thousand billion ( 1000 billion)</td>
    </tr>
    <tbody>
    </table>

    <p>
    <strong>Note: 1 trillion (1 000 000 000 000) can also be interpreted as a 
    million million => 1 000 000 million.</strong>
    </p>
    
<p>   
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Large Number Rule</h3>
</div>
 


  The <strong> general rule </strong> in writing large number is to group the digits 
  of large numbers in threes (3s) and left
  a small gap between each group for easy reading.

 </p>  
</article>

<article class='ml-1'>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following numbers in words;
    <br>
    (i) 527. 
    <br>
    (ii) 7 349.
    <br>
    (iii) 8 129 820.
    <br> 
    (iv) 19 803 744 310.
    <br>
    (v) 6 401 000 000 000.
    <br>
    <b>Solution</b>
    <br>
    (i)	527 => <strong>five hundred and twenty-seven.</strong>
    <br>
    (ii)	7 349 => <strong>seven thousand, three hundred and forty-nine.</strong>
    <br>
    (iii)	8 129 820 => <strong>eight million, one hundred and twenty-nine thousand, eight hundred and twenty.</strong>
    <br>
    (iv)	19 803 744 310 => <strong>
    nineteen billion, eight hundred and three million, 
    seven hundred and forty-four thousand, three hundred and ten.
    </strong>
    <br>
    (v)	6 401 000 000 000 => <strong>six trillion, four hundred and one billion.</strong>
    </div>
    <div class="col">
    <b>Example 2</b>

    <p>
    Write the following numbers in figures;
    <br>
    (i) six hundred and forty-nine. 
    <br>
    (ii) two hundred and thirty-five thousand, eight hundred and seventy-five.
    <br>
    (iii) five hundred thousand.
    <br>
    (iv) twenty-one million, four hundred and thirty-five thousand and eighty-nine.
    <br>
    (v) one hundred and thirteen million.
    <br>
    (vi) twenty-three billion, four hundred and fifty-six million, ninety-eight thousand, three hundred and forty-six. 
    <br>
    (vii) one trillion, eight hundred and fourteen billion, seven hundred and twenty-one million, nine hundred three thousand and seventy-three.
    </p>
    
    <b>Solution</b>
    <br>
    (i)	six hundred and forty-nine => <strong>647</strong>
    <br>
    (ii)	two hundred and thirty-five thousand, eight hundred and seventy-five =><strong> 235 875</strong>
    <br>
    (iii)	 five hundred thousand =>  <strong>500 000</strong>
    <br>
    (iv)	twenty-one million, four hundred and thirty-five thousand and eighty-nine => <strong>21 435 089</strong>
    <br>
    (v)	one hundred and thirteen million => <strong>113 000 000</strong>
    <br>
    (vi)	twenty-three billion, four hundred and fifty-six million, ninety-eight thousand, three hundred and forty-six => <strong>23 456 098 346</strong>
    <br>
    (vii)	one trillion, eight hundred and fourteen billion, seven hundred and twenty-one million, nine hundred three thousand and seventy-three => <strong>1 814 721 903 073</strong>
    </div>
  </div>
  </div>
</article>
<article class='ml-1'>
<br>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Digits and Words</h3>
</div>
<strong>This involves using the mixture of both digit and word in writing numbers.</strong>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following in a mixture of digits and words; 
    <br>
    (i) 3 200 000. 
    <br>
    (ii) 5 700 000 000.
    <br>
    (iii) 140 000 000. 
    <br>
    (iv) 300 000 000 000.
    <br>
    <b>Solution</b>
    <br>
    (i)	3 200 000 = 3.2 x 1 000 000 => <strong>3.2 million</strong>
    <br>
    (ii)	5 700 000 000 = 5.7 x 1 000 000 000 => <strong>5.7 billion</strong>
    <br>
    (iii)	140 000 000 = 140 x 1 000 000 =><strong> 140 million or 0.14 billion</strong>
    <br>
    (iv)	300 000 000 000 = 300 x 1 000 000 000 => <strong>300 billion or 0.3 trillion</strong>
    
    </div>
    <div class="col">
    <b>Example 2</b>
    <br>
    Express the following numbers in digits only;
    <br>
    (i) $2 million.
    <br>
    (iii) 2.2 million litres.
    <br>
    <b>Solution</b>
    <br>
    (i)	$2 million => <strong>$2 000 000</strong>
    <br>
    (ii)	2.2 million litres =><strong> 2 200 000 litres</strong>
    </div>
  </div>
</div>
</article>


<article class = 'ml-1'>
<br>

<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Small Numbers</h3>
</div>

<div class="d-flex justify-content-center mt-3">
<h4 class='text-dark justify-content-center'>Building Block for Small Numbers</h4>
</div>


The simple rule for writing small number is to precisely count
the number of digit(s) after decimal point (.) e.g.
<p>
5 tenths = 0.5 (<strong>1 digit</strong>)
<br>
5 hundredths = 0.05 (<strong>2 digits</strong>)
<br>
5 thousandths = 0.005 (<strong>3 digits</strong>)
<br>
5 ten thousandths = 0.0005 (<strong>4 digits</strong>)
<br>
5 hundred thousandths = 0.00005 (<strong>5 digits</strong>)
<br>
5 thousand thousandths or 5 millionths = 0.000005 (<strong>6 digits</strong>)
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Write the following as decimal fractions; 
    <br>
    (i) 15 thousandths
    <br>
    (ii) <sup>465</sup>&frasl;<sub>100000</sub>
    <br> 
    (iii) 150 millionths
    <br> 
    (iv) <sup>200</sup>&frasl;<sub>10000</sub>
    </div>
    <div class="col">
    <b>Solution</b>
    <br>
    (i)	15 thousandths = 15 x 1 thousandths = 15 x 0.001 =><strong> 0.015</strong>
    <br>
    (ii) <sup>456</sup>&frasl;<sub>100000</sub> = <strong>0.00465</strong>
    <br>
    (iii)	150 millionths = 150 x 0.000001 =><strong> 0.00015</strong>
    <br>
    (iv)<sup>200</sup>&frasl;<sub>10000</sub> = 0.0200 => <strong>0.02</strong>
    <br>
    </div>
  </div>
  </div>
<br>
<h6>
<strong>Note:</strong> In a decimal fraction it is not compulsory to write zero (0) after the last non-zero digit.
</h6>
</p>
</article>


  <hr>
  <article class='ml-1'>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>reading and writing numbers</strong> knowledge with these Objective Questions.</h5>
</div>
<div class='obj-cont' >
  <h6>1. Write this in figure; forty-two billion, five hundred and sixty million, two hundred and sixteen thousand, eight hundred and thirty.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='420 560 216 830' id='option-11' style='transform: scale(1.2)'  />
      420 560 216 830</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='40 560 216 830' id='option-12' style='transform: scale(1.2)' />
      40 560 216 830</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='42 560 216 830' id='option-13' style='transform: scale(1.2)' />
      42 560 216 830</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='42 560 216.830' id='option-14' style='transform: scale(1.2)' />
      42 560 216.830</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article class='ml-3'>
<div class='obj-cont'>
  <h6>2. Exports on crude oil in the country is $ 3 650 000 000 000. What is the amount in mixture of digits and words?</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 million' id='option-21' style='transform: scale(1.2)'  />
      $3.65 million</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 trillion' id='option-22' style='transform: scale(1.2)' />
      $3.65 trillion</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='$3.65 billion' id='option-23' style='transform: scale(1.2)' />
      $3.65 billion</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='3.65 trillion' id='option-24' style='transform: scale(1.2)' />
      3.65 trillion</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-22').style.border = '3px solid limegreen'
      document.getElementById('result-22').style.color = 'limegreen'
      document.getElementById('result-22').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article class='ml-3'>
<div class='obj-cont'>
  <h6>3. Write 75 thousandths in decimal fractions</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='0.075' id='option-31' style='transform: scale(1.2)'  />
      0.075</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='0.75' id='option-32' style='transform: scale(1.2)' />
      0.75</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='0.00075' id='option-33' style='transform: scale(1.2)' />
      0.00075</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='7.5' id='option-34' style='transform: scale(1.2)' />
      7.5</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article class='ml-3'>
<div class='obj-cont'>
  <h6>4.	Write 71 349 in words.</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='Seven-one thousand, three hundred and forty-nine' id='option-41' style='transform: scale(1.2)'  />
      Seven-one thousand, three hundred and forty-nine</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='Seven thousand, three hundred and forty-nine' id='option-42' style='transform: scale(1.2)' />
    Seven thousand, three hundred and forty-nine</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='Seventy thousand, three hundred and forty-nine' id='option-43' style='transform: scale(1.2)' />
      Seventy thousand, three hundred and forty-nine</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='Seventy-one thousand, three hundred and forty-nine' id='option-44' style='transform: scale(1.2)' />
      Seventy-one thousand, three hundred and forty-nine</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer4').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-44').style.border = '3px solid limegreen'
      document.getElementById('result-44').style.color = 'limegreen'
      document.getElementById('result-44').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", mathematics_index_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page2_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
