<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <article>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center interest'>Probability</h1>
</div>
<hr>
<strong>Probability</strong> is the likelihood/chance of an event happening, usually as a fraction or percentage.
<br>
<%= image_tag 'probability-formulae.png', alt: 'Probability formula Image', class: 'carol col-12' %>
<br>
<br>
<strong>Possible outcome => Total outcome</strong>
<br>
<strong>P = <sup>r</sup>&frasl;<sub>n</sub></strong>; where p lies between 0 and 1, p may be a common fraction, a decimal fraction or a percentage.
<br>
<br>
<strong>In probability;</strong> 
<br>
<strong>Outcome</strong> => result
<br>
<strong>Required outcome</strong> => the result that you want to occur or happen
<br>
<strong>At random</strong> => without any pattern or particular order
<br>
We use probability to predict future events. When we use experimental data to predict future event(s), 
the prediction is known as <strong>experimental probability</strong> e.g. the probability of rain falling depends on the rainfall pattern in the past years.
<div class="d-flex justify-content-center mt-3">
    <h3 class='text-dark justify-content-center'>How to Justify Probability Conditions</h3>
</div>
•	If an outcome is certain to happen or occur, the probability is 1.
<br>
•	If an outcome is certain not to happen or occur, the probability is zero(0)
<br>
•	If the probability of an event happening is p, then the probability of such event not happening is 1 – p.
<br>
<br>
<strong>Example 1 (Experimental probability)</strong>
<br>
(i)	A coin, when tossed what is the probability it will land tail up?
<br>
(ii)	A die has six faces numbered 1 to 6. Find the probability of getting a 3 on the die.
<br>
(iii)	In an extended family the total number of female children is 28 and the number of male children is 12, Find the probability of having the next male child in the family.
<br>
<br>
<strong>Solution</strong>
<br>
(i)
<br>
The number of required outcome(r) = 1
<br> 
The number of possible outcome (n) = 2
<br>
Probability of tail up = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(ii)
<br>
<strong>Note: plural of die is dice.</strong> Die is a cube with six numbered faces (1 to 6)
<br>
 The number of required outcome of 3 = 1
<br>
The number of possible outcome = 6
<br>
Probability of getting 3 in a die =<strong> <sup>1</sup>&frasl;<sub>6</sub></strong>
<br>
(iii)
<br>
The number of male children = 12 
<br>
The number of female children = 28
<br>
Total number of children = 12 + 28 = 40
<br>
<%= image_tag 'pro-male-child.png', alt:'probability of male child', class: 'carol col-12' %>
<br>
Probability of next male child = <strong><sup>3</sup>&frasl;<sub>10</sub></strong>
<div class="d-flex justify-content-center mt-3">
 <h3 class='text-dark justify-content-center'>Probability as Fraction and Percentage</h3>
 </div>
 <strong>In probability;</strong>
 <br>
Either/or => addition or plus
<br>
Not/neither/nor => 1 – probability of either/or
<br>
And => multiplication
<br>
<strong>Example 2</strong>
<br>
There are 6 red caps, 10 blue caps and 4 black caps in a box. A cap is picked at random from the box. Find the probability that the cap is;
<br>
(i) Red (ii) Blue (iii) Black (iv) Either black or red (v) Neither blue nor red (vi) Blue and black (vii) Yellow (viii) probability of blue caps as percentage.
<br>
<strong>Solution</strong>
<br>
<strong>Note;</strong> to pick at random means without carefully choosing i.e. No pattern or order of choosing.
<br>
<strong>n(red) = 6</strong>; <strong>n(blue) = 10</strong>; <strong>n(black) = 4</strong>
<br>
The total number of caps = n(red) + n(blue) + n(black) = 6 + 10 + 4 = <strong>20 caps</strong>
<br>
(i)	Probability of a red cap = <sup>n(red)</sup>&frasl;<sub>total</sub> = <sup>6</sup>&frasl;<sub>20</sub> = <strong><sup>3</sup>&frasl;<sub>10</sub></strong>
<br>
(ii)	Probability of a blue cap = <sup>n(blue)</sup>&frasl;<sub>total</sub> = <sup>10</sup>&frasl;<sub>20</sub> = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(iii)	Probability of a black cap = <sup>n(black)</sup>&frasl;<sub>total</sub> = <sup>4</sup>&frasl;<sub>20</sub> = <strong><sup>1</sup>&frasl;<sub>5</sub></strong>
<br>
(iv)	Probability of a either black or red =  p(black) + p(red) = <sup>1</sup>&frasl;<sub>5</sub> + <sup>3</sup>&frasl;<sub>10</sub> = <sup>2 + 10</sup>&frasl;<sub>3</sub>  = <sup>5</sup>&frasl;<sub>10</sub> = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(v)	Probability of neither blue nor red = 1 – p(either blue or red)
<br>
P(either blue or red) = p(blue) + p(red) = <sup>1</sup>&frasl;<sub>2</sub> + <sup>3</sup>&frasl;<sub>10</sub> = <sup> 5 + 3</sup>&frasl;<sub>10</sub> = <sup>8</sup>&frasl;<sub>10</sub> = <strong> <sup>4</sup>&frasl;<sub>5</sub></strong>
<br>
Probability of neither blue nor red = 1 ─ <sup>4</sup>&frasl;<sub>5</sub>  = <sup>1</sup>&frasl;<sub>1</sub> ─ <sup>4</sup>&frasl;<sub>5</sub> = <sup>5 − 4</sup>&frasl;<sub>5</sub> = <strong><sup>1</sup>&frasl;<sub>5</sub></strong>
<br>
(vi) Probability of blue and black = p(blue) x p(black) = <sup>1</sup>&frasl;<sub>2</sub> x <sup>1</sup>&frasl;<sub>5</sub> = <strong><sup>1</sup>&frasl;<sub>10</sub></strong>
<br>
(vii) Probability of yellow = 0 (i.e. no yellow cap in the box)
<br>
(viii) Probability of blue cap as percentage = p(blue) x 100% = <sup>1</sup>&frasl;<sub>2</sub> x 100% = <strong>50% </strong>
</article>
<hr>
  <div class="d-flex justify-content-start text-primary">
  <h5>Test your <strong class='text-secondary'>Probability</strong> knowledge with these Objective Questions.</h5>
  </div>
  <article class='ml-3'>
  <div class='obj-cont' >
    <h6>1. What is the probability that a certain event will not occur.</h6>
   <div id='block-11' >
      <label for='option-11' style=' padding: 5px;'>
        <input type='radio' name='option' value='1' id='option-11' style='transform: scale(1.2)'  />
        1</label>
      <span id='result-11'></span>
    </div>
   
  
    <div id='block-12'>
      <label for='option-12' style='padding: 5px;'>
        <input type='radio' name='option' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-12' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>2</sub></label>
      <span id='result-12'></span>
    </div>
    
  
    <div id='block-13'>
      <label for='option-13' style='padding: 5px;'>
        <input type='radio' name='option' value='0' id='option-13' style='transform: scale(1.2)' />
      0</label>
      <span id='result-13'></span>
    </div>
    
  
    <div id='block-14'>
      <label for='option-14' style=' padding: 5px;'>
        <input type='radio' name='option' value='-1' id='option-14' style='transform: scale(1.2)' />
        -1</label>
      <span id='result-14'></span>
    </div>
   
    <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer1() {
      if (document.getElementById('option-11').checked) {
        document.getElementById('block-11').style.border = '3px solid red'
        document.getElementById('result-11').style.color = 'red'
        document.getElementById('result-11').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-12').checked) {
        document.getElementById('block-12').style.border = '3px solid red'
        document.getElementById('result-12').style.color = 'red'
        document.getElementById('result-12').innerHTML = 'Incorrect!'
        showCorrectAnswer1()
      }
      if (document.getElementById('option-13').checked) {
        document.getElementById('block-13').style.border = '3px solid limegreen'
        document.getElementById('result-13').style.color = 'limegreen'
        document.getElementById('result-13').innerHTML = 'Correct!'
        showCorrectAnswer1()
      }
      if (document.getElementById('option-14').checked) {
        document.getElementById('block-14').style.border = '3px solid red'
        document.getElementById('result-14').style.color = 'red'
        document.getElementById('result-14').innerHTML = 'Incorrect!'
        showCorrectAnswer1()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer1() {
      let showAnswer1 = document.createElement('p')
      showAnswer1.innerHTML = 'Show Corrent Answer'
      showAnswer1.style.position = 'relative'
      showAnswer1.style.top = '-150px'
      showAnswer1.style.fontSize = '1.5rem'
      document.getElementById('showanswer1').appendChild(showAnswer1)
      showAnswer1.addEventListener('click', () => {
        document.getElementById('block-13').style.border = '3px solid limegreen'
        document.getElementById('result-13').style.color = 'limegreen'
        document.getElementById('result-13').innerHTML = 'Correct!'
        document.getElementById('showanswer1').removeChild(showAnswer1)
      })
    }
  </script>
  </article>
  <hr>
  <article class='ml-3'>
  <div class='obj-cont'>
    <h6>2. A woman has given birth to 6 female children and 4 male children. What is the probability that the next child will be a boy?</h6>
   <div id='block-21' >
      <label for='option-21' style=' padding: 5px;'>
        <input type='radio' name='option1' value='<sup>3</sup>&frasl;<sub>5</sub>' id='option-21' style='transform: scale(1.2)'  />
        <sup>3</sup>&frasl;<sub>5</sub></label>
      <span id='result-21'></span>
    </div>
   
  
    <div id='block-22'>
      <label for='option-22' style='padding: 5px;'>
        <input type='radio' name='option1' value='<sup>2</sup>&frasl;<sub>5</sub>' id='option-22' style='transform: scale(1.2)' />
        <sup>2</sup>&frasl;<sub>5</sub></label>
      <span id='result-22'></span>
    </div>
    
  
    <div id='block-23'>
      <label for='option-23' style='padding: 5px;'>
        <input type='radio' name='option1' value='1' id='option-23' style='transform: scale(1.2)' />
        1</label>
      <span id='result-23'></span>
    </div>
    
  
    <div id='block-24'>
      <label for='option-24' style=' padding: 5px;'>
        <input type='radio' name='option1' value='<sup>4</sup>&frasl;<sub>5</sub>' id='option-24' style='transform: scale(1.2)' />
        <sup>4</sup>&frasl;<sub>5</sub></label>
      <span id='result-24'></span>
    </div>
   
    <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer2() {
      if (document.getElementById('option-21').checked) {
        document.getElementById('block-21').style.border = '3px solid red'
        document.getElementById('result-21').style.color = 'red'
        document.getElementById('result-21').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-22').checked) {
        document.getElementById('block-22').style.border = '3px solid limegreen'
        document.getElementById('result-22').style.color = 'limegreen'
        document.getElementById('result-22').innerHTML = 'Correct!'
        showCorrectAnswer2()
      }
      if (document.getElementById('option-23').checked) {
        document.getElementById('block-23').style.border = '3px solid red'
        document.getElementById('result-23').style.color = 'red'
        document.getElementById('result-23').innerHTML = 'Incorrect!'
        showCorrectAnswer2()
      }
      if (document.getElementById('option-24').checked) {
        document.getElementById('block-24').style.border = '3px solid red'
        document.getElementById('result-24').style.color = 'red'
        document.getElementById('result-24').innerHTML = 'Incorrect!'
        showCorrectAnswer2()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer2() {
      let showAnswer2 = document.createElement('p')
      showAnswer2.innerHTML = 'Show Corrent Answer'
      showAnswer2.style.position = 'relative'
      showAnswer2.style.top = '-150px'
      showAnswer2.style.fontSize = '1.5rem'
      document.getElementById('showanswer2').appendChild(showAnswer2)
      showAnswer2.addEventListener('click', () => {
        document.getElementById('block-22').style.border = '3px solid limegreen'
        document.getElementById('result-22').style.color = 'limegreen'
        document.getElementById('result-22').innerHTML = 'Correct!'
        document.getElementById('showanswer2').removeChild(showAnswer2)
      })
    }
  </script>
  </article>
  <hr>
  <article class='ml-3'>
  <div class='obj-cont'>
    <h6>3. A fair die tossed once, what is the probability of getting a 6.</h6>
   <div id='block-31' >
      <label for='option-31' style=' padding: 5px;'>
        <input type='radio' name='option2' value='<sup>5</sup>&frasl;<sub>6</sub>' id='option-31' style='transform: scale(1.2)'  />
        <sup>5</sup>&frasl;<sub>6</sub></label>
      <span id='result-31'></span>
    </div>
   
  
    <div id='block-32'>
      <label for='option-32' style='padding: 5px;'>
        <input type='radio' name='option2' value='<sup>2</sup>&frasl;<sub>3</sub>' id='option-32' style='transform: scale(1.2)' />
        <sup>2</sup>&frasl;<sub>3</sub></label>
      <span id='result-32'></span>
    </div>
    
  
    <div id='block-33'>
      <label for='option-33' style='padding: 5px;'>
        <input type='radio' name='option2' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-33' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>2</sub></label>
      <span id='result-33'></span>
    </div>
    
  
    <div id='block-34'>
      <label for='option-34' style=' padding: 5px;'>
        <input type='radio' name='option2' value='<sup>1</sup>&frasl;<sub>6</sub>' id='option-34' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>6</sub></label>
      <span id='result-34'></span>
    </div>
   
    <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer3() {
      if (document.getElementById('option-31').checked) {
        document.getElementById('block-31').style.border = '3px solid red'
        document.getElementById('result-31').style.color = 'red'
        document.getElementById('result-31').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-32').checked) {
        document.getElementById('block-32').style.border = '3px solid red'
        document.getElementById('result-32').style.color = 'red'
        document.getElementById('result-32').innerHTML = 'Incorrect!'
        showCorrectAnswer3()
      }
      if (document.getElementById('option-33').checked) {
        document.getElementById('block-33').style.border = '3px solid red'
        document.getElementById('result-33').style.color = 'red'
        document.getElementById('result-33').innerHTML = 'Incorrect!'
        showCorrectAnswer3()
      }
      if (document.getElementById('option-34').checked) {
        document.getElementById('block-34').style.border = '3px solid limegreen'
        document.getElementById('result-34').style.color = 'limegreen'
        document.getElementById('result-34').innerHTML = 'Correct!'
        showCorrectAnswer3()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer3() {
      let showAnswer3 = document.createElement('p')
      showAnswer3.innerHTML = 'Show Corrent Answer'
      showAnswer3.style.position = 'relative'
      showAnswer3.style.top = '-150px'
      showAnswer3.style.fontSize = '1.5rem'
      document.getElementById('showanswer3').appendChild(showAnswer2)
      showAnswer3.addEventListener('click', () => {
        document.getElementById('block-34').style.border = '3px solid limegreen'
        document.getElementById('result-34').style.color = 'limegreen'
        document.getElementById('result-34').innerHTML = 'Correct!'
        document.getElementById('showanswer3').removeChild(showAnswer3)
      })
    }
  </script>
  </article>
  </div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page16_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page18_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>






























































































































































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  
  <article>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center interest'>Probability</h1>
</div>
<hr>
<strong>Probability</strong> is the likelihood/chance of an event happening, usually as a fraction or percentage.
<br>
<%= image_tag 'probability-formulae.png', alt: 'Probability formula Image', class: 'carol' %>
<br>
<br>
<strong>Possible outcome => Total outcome</strong>
<br>
<strong>P = <sup>r</sup>&frasl;<sub>n</sub></strong>; where p lies between 0 and 1, p may be a common fraction, a decimal fraction or a percentage.
<br>
<br>
<strong>In probability;</strong> 
<br>
<strong>Outcome</strong> => result
<br>
<strong>Required outcome</strong> => the result that you want to occur or happen
<br>
<strong>At random</strong> => without any pattern or particular order
<br>
We use probability to predict future events. When we use experimental data to predict future event(s), 
the prediction is known as <strong>experimental probability</strong> e.g. the probability of rain falling depends on the rainfall pattern in the past years.
<div class="d-flex justify-content-center mt-3">
    <h3 class='text-dark justify-content-center'>How to Justify Probability Conditions</h3>
</div>
•	If an outcome is certain to happen or occur, the probability is 1.
<br>
•	If an outcome is certain not to happen or occur, the probability is zero(0)
<br>
•	If the probability of an event happening is p, then the probability of such event not happening is 1 – p.
<br>
<br>
<strong>Example 1 (Experimental probability)</strong>
<br>
(i)	A coin, when tossed what is the probability it will land tail up?
<br>
(ii)	A die has six faces numbered 1 to 6. Find the probability of getting a 3 on the die.
<br>
(iii)	In an extended family the total number of female children is 28 and the number of male children is 12, Find the probability of having the next male child in the family.
<br>
<br>
<strong>Solution</strong>
<br>
(i)
<br>
The number of required outcome(r) = 1
<br> 
The number of possible outcome (n) = 2
<br>
Probability of tail up = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(ii)
<br>
<strong>Note: plural of die is dice.</strong> Die is a cube with six numbered faces (1 to 6)
<br>
 The number of required outcome of 3 = 1
<br>
The number of possible outcome = 6
<br>
Probability of getting 3 in a die =<strong> <sup>1</sup>&frasl;<sub>6</sub></strong>
<br>
(iii)
<br>
The number of male children = 12 
<br>
The number of female children = 28
<br>
Total number of children = 12 + 28 = 40
<br>
<%= image_tag 'pro-male-child.png', alt:'probability of male child', class: 'carol' %>
<br>
Probability of next male child = <strong><sup>3</sup>&frasl;<sub>10</sub></strong>
<div class="d-flex justify-content-center mt-3">
 <h3 class='text-dark justify-content-center'>Probability as Fraction and Percentage</h3>
 </div>
 <strong>In probability;</strong>
 <br>
Either/or => addition or plus
<br>
Not/neither/nor => 1 – probability of either/or
<br>
And => multiplication
<br>
<strong>Example 2</strong>
<br>
There are 6 red caps, 10 blue caps and 4 black caps in a box. A cap is picked at random from the box. Find the probability that the cap is;
<br>
(i) Red (ii) Blue (iii) Black (iv) Either black or red (v) Neither blue nor red (vi) Blue and black (vii) Yellow (viii) probability of blue caps as percentage.
<br>
<strong>Solution</strong>
<br>
<strong>Note;</strong> to pick at random means without carefully choosing i.e. No pattern or order of choosing.
<br>
<strong>n(red) = 6</strong>; <strong>n(blue) = 10</strong>; <strong>n(black) = 4</strong>
<br>
The total number of caps = n(red) + n(blue) + n(black) = 6 + 10 + 4 = <strong>20 caps</strong>
<br>
(i)	Probability of a red cap = <sup>n(red)</sup>&frasl;<sub>total</sub> = <sup>6</sup>&frasl;<sub>20</sub> = <strong><sup>3</sup>&frasl;<sub>10</sub></strong>
<br>
(ii)	Probability of a blue cap = <sup>n(blue)</sup>&frasl;<sub>total</sub> = <sup>10</sup>&frasl;<sub>20</sub> = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(iii)	Probability of a black cap = <sup>n(black)</sup>&frasl;<sub>total</sub> = <sup>4</sup>&frasl;<sub>20</sub> = <strong><sup>1</sup>&frasl;<sub>5</sub></strong>
<br>
(iv)	Probability of a either black or red =  p(black) + p(red) = <sup>1</sup>&frasl;<sub>5</sub> + <sup>3</sup>&frasl;<sub>10</sub> = <sup>2 + 10</sup>&frasl;<sub>3</sub>  = <sup>5</sup>&frasl;<sub>10</sub> = <strong><sup>1</sup>&frasl;<sub>2</sub></strong>
<br>
(v)	Probability of neither blue nor red = 1 – p(either blue or red)
<br>
P(either blue or red) = p(blue) + p(red) = <sup>1</sup>&frasl;<sub>2</sub> + <sup>3</sup>&frasl;<sub>10</sub> = <sup> 5 + 3</sup>&frasl;<sub>10</sub> = <sup>8</sup>&frasl;<sub>10</sub> = <strong> <sup>4</sup>&frasl;<sub>5</sub></strong>
<br>
Probability of neither blue nor red = 1 ─ <sup>4</sup>&frasl;<sub>5</sub>  = <sup>1</sup>&frasl;<sub>1</sub> ─ <sup>4</sup>&frasl;<sub>5</sub> = <sup>5 − 4</sup>&frasl;<sub>5</sub> = <strong><sup>1</sup>&frasl;<sub>5</sub></strong>
<br>
(vi) Probability of blue and black = p(blue) x p(black) = <sup>1</sup>&frasl;<sub>2</sub> x <sup>1</sup>&frasl;<sub>5</sub> = <strong><sup>1</sup>&frasl;<sub>10</sub></strong>
<br>
(vii) Probability of yellow = 0 (i.e. no yellow cap in the box)
<br>
(viii) Probability of blue cap as percentage = p(blue) x 100% = <sup>1</sup>&frasl;<sub>2</sub> x 100% = <strong>50% </strong>
    </article>
  <hr>
  <div class="d-flex justify-content-start text-primary">
  <h5>Test your <strong class='text-secondary'>Probability</strong> knowledge with these Objective Questions.</h5>
  </div>
  <article class='ml-3'>
  <div class='obj-cont' >
    <h6>1. What is the probability that a certain event will not occur.</h6>
   <div id='block-41' >
      <label for='option-41' style=' padding: 5px;'>
        <input type='radio' name='option' value='1' id='option-41' style='transform: scale(1.2)'  />
        1</label>
      <span id='result-41'></span>
    </div>
   
  
    <div id='block-42'>
      <label for='option-42' style='padding: 5px;'>
        <input type='radio' name='option' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-42' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>2</sub></label>
      <span id='result-42'></span>
    </div>
    
  
    <div id='block-43'>
      <label for='option-43' style='padding: 5px;'>
        <input type='radio' name='option' value='0' id='option-43' style='transform: scale(1.2)' />
      0</label>
      <span id='result-43'></span>
    </div>
    
  
    <div id='block-44'>
      <label for='option-44' style=' padding: 5px;'>
        <input type='radio' name='option' value='-1' id='option-44' style='transform: scale(1.2)' />
        -1</label>
      <span id='result-44'></span>
    </div>
   
    <button type='button' class = "c-btn" onclick='displayAnswer4()'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer4() {
      if (document.getElementById('option-41').checked) {
        document.getElementById('block-41').style.border = '3px solid red'
        document.getElementById('result-41').style.color = 'red'
        document.getElementById('result-41').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-42').checked) {
        document.getElementById('block-42').style.border = '3px solid red'
        document.getElementById('result-42').style.color = 'red'
        document.getElementById('result-42').innerHTML = 'Incorrect!'
        showCorrectAnswer4()
      }
      if (document.getElementById('option-43').checked) {
        document.getElementById('block-43').style.border = '3px solid limegreen'
        document.getElementById('result-43').style.color = 'limegreen'
        document.getElementById('result-43').innerHTML = 'Correct!'
        showCorrectAnswer4()
      }
      if (document.getElementById('option-44').checked) {
        document.getElementById('block-44').style.border = '3px solid red'
        document.getElementById('result-44').style.color = 'red'
        document.getElementById('result-44').innerHTML = 'Incorrect!'
        showCorrectAnswer4()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer4() {
      let showAnswer4 = document.createElement('p')
      showAnswer4.innerHTML = 'Show Corrent Answer'
      showAnswer4.style.position = 'relative'
      showAnswer4.style.top = '-150px'
      showAnswer4.style.fontSize = '1.5rem'
      document.getElementById('showanswer4').appendChild(showAnswer4)
      showAnswer4.addEventListener('click', () => {
        document.getElementById('block-43').style.border = '3px solid limegreen'
        document.getElementById('result-43').style.color = 'limegreen'
        document.getElementById('result-43').innerHTML = 'Correct!'
        document.getElementById('showanswer4').removeChild(showAnswer4)
      })
    }
  </script>
  </article>
  <hr>
  <article class='ml-3'>
  <div class='obj-cont'>
    <h6>2. A woman has given birth to 6 female children and 4 male children. What is the probability that the next child will be a boy?</h6>
   <div id='block-51' >
      <label for='option-51' style=' padding: 5px;'>
        <input type='radio' name='option1' value='<sup>3</sup>&frasl;<sub>5</sub>' id='option-51' style='transform: scale(1.2)'  />
        <sup>3</sup>&frasl;<sub>5</sub></label>
      <span id='result-51'></span>
    </div>
   
  
    <div id='block-52'>
      <label for='option-52' style='padding: 5px;'>
        <input type='radio' name='option1' value='<sup>2</sup>&frasl;<sub>5</sub>' id='option-52' style='transform: scale(1.2)' />
        <sup>2</sup>&frasl;<sub>5</sub></label>
      <span id='result-52'></span>
    </div>
    
  
    <div id='block-53'>
      <label for='option-53' style='padding: 5px;'>
        <input type='radio' name='option1' value='1' id='option-53' style='transform: scale(1.2)' />
        1</label>
      <span id='result-53'></span>
    </div>
    
  
    <div id='block-54'>
      <label for='option-54' style=' padding: 5px;'>
        <input type='radio' name='option1' value='<sup>4</sup>&frasl;<sub>5</sub>' id='option-54' style='transform: scale(1.2)' />
        <sup>4</sup>&frasl;<sub>5</sub></label>
      <span id='result-54'></span>
    </div>
   
    <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer5() {
      if (document.getElementById('option-51').checked) {
        document.getElementById('block-51').style.border = '3px solid red'
        document.getElementById('result-51').style.color = 'red'
        document.getElementById('result-51').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-52').checked) {
        document.getElementById('block-52').style.border = '3px solid limegreen'
        document.getElementById('result-52').style.color = 'limegreen'
        document.getElementById('result-52').innerHTML = 'Correct!'
        showCorrectAnswer5()
      }
      if (document.getElementById('option-53').checked) {
        document.getElementById('block-53').style.border = '3px solid red'
        document.getElementById('result-53').style.color = 'red'
        document.getElementById('result-53').innerHTML = 'Incorrect!'
        showCorrectAnswer5()
      }
      if (document.getElementById('option-54').checked) {
        document.getElementById('block-54').style.border = '3px solid red'
        document.getElementById('result-54').style.color = 'red'
        document.getElementById('result-54').innerHTML = 'Incorrect!'
        showCorrectAnswer5()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer5() {
      let showAnswer5 = document.createElement('p')
      showAnswer5.innerHTML = 'Show Corrent Answer'
      showAnswer5.style.position = 'relative'
      showAnswer5.style.top = '-150px'
      showAnswer5.style.fontSize = '1.5rem'
      document.getElementById('showanswer5').appendChild(showAnswer5)
      showAnswer2.addEventListener('click', () => {
        document.getElementById('block-52').style.border = '3px solid limegreen'
        document.getElementById('result-52').style.color = 'limegreen'
        document.getElementById('result-52').innerHTML = 'Correct!'
        document.getElementById('showanswer5').removeChild(showAnswer5)
      })
    }
  </script>
  </article>
  <hr>
  <article class='ml-3'>
  <div class='obj-cont'>
    <h6>3. A fair die tossed once, what is the probability of getting a 6.</h6>
   <div id='block-61' >
      <label for='option-61' style=' padding: 5px;'>
        <input type='radio' name='option2' value='<sup>5</sup>&frasl;<sub>6</sub>' id='option-61' style='transform: scale(1.2)'  />
        <sup>5</sup>&frasl;<sub>6</sub></label>
      <span id='result-61'></span>
    </div>
   
  
    <div id='block-62'>
      <label for='option-62' style='padding: 5px;'>
        <input type='radio' name='option2' value='<sup>2</sup>&frasl;<sub>3</sub>' id='option-62' style='transform: scale(1.2)' />
        <sup>2</sup>&frasl;<sub>3</sub></label>
      <span id='result-62'></span>
    </div>
    
  
    <div id='block-63'>
      <label for='option-63' style='padding: 5px;'>
        <input type='radio' name='option2' value='<sup>1</sup>&frasl;<sub>2</sub>' id='option-63' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>2</sub></label>
      <span id='result-63'></span>
    </div>
    
  
    <div id='block-64'>
      <label for='option-64' style=' padding: 5px;'>
        <input type='radio' name='option2' value='<sup>1</sup>&frasl;<sub>6</sub>' id='option-64' style='transform: scale(1.2)' />
        <sup>1</sup>&frasl;<sub>6</sub></label>
      <span id='result-64'></span>
    </div>
   
    <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer6() {
      if (document.getElementById('option-61').checked) {
        document.getElementById('block-61').style.border = '3px solid red'
        document.getElementById('result-61').style.color = 'red'
        document.getElementById('result-61').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-62').checked) {
        document.getElementById('block-62').style.border = '3px solid red'
        document.getElementById('result-62').style.color = 'red'
        document.getElementById('result-62').innerHTML = 'Incorrect!'
        showCorrectAnswer6()
      }
      if (document.getElementById('option-63').checked) {
        document.getElementById('block-63').style.border = '3px solid red'
        document.getElementById('result-63').style.color = 'red'
        document.getElementById('result-63').innerHTML = 'Incorrect!'
        showCorrectAnswer6()
      }
      if (document.getElementById('option-64').checked) {
        document.getElementById('block-64').style.border = '3px solid limegreen'
        document.getElementById('result-64').style.color = 'limegreen'
        document.getElementById('result-64').innerHTML = 'Correct!'
        showCorrectAnswer6()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer6() {
      let showAnswer36 = document.createElement('p')
      showAnswer6.innerHTML = 'Show Corrent Answer'
      showAnswer6.style.position = 'relative'
      showAnswer6.style.top = '-150px'
      showAnswer6.style.fontSize = '1.5rem'
      document.getElementById('showanswer6').appendChild(showAnswer6)
      showAnswer6.addEventListener('click', () => {
        document.getElementById('block-64').style.border = '3px solid limegreen'
        document.getElementById('result-64').style.color = 'limegreen'
        document.getElementById('result-64').innerHTML = 'Correct!'
        document.getElementById('showanswer6').removeChild(showAnswer6)
      })
    }
  </script>
  </article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill nav-small">
<button class='ml-3'>
<%= link_to "Prev>>", page16_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page18_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>

