<div class="main">
<div class='container-fluid med'>

<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Basic-Algebra</h1>
</div>
<hr>
<article>
<strong>Algebra</strong> is the branch of mathematics that deals with symbols and the operations for manipulating those symbols.
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Identifying Coefficient in Algebraic Expression</h2>
</div>
<strong>Coefficient</strong> is a number multiplying an algebraic letter or a number in-front of an algebraic letter. It could be a whole number or a fraction.
<br>
<strong class='ml-4'>Example 1</strong>
<br>
<%= image_tag 'coefficient.png', class: 'carol' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Arranging Positive and Negative terms together in Algebra</h3>
</div>
This involves putting together all the elements with similar signs i.e. positive <strong>(+)</strong> term with positive <strong>(+)</strong> term and negative <strong>(-)</strong> term with negative <strong>(-)</strong> term.
<br>
<strong>Example 1</strong>
<br>
Simplify the following algebraic expressions (i) 3k – 5k – 4k + 10k (ii) 10y – 3y + 4y – 22y + 13y
<br>
<strong>Solution</strong>
<br>
(i)	3k – 5k – 4k + 10k = 3k + 10k – 5k – 4k = 13k – 9k = <strong>4k</strong>
<br>
(ii)	10y – 3y + 4y – 22y + 13y =  10y + 4y + 13y – 3y – 22y = 27y – 25y = <strong>2y</strong>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Grouping Like and Unlike Terms in Algebra</h3>
</div>
This involves arrangement of elements in <strong>like terms</strong> (elements with the same algebraic letters) and <strong>unlike terms</strong> (elements with different algebraic letters) patterns.
<br>
<strong>Example 1</strong>
<br>
Simplify the following algebraic expressions; (i) 2 + 8x + 5y – 3x –2y (ii) 9k + 3u – 4k –3u –7k + 5k
<br>
Solution
(i)	2 + 8x + 5y – 3x -2y = 8x - 3x +5y – 2y + 2 = <strong>5x + 3y + 2</strong>
<br>
(ii)	9k + 3u – 4k – 3u – 7k + 5k = 9k + 5k – 4k – 7k + 3u – 3u = 14k – 11k + 0 = <strong>3k</strong>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Multiplication and Division in Algebraic Expressions</h2>
</div>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Multiplication and Division in Algebraic Expressions</h3>
</div>
This involves the use of coefficients in the algebraic multiplication process.
<br>
<strong>Example 1</strong>
<br>
Simplify the following expressions (i) 3y x 4 (ii) 6 x 2m (iii) 8a x 3a (iv) 2 x 4ny (v) 12ab x 3b (v) k x 15ky.
<br>
<strong>Solution</strong>
(i)	3y x 4 = 3 x 4 x y = <strong>12y</strong>
<br>
(ii)	6 x 2m = 6 x 2 x m = <strong>12m</strong>
<br>
(iii)	8a x 3a = 8 x 3 x a x a = <strong>24a<sup>2</sup></strong>
<br>
(iv)	2 x 4ny = 2 x 4 x n x y = <strong>8ny</strong>
<br>
(v)	12ab x 3b = 12 x 3 x a x b x b = <strong>36ab<sup>2</sup></strong>
<br>
(vi)	k x 15ky = 15 x k x k x y = <strong>15k<sup>2</sup>y</strong>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Division in Algebraic Expressions</h3>
</div>
<strong>This involves division of the coefficients in the algebraic expressions.</strong>
<br>
<strong>Example 1</strong>
<br>
Simplify the following expressions; (i) <sup>8b</sup>&frasl;<sub>4</sub> (ii) 36a<sup>2</sup>y ÷ 6ay (iii) k<sup>2</sup> ÷ k 
<br>
<strong>Solution</strong>
<br>
<%= image_tag 'divSolution.png', class: 'carol' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Order of Operations in Algebra</h3>
</div>
The order of operations in mathematics can be easily resolved using <strong>BODMAS</strong> or <strong>PEMDAS</strong>. 
<br>
In <strong>BODMAS</strong>; <strong>B</strong> => Brackets, <strong>O</strong> => Order, <strong>D</strong> = Division, <strong>M</strong> => Multiplication, <strong>A</strong> => Addition and <strong>S</strong> => Subtraction. 
<br>
O is (of) in some countries.
<br>
In <strong>PEMDAS</strong>; <strong>P</strong> => Parentheses, <strong>E</strong> = Exponents, <strong>M</strong> => Multiplication, <strong>D</strong> = Division, <strong>A</strong> => Addition and <strong>S</strong> => Subtraction.
<br>
<strong>The order of operations rules in algebraic expressions;</strong>
<br>
(i)	If there are no brackets/parentheses, do multiplication or division before addition or subtraction.
<br>
(ii)If there are brackets/parentheses, do the operations in the brackets/parentheses first.
<br>
<%= link_to "Click here for more information on BODMAS/PEMDAS and the order of operations.", page3_path, class: "#{current? "active", page3_path}"%>
<br>
<strong>Example 1</strong>
<br>
Solve the following expressions; (i) 14 x 3 – 2 + 12 ÷ 6 (ii) 6 x 2n – (4n + 3n) x 3 (iii) 8y + 12y ÷ 6 (iv) 21k ÷ 7 + 6k + 2 x 3k.
<br>
<strong>Solution</strong>
<br>
This can be solved using BODMAS/PEMDAS;
<br>
(i)	<strong>14 x 3 – 2 + 12 ÷ 6 </strong>= (14 x 3) – 2 + (12 ÷ 6) = 42 –2 + 2 = 42 + 2 – 2 = 44 – 2 = <strong>42</strong>
<br>
(ii) <strong>6 x 2n – (4n + 3n) x 3</strong> = (6 x 2n) – (4n + 3n) x 3  = 12n – 7n x 3 = 12n – 21n = <strong>-9n</strong>
<br>
(iii) <strong>8y + 12y ÷ 6</strong> = 8y + (<sup>12y</sup>&frasl;<sub>6</sub>) = 8y + 2y = <strong>10y</strong>
<br>
(iv) <strong>21k ÷ 7 + 6k + 2 x 3k</strong>  =  (<sup>21k</sup>&frasl;<sub>7</sub>) + 6k + (2 x 3k) = 3k + 6k + 6k = 9k + 6k = <strong>15k</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'> Removing Brackets in Algebraic Expression </h3>
</div>
This is the process of eliminating brackets from algebraic expressions, thereby exposing the terms to one another.
<div class="d-flex justify-content-center">
<h3 class='text-dark justify-content-center'>Positive Sign (+) before the Bracket</h3>
</div>
If the sign before the bracket is positive (+), the signs of the terms inside the bracket remain the same when the bracket/parenthesis is removed.
<br>
<strong>Note:</strong> just remove the bracket if there is no sign before the first bracket.
<br>
<strong>Example 1</strong>
<br>
Simplify the following; (i) 8y + (4k + 2y) (ii) 10m + (5m – 6n) (iii) (12r – 8m) + (7r – 4m) 
<br>
<strong>Solution</strong>
<br>
(i)	<strong>8y + (4k + 2y)</strong> = 8y + 4k + 2y = 8y + 2y + 4k = <strong>10y + 4k</strong>
<br>
(ii)	<strong>10m + (5m – 6n)</strong> = 10m + 5m – 6n = <strong>15m – 6n</strong>
<br>
(iii)	<strong>(12r – 8m) + (7r – 4m)</strong> =  12r – 8m + 7r – 4m = 12r + 7r – 8m – 4m = <strong>19r –12m</strong>
<div class="d-flex justify-content-center">
<h3 class='text-dark justify-content-center'>Negative Sign (–) before the Bracket</h3>
</div>
If the sign before the bracket is negative (–), the signs of the terms inside the bracket will change to the opposite signs when the bracket/parenthesis is removed i.e. if positive (+) it will change to negative (-) vice versa.
<br>
<strong>Example 2</strong>
<br>
Simplify the following algebraic expressions; (I) 7b – (5b + 2) (ii) 20n – (3m –3n + 2) (iii) (4y – x) – (5x – 3y)
<br>
<strong>Solution</strong>
<br>
(i)	<strong>7b – (5b + 2)</strong> = 7b – 5b – 2 = <strong>2b – 2</strong>
<br>
(ii)<strong>20n – (3m –3n + 2)</strong> = 20n – 3m +3n – 2 = 20n + 3n – 3m – 2 = <strong>23n – 3m – 2</strong>
<br>
(iii)<strong>(4y – x) – (5x – 3y)</strong> = 4y – x – 5x + 3y = 4y + 3y – 5x – x  = <strong>7y – 6x</strong> 
<br>
<strong>Example 3</strong>
<br>
Simplify the following by removing the brackets; 
<br>
(i) 5(2m – n) (ii) –4p (3q + 2) (iii) (–5x + y) (–9y) (iv) k (4a + 3) + 5(a + 2) (v) 3 (2x – y) –2(3x – 4y)
<br>
<strong>Solution</strong>
<br>
(i)	5(2m – n) = <strong>10m – 5n</strong>
<br>
(ii)	–4p (3q + 2) = –12pq – 8p
<br>
(iii)	(–5x + y) (–9y) = –9y (–5x + y) = <strong>45xy – 9y<sup>2</sup></strong>
<br>
(iv)	k (4a + 3) + 5(a + 2) = <strong>4ak + 3k + 5a + 10</strong>
<br>
(v)	3(2x – y) –2(3x – 4y) = 6x – 3y – 6x + 8y = 6x – 6x + 8y – 3y = 0 + 5y = <strong>5y</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'> Expansion in Algebra </h3>
</div>
<strong>Expansion</strong> means to remove or open up the brackets in algebraic expressions. When two terms are involved, it is called <strong>binomial</strong>, three terms means <strong>trinomial</strong>.
<br>
<strong>In binomial;</strong>
<br>
(i)	The first bracket is open up to be able the use the terms inside it.
<br>
(ii)	Each term in the first bracket is used to multiply the terms inside the second bracket appropriately.
<br>
<strong>Example 1</strong>
<br>	
Expand the following expressions; (i) (x + y) (w + z) (ii) (2m – 5n) (3m – 3) (iii) (3 – 2k) (5 + r) (iv) (3v – u) (u + 2v) (v) (y – 4)<sup>2</sup>
<br>
<strong>Solution</strong>
<br>
(i)	
(x + y) (w + z) = x (w + z) + y (w + z) = <strong>wx + xz + wy + yz</strong>
<br>
(ii)	(2m – 5n) (3m – 3) = 2m (3m – 3) –5n(3m – 3) = <strong>6m2 – 6m – 15mn + 15n</strong>
<br>
(iii)	(3 – 2k) (5 + r) = 3 (5 + r) -2k (5 + r) = <strong>15 + 3r – 10k – 2kr</strong>
<br>
(iv)	(3v – u) (u + 2v) = 3v (u + 2v) –u (u + 2v) = 3uv + 6v<sup>2</sup> – u<sup>2</sup> – 2uv = 3uv – 2uv + 6v<sup>2</sup> – u<sup>2</sup> = <strong>6v<sup>2</sup> + uv – u<sup>2</sup></strong>
<br>
(v)	(y – 4)<sup>2</sup> = (y – 4) (y – 4) = y(y – 4) –4(y – 4) = y<sup>2</sup> – 4y – 4y + 16 = <strong>y<sup>2</sup> – 8y + 16</strong>
<div class="d-flex justify-content-center">
  <h2 class='text-dark justify-content-center'> Factors, Factorization and Fractions in Algebraic Expressions </h2>
  </div>
  <strong>Factor</strong> is a whole number which divides exactly into another whole number.
 <br>
 
 <%= link_to "Click here for more explanation factors.", page2_path, class: "#{current? "active", page2_path}"%>
 <div class="d-flex justify-content-center">
 <h3 class='text-dark justify-content-center'>Factorization</h3>
 </div>
 To <strong>factorize</strong> means to write an expression as a product of its factors. <strong>Factorization</strong> is the process of factorizing an expression. It is simply a way of introducing brackets/parentheses to algebraic expressions. 
 <br>
 <strong>To easily factorize an algebraic expression;</strong>
 
  It is necessary to find the highest common factor (HCF) of all the terms in the expression.
  <br>
  <strong>Example 1</strong>
 <br>
 Factorize the following expressions; (i) 16x + 8y (ii) 3k<sup>2</sup> – 9k (iii) 36mn – 12m<sup>2</sup>
 <br>
 <strong>Solution</strong>
 <br>
 (i)
 <br>	
 16x + 8y; 8 is the HCF of 16x and 8y
 <br>
 16x + 8y = <strong>8 (2x + y)</strong>
 <br>
 (ii)	
 <br>
 3k<sup>2</sup> – 9k; 3k is the HCF of 3k<sup>2</sup> and 9k
 <br>
 3k<sup>2</sup> – 9k = <strong>3k (k – 3)</strong>
 <br>
 (iii)	
 <br>
 36mn – 12m<sup>2</sup> ; 12m is the HCF 36mn and 12m<sup>2</sup>
 <br>
 36mn – 12m<sup>2</sup> = <strong>12m (3n - m)</strong>
 <div class="d-flex justify-content-center">
 <h3 class='text-dark justify-content-center'>Common Factors with Larger Expressions</h3>
 </div> 
 <strong>Example 1</strong>
 <br>
 Factorize the following; 
 <br>
 (i) 2m (7n + 1) -3n (7n + 1) (ii) 10k<sup>3</sup> + 2k (r + 2) (iii) (2a + b) (5a – 3b) – (2a + b)<sup>2</sup>  (iv) (c – 3y) (d + 2) – c + 3y
 <br>
 <strong>Solution</strong>
 <br>
 <strong>(i)</strong><br>2m (7n + 1) -3n (7n + 1); 7n + 1 is the HCF of 2m and 3n
 <br>
 2m (7n + 1) -3n (7n + 1) = <strong>(2m – 3n) (7n + 1)</strong>
 <br>
 <strong>(ii)</strong><br>10k<sup>3</sup> + 2k (r + 2); 2k is the HCF of 10k<sup>3</sup> and 2k (r + 2)
 <br>
 10k<sup>3</sup> + 2k (r + 2) = 2k(5k<sup>2</sup> + (r + 2))
 <br>
 10k<sup>3</sup> + 2k (r + 2) = <strong>2k(5k<sup>2</sup> + r + 2)</strong>
 <br>
 <strong>(iii)</strong><br>	(2a + b) (5a – 3b) – (2a + b)<sup>2</sup>  ; (2a + b) is the HCF
 <br>
 (2a + b) (5a – 3b) – (2a + b)<sup>2</sup> = (2a + b) ( (5a – 3b) – (2a + b) )
 <br>
 = (2a + b) (5a – 3b – 2a – b)
 <br>
= (2a + b) (5a – 2a – 3b – b)
<br>
(2a + b) (5a – 3b) – (2a + b)<sup>2</sup>  = <strong>(2a + b) (3a – 4b)</strong>  
<br>  
<strong>(iv)</strong><br>	(c – 3y) (d + 2) – c + 3y = (c – 3y) (d + 2) –1 (c – 3y); (c – 3y) is the HCF
 <br>
= (c – 3y) ( (d + 2) – 1 ) 
<br>
= (c – 3y ) ( d + 2 – 1)
<br>
(c – 3y) (d + 2) – c + 3y = <strong>(c – 3y) (d + 1)</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'> Factorization by Grouping </h3>
</div> 
Factorize the following; (i) 3x<sup>2</sup> – 6x + 2x –2 (ii) 16m – 4 + 4mn – n (iii) 6pq – 15qr – 10rs + 4ps
<br>
<strong>Solution</strong>
<br>
(i)	3x2 – 6x + 2x – 2 = 3x (x – 2) +2 (x – 2 ) = <strong>(3x + 2) (x – 2 )</strong>
<br>
(ii) 16m – 4 + 4mn – n = 4 (4m – 1 ) +n(4m – 1 ) = <strong>(4 + n) (4m – 1 )</strong>
<br>
(iii) 6pq – 15qr – 10rs + 4ps = 6pq + 4ps – 15qr – 10rs = 2p (3q + 2s) –5r (3q + 2s) = <strong>(2p – 5r) (3q + 2s)</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Factorization of Quadratic Expressions</h3>
  </div>
  <strong>Quadratic expression</strong> is the algebraic expression that has 2 as the highest power 
  of the unknown(s) in the algebraic expression e.g. 2x<sup>2</sup> + 5x – 3. In this equation, 
  2 is the highest power of the unknown x. In term of coefficient, 2 is the coefficient 
  of x<sup>2</sup> and 5 is the coefficient of x. Remember; coefficient of an algebraic term is 
  the number that multiplies the unknown or in-front of the unknown letters in the expression.
  <br>
  <br>
  <strong>Steps to factorize quadratic expression;</strong>
  <br>
  (i)	Use the last term to multiply the first term
  <br>
  (ii)	Find the factors of the multiplication of both first term and the last term, such that if added or subtracted will give the value of the second or middle term.
  <br>
  (iii)	Replace the middle term with the values obtained in the step (ii) to make it four terms.
  <br>
  (iv)	Introduce brackets to separate them.
  <br>
  (v)	Find the factors common to the new terms in the brackets
  <br>
  (vi)	Put the factors in a bracket and place it beside one of the brackets with the common terms.
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  Factorize the following quadratic expressions; (i) x<sup>2</sup> + 14x + 13 (ii) y<sup>2</sup> – 7y + 10 (iii) 2x<sup>2</sup> – 3x – 5 (iv) 4n<sup>2</sup> + 5n + 1
  <br>
  Solution
  <br>
  <strong>(i)</strong>
 
  x<sup>2</sup> + 14x + 13
  <br>
  -	The product of the first and the last term = x<sup>2</sup> x 13 = <strong>13x<sup>2</sup></strong>
  <br>
  -	Factor of <strong>13x<sup>2</sup></strong> to give <strong>14x</strong> = 13x + x
  <br>
  -	Replace 14x with <strong>13x + x</strong> in the equation; x<sup>2</sup> + 14x + 13 = <strong>x<sup>2</sup> + 13x + x + 13</strong>
  <br>
  -	Introduce brackets to separate them;
  <br>
  x<sup>2</sup> + 14x + 13 = (x<sup>2</sup> + 13x)+(x + 13)
  <br>
  - Find the factors common to the new terms in the brackets
  <br>
  (x<sup>2</sup> + 13x)+(x + 13) = x(x + 13)+1(x + 13)
  <br>
  - Put the factors in a bracket and place it beside one of the brackets with the common terms.
  <br>
  x(x + 13)+1(x + 13) = <strong>(x + 1)(x + 13)</strong>
  <br>
  <br>
  <strong>(ii)</strong>	
  
  y<sup>2</sup> – 7y + 10
  <br>
 
 
  y<sup>2</sup> – 7y + 10 = y<sup>2</sup> – 2y – 5y + 10
 
                      = (y<sup>2</sup> – 2y) (–5y + 10)
                    
                      = y(y – 2) –5 (y – 2)
                      <br>
  y<sup>2</sup> – 7y + 10 = <strong>(y – 5) (y –  2) </strong>    
  <br> 
  <br>    
  <strong>(iii)</strong>
  
  2x<sup>2</sup> – 3x – 5
  <br>
  2x<sup>2</sup> – 3x – 5 = 2x<sup>2</sup> – 5x + 2x – 5
 
    = (2x<sup>2</sup> – 5x) +(2x - 5)
                     
    = x(2x – 5) +1(2x – 5)
                     <br>
  2x<sup>2</sup> – 3x – 5 = <strong>(x + 1)(2x – 5)</strong>
  <br>
  <br>
  <strong>(iv)</strong>
 	
  4n<sup>2</sup> + 5n + 1
  <br>
  4n<sup>2</sup> + 5n + 1 = 4n<sup>2</sup> + 4n + n + 1
  
                      = (4n<sup>2</sup> + 4n) (+n + 1)
                   
                      = 4n(n + 1) +1(n + 1)
                      <br>
  4n<sup>2</sup> + 5n + 1 = <strong>(4n + 1) (n + 1)</strong>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Perfect Squares in Algebra</h3>
  </div>  

  <strong>In general;</strong>
  <br>
  (i)	(a + b)<sup>2</sup> = (a + b) (a + b) = a<sup>2</sup> + ab + ab + b<sup>2</sup>
  = a<sup>2</sup> +  b<sup>2</sup> + 2ab
  <br>
  I.e. the square of the sum of the two entities is equal to the sum of their squares plus twice their product.
  <br>
  <br>
  (ii) (a - b)<sup>2</sup> = (a - b) (a - b)  = a<sup>2</sup> - ab - ab + b<sup>2</sup>
  = a<sup>2</sup> + b<sup>2</sup> - 2ab
  <br>
  I.e. the square of the difference of two entities is equal to the sum of their squares minus twice their product.
  <br>
  The above is a faster method to expand perfect square expression.
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  Expand the following expressions; (i) (2x + 5y)<sup>2</sup> (ii) (2 – m)<sup>2</sup>
  <br>
  <strong>Solution</strong>
  <br>
  (i)	(2x + 5y)<sup>2</sup>   = (2x)<sup>2</sup> + (5y)<sup>2</sup> + 2((2x)(5y))
  = 4x<sup>2</sup> + 25y<sup>2</sup> + 2(10xy)
   = <strong>4x<sup>2</sup> + 25y<sup>2</sup> + 20xy</strong>
  <br>
  (ii)	(2 – m)<sup>2</sup>  = 2<sup>2</sup> +  m<sup>2</sup> – 2(2m)
  = 4 + m<sup>2</sup> – 4m
  = <strong>m<sup>2</sup> – 4m + 4</strong>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Difference of Two Squares in Algebra</h3>
  </div>
  <strong>In general;</strong>
  <br>
  (a + b) (a - b) = a<sup>2</sup> + ab - ab - b<sup>2</sup> = a<sup></sup>2 - b<sup>2</sup>
  <br> 
  a<sup>2</sup> - b<sup>2</sup>   = (a + b) (a - b)
  <br>
  I.e. the difference of squares of two entities is equal to the product of their sum and their difference.
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  Factorize the following; (i)  n<sup>2</sup> – 16 (ii) 9x<sup>2</sup> – 4y<sup>2</sup> (iii) 25 – 36h<sup>2</sup> (iv) 13<sup>2</sup> -  12<sup>2</sup>
  <br>
  <strong>Solution</strong>
  <br>
  (i)	n<sup>2</sup> – 16 = n<sup>2</sup> – 4<sup>2</sup> = <strong>(n + 4) (n – 4)</strong>
  <br> 
  (ii)	9x<sup>2</sup> – 4y<sup>2</sup> = (3x)<sup>2</sup> – (2y)<sup>2</sup> = <strong>(3x + 2y) (3x – 2y)</strong>
  <br>
  (iii)	25 – 36h<sup>2</sup>  =  5<sup>2</sup> – (6h)<sup>2</sup> = <strong>(5 + 6h) (5 – 6h)</strong>
  <br>
  (iv)	13<sup>2</sup> -  12<sup>2</sup> = (13 + 12) (13 - 12) = 25 x 1 = <strong>25</strong>
  <div class="d-flex justify-content-center">
  <h2 class='text-dark justify-content-center'>Fractions in Algebra</h2>
  </div>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Equivalent Fractions in Algebraic Expression</h3>
  </div>
  <strong>Equivalent fractions</strong> are fractions of the same values e.g. <sup>1</sup>&frasl;<sub>2</sub> = <strong><sup>2</sup>&frasl;<sub>4</sub></strong>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Multiplication in Algebraic Equivalent Fractions</h3>
  </div>
  This involves multiplying the numerator and the denominator with the same value.
  <br>
  <strong>Example 1</strong>
  <br>
  <%= image_tag 'algebraFrac.png', class: 'carol' %>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Division in Algebraic Equivalent Fractions</h3>
  </div>
  <strong>Example 1</strong>
  <br>
  <%= image_tag 'algebrafrac1.png', class: 'carol' %>
  <br>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Addition and Subtraction of Fractions in Algebra</h3>
  </div>
  <strong>Example 1</strong>
  <br>
  <%= image_tag 'Algebrafrac2.png', class: 'carol' %>
  <br>
  <%= image_tag 'algebraFrac3.png', class: 'carol' %>
  <br>
  <strong>Example 2</strong>
  <br>
  <%= image_tag 'algebrafrac4.png.png', class: 'carol' %>
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'> Equations in Algebra </h2>
</div>
<strong>Algebraic equation</strong> is an algebraic sentence with equals sign e.g. 2y + 1 = 4
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Moving Terms across Equals Sign in Algebra</h3>
</div>
If a term crosses from LHS (Left Hand Side) to the RHS (Right Hand Side) its sign will change to the opposite sign, vice versa.
<br>
<strong>Example 1</strong>
<br>
Simplify the following expressions; (i) x – 7 = 0 (ii) y + 2 = 5
<br>
<strong>Solution</strong>
<br>
(i)	x – 7 = 0; if -7 crosses the equals sign it changes to +7.
<br>
x = <strong>7 or (+7)</strong>
<br>
(ii)	y + 2 = 5; if +2 crosses the equals sign it changes to -2.
<br>
y = 5 – 2 = <strong>3 or (+3)</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Cross Multiplication in algebraic Equations</h3>
</div>
<strong>Example 1</strong>
<br>
<%= image_tag 'algebrafrac5.png', class: 'carol' %>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>How to Balance Equations in Algebra</h3>
</div>
To balance equation in algebra, perform the same operation on both LHS and RHS of the equation.
<br>
<strong>Example 1</strong>
<br>
Simplify the following; (i) 4x = 20 (ii) <sup>1</sup>&frasl;<sub>3</sub> k = 5 (iii) n – 3 = 11 (iv) 5 + x = 6
<br>
<strong>Solution</strong> 
<br>
(i) 4x = 20; divide both sides by 4.
<br>
<sup>4x</sup>&frasl;<sub>4</sub> = <sup>20</sup>&frasl;<sub>4</sub>
<br>
x = <strong>5</strong>
<br>
(ii) <sup>1</sup>&frasl;<sub>3</sub>k = 5
<br>
<sup>k</sup>&frasl;<sub>3</sub> =   5; multiply both sides by 3
<br>
3(<sup>k</sup>&frasl;<sub>3</sub>)  = 5 x 3
<br>
k =   <strong>15</strong>
<br>
(iii) n – 3 = 11; add 3 to both sides
<br>
n – 3 + 3 = 11 + 3
<br>
n = <strong>14</strong>
<br>
(iv) 5 + x = 6; subtract 5 from both sides
<br>
5 – 5 + x = 6 – 5 
<br>
X = <strong>1</strong>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Checking solution in Algebra Equations</h3>
</div>
This involves confirming if the value on the LHS is equal to the value on the RHS.
<br>
<strong>Example 1</strong>
<br>
Solve 3y – 4 = 8 and check the solution.
<br>
<strong>Solution</strong>
<br>
3y – 4 = 8; add 4 to both sides
<br>
3y – 4 + 4 = 8 + 4
<br>
3y = 12; divide both sides by 3
<br>
<sup>3y</sup>&frasl;<sub>3</sub> =  <sup>12</sup>&frasl;<sub>3</sub>
<br>
y   =  <strong>4</strong>
<br>
<strong>To check;</strong> substitute the value of y in the equation 3y – 4 = 8.
<br>
3(4) – 4 = 8
<br>
12 – 4 = 8
<br>
<strong>8</strong> = 8
LHS = RHS (<strong>The answer is correct</strong>).
<br>
<br>
<strong>Example 2</strong>
<br>
Determine whether the equation is true or false; (i) <sup>k</sup>&frasl;<sub>5</sub>  =  4 when k = 25 (ii) x – 3 = 7 when x = 10
<br>
<strong>Solution</strong>
<br>
<sup>k</sup>&frasl;<sub>5</sub>  =  4 when k = 25
<br>
<sup>25</sup>&frasl;<sub>5</sub> =  4 
<br>
5  =  4 (false; <strong>LHS</strong> is not equal to <strong>RHS</strong>)
<br>
x – 3 = 7 when x = 10
<br>
10 – 3 = 7
<br>
7 = 7 (true; LHS is equal to RHS)
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Substitution in Algebra Expression</h3>
</div>
<strong>Substitution</strong> means to replace a letter with a number in algebraic equation or expression.
<br>
<strong>Example 1</strong>
<br>
<%= image_tag 'algebraEqu.png', class: 'carol' %>
<div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Finding Unknown in Algebraic Equations</h3>
</div>
<strong>Unknown</strong> is a value to be found in an algebraic expression or equation.
<br>
<strong>Example 1</strong>
<br>
Solve the following; 
<br>
<%= image_tag 'algebraequUnknow.png', class: 'carol' %>
<br>
<strong>Solution</strong>
<br>
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    (i) 16 – 3x = 4; subtract 16 from both sides
    <br>
    16 – 16 – 3x = 4 – 16
    <br>
    -3x = -12; divide both sides by -3.
    <br>
    <sup>-3x</sup>&frasl;<sub>-3</sub> = <sup>-12</sup>&frasl;<sub>-3</sub>
    <br>
    x = <strong>4</strong>
    <br>
    </div>
    <div class="col">
    (ii) 5m + 6 = 2m + 27
    <br>
    5m – 2m = 27 – 6
    <br>
    3m = 21; divide both sides by 3
    <br>
    <sup>3m</sup>&frasl;<sub>3</sub>  =  <sup>21</sup>&frasl;<sub>3</sub>
    <br>
    m = <strong>7</strong>
    </div>
  </div>
  </div>
<br>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger ">
    (iii) 3(3k – 2) = 5(k + 4) + 6; open up the brackets
    <br>
    9k -6 = 5k + 20 + 6; collect like terms
    <br>
    9k – 5k = 20 + 6 + 6
    <br>
    4k = 32; divide both sides by 4
    <br>
    <sup>4k</sup>&frasl;<sub>4</sub>  =  <sup>32</sup>&frasl;<sub>4</sub>
    <br>  
    K = <strong>8</strong>
    </div>
    <div class="col">
    (iv) Let the number be y.
    <br>
    Number multiply by 4 = 4y
    <br> 
    Divide the result by 5 = <sup>4y</sup>&frasl;<sub>5</sub>
    <br>
    <sup>4y</sup>&frasl;<sub>5</sub> = <sup>8</sup>&frasl;<sub>1</sub>  cross multiply
    <br>
    4y = 8 x 5
    <br>
    4y = 40; divide both sides by 4.
    <br>
    <sup>4y</sup>&frasl;<sub>4</sub> = <sup>40</sup>&frasl;<sub>4</sub>
    <br>
    y = <strong>10</strong>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center">
  <h3 class='text-dark justify-content-center'>Finding Unknown in Algebraic Fractions</h3>
</div>
<strong>Remember;</strong> fraction contains numerator and denominator.
<br>
<%= link_to "Click here for more information on fractions.", page3_path, class: "#{current? "active", page3_path}"%>
<br>
<strong>Example 1</strong>
<br>
Find the unknown letters in the following equations; 
<br>
<%= image_tag 'algebraUnfrac1.png', class: 'carol' %>
<br>
<br>
<%= image_tag 'algebraUnfrac2.png', class: 'carol' %>
<br>
<br>
<%= image_tag 'algebraUnfrac3.png', class: 'carol' %>
<br>
<br>
<%= image_tag 'algebraUnfrac4.png', class: 'carol' %>
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Basic-Algebra</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1. What is the coefficient of 9x</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='9' id='option-11' style='transform: scale(1.2)'  />
      9</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='9x' id='option-12' style='transform: scale(1.2)' />
     9x</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='4' id='option-13' style='transform: scale(1.2)' />
    4</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='9-4' id='option-14' style='transform: scale(1.2)' />
      9-4</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Simplify 2y – 13y – 4y – 2y + 21y</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='-4y' id='option-21' style='transform: scale(1.2)'  />
     -4y</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='3y' id='option-22' style='transform: scale(1.2)' />
      3y</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='4y' id='option-23' style='transform: scale(1.2)' />
      4y</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='8y' id='option-24' style='transform: scale(1.2)' />
     8y</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-2').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Simplify (6m x 5) – 2  x 3m – m</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='26m' id='option-31' style='transform: scale(1.2)'  />
      26m</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='24m' id='option-32' style='transform: scale(1.2)' />
      24m</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='19m' id='option-33' style='transform: scale(1.2)' />
  19m</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='23' id='option-34' style='transform: scale(1.2)' />
     23m</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	Remove the brackets and simplify; (15x + 8y) – (6x – 3y)</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='21x – 11y' id='option-41' style='transform: scale(1.2)'  />
      21x – 11y</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='9x + 11y' id='option-42' style='transform: scale(1.2)' />
      9x + 11y</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='9x + 5y' id='option-43' style='transform: scale(1.2)' />
      9x + 5y</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='21x + 11y' id='option-44' style='transform: scale(1.2)' />
      21x + 11y</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid limegreen' 
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-42').style.border = '3px solid limegreen'
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5. 	Simplify  <sup>k</sup>&frasl;<sub>5</sub> - <sup>k</sup>&frasl;<sub>20</sub></h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='<sup>k</sup>&frasl;<sub>20</sub>' id='option-51' style='transform: scale(1.2)'  />
      <sup>k</sup>&frasl;<sub>20</sub></label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='<sup>3k</sup>&frasl;<sub>20</sub>' id='option-52' style='transform: scale(1.2)' />
      <sup>3k</sup>&frasl;<sub>20</sub></label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='<sup>8k</sup>&frasl;<sub>20</sub>' id='option-53' style='transform: scale(1.2)' />
      <sup>8k</sup>&frasl;<sub>20</sub></label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='<sup>5k</sup>&frasl;<sub>20</sub>' id='option-54' style='transform: scale(1.2)' />
      <sup>5k</sup>&frasl;<sub>20</sub></label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid limegreen'
      document.getElementById('result-52').style.color = 'limegreen'
      document.getElementById('result-52').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid red'
      document.getElementById('result-53').style.color = 'red'
      document.getElementById('result-53').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-52').style.border = '3px solid limegreen'
      document.getElementById('result-52').style.color = 'limegreen'
      document.getElementById('result-52').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>

<article>
<div class='obj-cont'>
  <h6>6.	Find 18<sup>2</sup> - 17<sup>2</sup>.</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option5' value='30' id='option-61' style='transform: scale(1.2)'  />
      30</label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option5' value='25' id='option-62' style='transform: scale(1.2)' />
      25</label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option5' value='1' id='option-63' style='transform: scale(1.2)' />
      1</label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option5' value='35' id='option-64' style='transform: scale(1.2)' />
      35</label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid red'
      document.getElementById('result-62').style.color = 'red'
      document.getElementById('result-62').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid red'
      document.getElementById('result-63').style.color = 'red'
      document.getElementById('result-63').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid limegreen'
      document.getElementById('result-64').style.color = 'limegreen'
      document.getElementById('result-64').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-64').style.border = '3px solid limegreen'
      document.getElementById('result-64').style.color = 'limegreen'
      document.getElementById('result-64').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>7. Evaluate <sup>(y - 4)</sup>&frasl;<sub>(3y + 5)</sub> = <sup>2</sup>&frasl;<sub>4</sub></h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option6' value='-13' id='option-71' style='transform: scale(1.2)'  />
      -13</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option6' value='12' id='option-72' style='transform: scale(1.2)' />
      12</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option6' value='-12' id='option-73' style='transform: scale(1.2)' />
      -12</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option6' value='14' id='option-74' style='transform: scale(1.2)' />
      14</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer7()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid red'
      document.getElementById('result-74').style.color = 'red'
      document.getElementById('result-74').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer7() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer6)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-72').style.border = '3px solid limegreen'
      document.getElementById('result-72').style.color = 'limegreen'
      document.getElementById('result-72').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>8. 8.	Factorize 2y<sup>2</sup> – 3y – 2</h6>
 <div id='block-81' >
    <label for='option-81' style=' padding: 5px;'>
      <input type='radio' name='option7' value='(2y + 1)(y + 2)' id='option-81' style='transform: scale(1.2)'  />
      (2y + 1)(y + 2)</label>
    <span id='result-81'></span>
  </div>
 

  <div id='block-82'>
    <label for='option-82' style='padding: 5px;'>
      <input type='radio' name='option7' value='(y + 1)(y + 2)' id='option-82' style='transform: scale(1.2)' />
      (y + 1)(y + 2)</label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-83'>
    <label for='option-83' style='padding: 5px;'>
      <input type='radio' name='option7' value='(2y + 1)(y - 2)' id='option-83' style='transform: scale(1.2)' />
      (2y + 1)(y - 2)</label>
    <span id='result-83'></span>
  </div>
  

  <div id='block-84'>
    <label for='option-84' style=' padding: 5px;'>
      <input type='radio' name='option7' value='(2y - 1)(y - 2)' id='option-84' style='transform: scale(1.2)' />
      (2y - 1)(y - 2)</label>
    <span id='result-84'></span>
  </div>
 
  <button type='button' onclick='displayAnswer8()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer8() {
    if (document.getElementById('option-81').checked) {
      document.getElementById('block-81').style.border = '3px solid red'
      document.getElementById('result-81').style.color = 'red'
      document.getElementById('result-81').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-82').checked) {
      document.getElementById('block-82').style.border = '3px solid red'
      document.getElementById('result-82').style.color = 'red'
      document.getElementById('result-82').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-83').checked) {
      document.getElementById('block-83').style.border = '3px solid limegreen'
      document.getElementById('result-83').style.color = 'limegreen'
      document.getElementById('result-83').innerHTML = 'Correct!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-84').checked) {
      document.getElementById('block-84').style.border = '3px solid red'
      document.getElementById('result-84').style.color = 'red'
      document.getElementById('result-84').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer8() {
    let showAnswer8 = document.createElement('p')
    showAnswer8.innerHTML = 'Show Corrent Answer'
    showAnswer8.style.position = 'relative'
    showAnswer8.style.top = '-150px'
    showAnswer8.style.fontSize = '1.5rem'
    document.getElementById('showanswer8').appendChild(showAnswer8)
    showAnswer8.addEventListener('click', () => {
      document.getElementById('block-83').style.border = '3px solid limegreen'
      document.getElementById('result-83').style.color = 'limegreen'
      document.getElementById('result-83').innerHTML = 'Correct!'
      document.getElementById('showanswer8').removeChild(showAnswer8)
    })
  }
</script>
</article>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", page8_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page10_path, class:'h3' %>
</button>
</nav>

</div>
<hr>
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>
