<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Word Problems</h1>
</div>
<hr>
<article>
<strong>Word problem</strong> is the process of using mathematical approach in resolving problem in sentence or statement mode. Word problem is also a problem stated in everyday language.  In algebra, we use letters to represent unknown(s).
<br>
<br>
<strong>Steps to solve word problems;</strong>
<br>
(i) Use letters for unknown(s).
<br>
(ii) Write down the information in the question in algebraic form.
<br>
(iii) Use the information to form equation(s).
<br>
(iv) Solve the equation(s) step wisely.
<br>
(v) Write out your answer(s).
<br>
(vi) Check your answer(s) against the information in the equation.
<br>
<br>
<strong>Example 1</strong>
<br>
Solve the following word problems;
<br>
(i)	A girl has y apples in her basket. She sells 3 of them to a friend. How many apples will remain in the basket?
<br>
(ii)	A man has 10 white and black caps, x of them are white. How many of the caps are black?
<br>
(iii)	A man is 5 times older than his daughter. If the daughter’s age is m; (1) How old is the man (2) the age of the man and his daughter in n years’ time respectively.
<br>
(iv)	A woman has y goats in her compound. She sells one quarter of them. She gives 6 of them to her son. How many goats will be in her compound now?
<br>
<br>
<strong>Solution</strong>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    Total apples = y
    <br>
    Sold = 3 
    <br>
    Left over = <strong>(y – 3) apples.</strong>
    </div>
    <div class="col">
    (ii)
    <br>
    Total caps = 10
    <br>
    White caps = x
    <br>
    Black caps = 10 – x 
    <br>
    Black caps = <strong>(10 – x) black caps.</strong>
    </div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)
    <br>
(1)	Daughter’s age = m
<br>
      Man’s age = 5 x m = <strong>5m</strong>
      <br>
(2)	
<br>
(i) Man’s age in n years’ time = <strong> (5m + n) yrs.</strong>
<br>
(ii) Daughter’s age in n years’ time = <strong>(m + n) yrs</strong>
</div>
    <div class="col">
    (iv)
    <br>
    Total goats = y
    <br>
    Sells one quarter = y x <sup>1</sup>&frasl;<sub>4</sub>   =  <sup>y</sup>&frasl;<sub>4</sub> 
    <br>
    Given out to her son = 6
    <br>
    The left over goats;
    <br>
    y − <sup>y</sup>&frasl;<sub>4</sub> ─ 6 = <sup>y</sup>&frasl;<sub>1</sub>  − <sup>y</sup>&frasl;<sub>4</sub>  ─ <sup>6</sup>&frasl;<sub>1</sub> 
    <br>
    The LCM is 4
    <br>
    The left over goats;
    <br>
    <sup>(4y ─ y ─ 24)</sup>&frasl;<sub>4</sub>  =  <sup>(3y ─ 24)</sup>&frasl;<sub>4</sub>
    <br>
    The left over goats; 
    <br>
    <sup>3y</sup>&frasl;<sub>4</sub> ─ <sup>24</sup>&frasl;<sub>4</sub>  =  <strong>( <sup>3</sup>&frasl;<sub>4</sub><span class='h5'>(y)</span> – 8).</strong>
    <br>
    The left over goats = <strong>( <sup>3</sup>&frasl;<sub>4</sub><span class='h5'>(y)</span> – 8) goat(s)</strong>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Word Problems with Addition and Subtraction</h3>
  </div>
  <strong>Example 1</strong>
  <br>
  Solve the following word problems;
  <br>
  (i)	Michael thinks of a number, he multiplies the number by 4, he adds 24 to it. The result is 60. What is the number?
  <br>
  (ii)	The length of a rectangle is twice as long as its breadth, if the perimeter of the rectangle is 60m. Find the length and breadth of the rectangle.
  <br>
  (iii)	The body mass of a hen is y kg. The body masses of two checks are one-thirds and one-fifths of that of the hen.
  <br>
  (a)	Express the chick’s masses in term of
  <br>
  (b)	If the difference of their masses is 0.4kg. Find the mass of the hen.
  <br>
  (iv)	The sum of 5 consecutive numbers is 40. Find all the numbers. Find all the numbers.
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
Let the number = n
<br>	
The number multiply by 4 = 4 x n => 4n
<br>
He adds 24 to the number = 4n + 24
<br>
4n + 24 = 60
<br>
4n = 60 – 24 => 36
<br>
n = <sup>36</sup>&frasl;<sub>4</sub>
<br>
n = 9
<br>
Check;
<br>
Substitute for value of n in 4n + 24 = 60;
<br>
4(9) + 24 = 60
<br>
36 + 24 = 60
<br>
<strong>60 = 60 (LHS = RHS)</strong>
</div>
<div class="col">
(ii)
<br>
<strong>Perimeter = 2length + 2breadth</strong>
<br>
Breadth = b; Length = 2b
<br>
Perimeter = 2(2b) + 2b
<br>
Perimeter = 4b + 2b
<br>
6b = 60; divide both sides by 6
<br>
<sup>6b</sup>&frasl;<sub>6</sub>  =  <sup>60</sup>&frasl;<sub>6</sub>
<br>
b = 10m
<br>
Breadth = <strong>10m</strong>
<br>
Length = 2 x 10m = <strong>20m</strong>
</div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)	
	<br>
    (a)
    <br>
	(i) First chick’s = <sup>1</sup>&frasl;<sub>3</sub> x y = <sup>y</sup>&frasl;<sub>3</sub>  = (<sup>1</sup>&frasl;<sub>3</sub>)<span class='h4'>y</span> kg
    <br>
    (ii) Second’s = <sup>1</sup>&frasl;<sub>5</sub> x y =  <sup>y</sup>&frasl;<sub>5</sub>  =  ( <sup>1</sup>&frasl;<sub>5</sub>)<span class='h4'>y</span> kg
    <br>
    (b)
    <br>
	<sup>y</sup>&frasl;<sub>3</sub> ─ <sup>y</sup>&frasl;<sub>5</sub>= 0.4; the LCM is 15.
    <br>
       15 (<sup>y</sup>&frasl;<sub>3</sub>) ─ 15 (<sup>y</sup>&frasl;<sub>5</sub>) = 0.4 x 15
       <br>
        5y – 3y = 6
        <br>
        2y = 6 divide both sides by 2
        <br>
        <sup>2y</sup>&frasl;<sub>2</sub>  =  <sup>6</sup>&frasl;<sub>2</sub>
        <br>
        y = 3
        <br>
        The mass of hen = <strong>3kg</strong>
        </div>
    <div class="col">
    (iv)
    <br>
Let the numbers = x, x + 1, x + 2, x + 3, x + 4
<br>
x + x + 1 + x + 2 + x + 3 + x + 4 = 40
<br>
5x + 10 = 40 
<br>
5x = 40 – 10 
<br>
5x = 30; divide both sides by 5
<br>
<sup>5x</sup>&frasl;<sub>5</sub> = <sup>30</sup>&frasl;<sub>5</sub>
<br>
x = 6
<br>
The numbers are;<strong> 6, 7, 8, 9, 10</strong>
</div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>Word Problems with Multiplication and Division</h2>
  </div>
  <strong>Example 1</strong>
  <br>
  Solve the following word problems;
  <br>
  (i)	The product of a certain number and 6 is equal to three times the number plus 39. Find the number
  <br>
  (ii)	Find the positive between 41 and  the product of 3 and 15
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  <strong>Product = Multiplication</strong>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    Let the number = y
    <br>
    The product of the number and 6 = 6y
    <br>
    Three times the number plus 39 = 3y + 39
    <br>
    6y = 3y + 39
    <br>
    6y – 3y = 39
    <br>
    3y = 39; divide both sides by 3
    <br>
    <sup>3y</sup>&frasl;<sub>3</sub> = <sup>39</sup>&frasl;<sub>3</sub>
    <br>
    y = 13
    <br>
    The number = <strong>13</strong>
    </div>
    <div class="col">
    (ii)
    <br>
    The product of 3 and 15 = 3 x 15 = 45
    <br>
    The positive difference between;
    <br>
    41 and 45 = 45 – 41 
    <br>
    The difference = <strong>4</strong>
    </div>
  </div>
  </div>
  </article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Word Problems</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1.	From the product of 9 and 5, subtract 30 and divide the result by 3.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='4' id='option-11' style='transform: scale(1.2)'  />
      4</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='3' id='option-12' style='transform: scale(1.2)' />
      3</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='5' id='option-13' style='transform: scale(1.2)' />
      5</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='6' id='option-14' style='transform: scale(1.2)' />
      6</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-13').style.border = '3px solid limegreen'
      document.getElementById('result-13').style.color = 'limegreen'
      document.getElementById('result-13').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Multiplication of a number by 4 is equal to 3 times the number subtracted from 28.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='4' id='option-21' style='transform: scale(1.2)'  />
      4</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='10' id='option-22' style='transform: scale(1.2)' />
      10</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='2' id='option-23' style='transform: scale(1.2)' />
      2</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='12' id='option-24' style='transform: scale(1.2)' />
      12</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswe2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	I add 51 to a number and divide the sum by 3. The result is 6 times the original number. Find the original number.</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='5' id='option-31' style='transform: scale(1.2)'  />
      5</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='3' id='option-32' style='transform: scale(1.2)' />
      3</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='8' id='option-33' style='transform: scale(1.2)' />
      8</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='12' id='option-34' style='transform: scale(1.2)' />
      12</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid limegreen'
      document.getElementById('result-32').style.color = 'limegreen'
      document.getElementById('result-32').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer3)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-32').style.border = '3px solid limegreen'
      document.getElementById('result-32').style.color = 'limegreen'
      document.getElementById('result-32').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	A rectangle has 5m breadth and its perimeter is 24m. Find the length of the rectangle.</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='6' id='option-41' style='transform: scale(1.2)'  />
     6</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='7' id='option-42' style='transform: scale(1.2)' />
     7</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='11' id='option-43' style='transform: scale(1.2)' />
      111</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='13' id='option-44' style='transform: scale(1.2)' />
    13</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-41').style.color = 'red'
      document.getElementById('result-41').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid limegreen' 
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer4').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-42').style.border = '3px solid limegreen'
      document.getElementById('result-42').style.color = 'limegreen'
      document.getElementById('result-42').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.	A merchant bought a gold for $n and sold it at $16500. What is the gain?</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 + x)' id='option-51' style='transform: scale(1.2)'  />
      $(16500 + x)</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='$(16500x)' id='option-52' style='transform: scale(1.2)' />
      $(16500x)</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 ÷ x)' id='option-53' style='transform: scale(1.2)' />
      $(16500 ÷ x)</label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 ─ x)' id='option-54' style='transform: scale(1.2)' />
      $(16500 ─ x)</label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid red'
      document.getElementById('result-53').style.color = 'red'
      document.getElementById('result-53').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid limegreen'
      document.getElementById('result-54').style.color = 'limegreen'
      document.getElementById('result-54').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-54').style.border = '3px solid limegreen'
      document.getElementById('result-54').style.color = 'limegreen'
      document.getElementById('result-54').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
</div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page13_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page15_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>





























































































































































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Word Problems</h1>
</div>
<hr>
<article>
<strong>Word problem</strong> is the process of using mathematical approach in resolving problem in sentence or statement mode. Word problem is also a problem stated in everyday language.  In algebra, we use letters to represent unknown(s).
<br>
<br>
<strong>Steps to solve word problems;</strong>
<br>
(i) Use letters for unknown(s).
<br>
(ii) Write down the information in the question in algebraic form.
<br>
(iii) Use the information to form equation(s).
<br>
(iv) Solve the equation(s) step wisely.
<br>
(v) Write out your answer(s).
<br>
(vi) Check your answer(s) against the information in the equation.
<br>
<br>
<strong>Example 1</strong>
<br>
Solve the following word problems;
<br>
(i)	A girl has y apples in her basket. She sells 3 of them to a friend. How many apples will remain in the basket?
<br>
(ii)	A man has 10 white and black caps, x of them are white. How many of the caps are black?
<br>
(iii)	A man is 5 times older than his daughter. If the daughter’s age is m; (1) How old is the man (2) the age of the man and his daughter in n years’ time respectively.
<br>
(iv)	A woman has y goats in her compound. She sells one quarter of them. She gives 6 of them to her son. How many goats will be in her compound now?
<br>
<br>
<strong>Solution</strong>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    Total apples = y
    <br>
    Sold = 3 
    <br>
    Left over = <strong>(y – 3) apples.</strong>
    </div>
    <div class="col">
    (ii)
    <br>
    Total caps = 10
    <br>
    White caps = x
    <br>
    Black caps = 10 – x 
    <br>
    Black caps = <strong>(10 – x) black caps.</strong>
    </div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)
    <br>
(1)	Daughter’s age = m
<br>
      Man’s age = 5 x m = <strong>5m</strong>
      <br>
(2)	
<br>
(i) Man’s age in n years’ time = <strong> (5m + n) yrs.</strong>
<br>
(ii) Daughter’s age in n years’ time = <strong>(m + n) yrs</strong>
</div>
    <div class="col">
    (iv)
    <br>
    Total goats = y
    <br>
    Sells one quarter = y x <sup>1</sup>&frasl;<sub>4</sub>   =  <sup>y</sup>&frasl;<sub>4</sub> 
    <br>
    Given out to her son = 6
    <br>
    The left over goats;
    <br>
    y − <sup>y</sup>&frasl;<sub>4</sub> ─ 6 = <sup>y</sup>&frasl;<sub>1</sub>  − <sup>y</sup>&frasl;<sub>4</sub>  ─ <sup>6</sup>&frasl;<sub>1</sub> 
    <br>
    The LCM is 4
    <br>
    The left over goats;
    <br>
    <sup>(4y ─ y ─ 24)</sup>&frasl;<sub>4</sub>  =  <sup>(3y ─ 24)</sup>&frasl;<sub>4</sub>
    <br>
    The left over goats; 
    <br>
    <sup>3y</sup>&frasl;<sub>4</sub> ─ <sup>24</sup>&frasl;<sub>4</sub>  =  <strong>( <sup>3</sup>&frasl;<sub>4</sub><span class='h5'>(y)</span> – 8).</strong>
    <br>
    The left over goats = <strong>( <sup>3</sup>&frasl;<sub>4</sub><span class='h5'>(y)</span> – 8) goat(s)</strong>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Word Problems with Addition and Subtraction</h3>
  </div>
  <strong>Example 1</strong>
  <br>
  Solve the following word problems;
  <br>
  (i)	Michael thinks of a number, he multiplies the number by 4, he adds 24 to it. The result is 60. What is the number?
  <br>
  (ii)	The length of a rectangle is twice as long as its breadth, if the perimeter of the rectangle is 60m. Find the length and breadth of the rectangle.
  <br>
  (iii)	The body mass of a hen is y kg. The body masses of two checks are one-thirds and one-fifths of that of the hen.
  <br>
  (a)	Express the chick’s masses in term of
  <br>
  (b)	If the difference of their masses is 0.4kg. Find the mass of the hen.
  <br>
  (iv)	The sum of 5 consecutive numbers is 40. Find all the numbers. Find all the numbers.
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
Let the number = n
<br>	
The number multiply by 4 = 4 x n => 4n
<br>
He adds 24 to the number = 4n + 24
<br>
4n + 24 = 60
<br>
4n = 60 – 24 => 36
<br>
n = <sup>36</sup>&frasl;<sub>4</sub>
<br>
n = 9
<br>
Check;
<br>
Substitute for value of n in 4n + 24 = 60;
<br>
4(9) + 24 = 60
<br>
36 + 24 = 60
<br>
<strong>60 = 60 (LHS = RHS)</strong>
</div>
<div class="col">
(ii)
<br>
<strong>Perimeter = 2length + 2breadth</strong>
<br>
Breadth = b; Length = 2b
<br>
Perimeter = 2(2b) + 2b
<br>
Perimeter = 4b + 2b
<br>
6b = 60; divide both sides by 6
<br>
<sup>6b</sup>&frasl;<sub>6</sub>  =  <sup>60</sup>&frasl;<sub>6</sub>
<br>
b = 10m
<br>
Breadth = <strong>10m</strong>
<br>
Length = 2 x 10m = <strong>20m</strong>
</div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)	
	<br>
    (a)
    <br>
	(i) First chick’s = <sup>1</sup>&frasl;<sub>3</sub> x y = <sup>y</sup>&frasl;<sub>3</sub>  = (<sup>1</sup>&frasl;<sub>3</sub>)<span class='h4'>y</span> kg
    <br>
    (ii) Second’s = <sup>1</sup>&frasl;<sub>5</sub> x y =  <sup>y</sup>&frasl;<sub>5</sub>  =  ( <sup>1</sup>&frasl;<sub>5</sub>)<span class='h4'>y</span> kg
    <br>
    (b)
    <br>
	<sup>y</sup>&frasl;<sub>3</sub> ─ <sup>y</sup>&frasl;<sub>5</sub>= 0.4; the LCM is 15.
    <br>
       15 (<sup>y</sup>&frasl;<sub>3</sub>) ─ 15 (<sup>y</sup>&frasl;<sub>5</sub>) = 0.4 x 15
       <br>
        5y – 3y = 6
        <br>
        2y = 6 divide both sides by 2
        <br>
        <sup>2y</sup>&frasl;<sub>2</sub>  =  <sup>6</sup>&frasl;<sub>2</sub>
        <br>
        y = 3
        <br>
        The mass of hen = <strong>3kg</strong>
        </div>
    <div class="col">
    (iv)
    <br>
Let the numbers = x, x + 1, x + 2, x + 3, x + 4
<br>
x + x + 1 + x + 2 + x + 3 + x + 4 = 40
<br>
5x + 10 = 40 
<br>
5x = 40 – 10 
<br>
5x = 30; divide both sides by 5
<br>
<sup>5x</sup>&frasl;<sub>5</sub> = <sup>30</sup>&frasl;<sub>5</sub>
<br>
x = 6
<br>
The numbers are;<strong> 6, 7, 8, 9, 10</strong>
</div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Word Problems with Multiplication and Division</h3>
  </div>
  <strong>Example 1</strong>
  <br>
  Solve the following word problems;
  <br>
  (i)	The product of a certain number and 6 is equal to three times the number plus 39. Find the number
  <br>
  (ii)	Find the positive between 41 and  the product of 3 and 15
  <br>
  <br>
  <strong>Solution</strong>
  <br>
  <strong>Product = Multiplication</strong>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    Let the number = y
    <br>
    The product of the number and 6 = 6y
    <br>
    Three times the number plus 39 = 3y + 39
    <br>
    6y = 3y + 39
    <br>
    6y – 3y = 39
    <br>
    3y = 39; divide both sides by 3
    <br>
    <sup>3y</sup>&frasl;<sub>3</sub> = <sup>39</sup>&frasl;<sub>3</sub>
    <br>
    y = 13
    <br>
    The number = <strong>13</strong>
    </div>
    <div class="col">
    (ii)
    <br>
    The product of 3 and 15 = 3 x 15 = 45
    <br>
    The positive difference between;
    <br>
    41 and 45 = 45 – 41 
    <br>
    The difference = <strong>4</strong>
    </div>
  </div>
  </div>
  </article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Word Problems</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1.	From the product of 9 and 5, subtract 30 and divide the result by 3.</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option' value='4' id='option-61' style='transform: scale(1.2)'  />
      4</label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option' value='3' id='option-62' style='transform: scale(1.2)' />
      3</label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option' value='5' id='option-63' style='transform: scale(1.2)' />
      5</label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option' value='6' id='option-64' style='transform: scale(1.2)' />
      6</label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer6()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid red'
      document.getElementById('result-62').style.color = 'red'
      document.getElementById('result-62').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid limegreen'
      document.getElementById('result-63').style.color = 'limegreen'
      document.getElementById('result-63').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-63').style.border = '3px solid limegreen'
      document.getElementById('result-63').style.color = 'limegreen'
      document.getElementById('result-63').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Multiplication of a number by 4 is equal to 3 times the number subtracted from 28.</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option1' value='4' id='option-71' style='transform: scale(1.2)'  />
      4</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option1' value='10' id='option-72' style='transform: scale(1.2)' />
      10</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option1' value='2' id='option-73' style='transform: scale(1.2)' />
      2</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option1' value='12' id='option-74' style='transform: scale(1.2)' />
      12</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer7()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid red'
      document.getElementById('result-74').style.color = 'red'
      document.getElementById('result-74').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer7() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer7)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	I add 51 to a number and divide the sum by 3. The result is 6 times the original number. Find the original number.</h6>
 <div id='block-81' >
    <label for='option-81' style=' padding: 5px;'>
      <input type='radio' name='option2' value='5' id='option-81' style='transform: scale(1.2)'  />
      5</label>
    <span id='result-81'></span>
  </div>
 

  <div id='block-82'>
    <label for='option-82' style='padding: 5px;'>
      <input type='radio' name='option2' value='3' id='option-82' style='transform: scale(1.2)' />
      3</label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-83'>
    <label for='option-83' style='padding: 5px;'>
      <input type='radio' name='option2' value='8' id='option-83' style='transform: scale(1.2)' />
      8</label>
    <span id='result-83'></span>
  </div>
  

  <div id='block-84'>
    <label for='option-84' style=' padding: 5px;'>
      <input type='radio' name='option2' value='12' id='option-84' style='transform: scale(1.2)' />
      12</label>
    <span id='result-84'></span>
  </div>
 
  <button type='button' onclick='displayAnswer8()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer8() {
    if (document.getElementById('option-81').checked) {
      document.getElementById('block-81').style.border = '3px solid red'
      document.getElementById('result-81').style.color = 'red'
      document.getElementById('result-81').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-82').checked) {
      document.getElementById('block-82').style.border = '3px solid limegreen'
      document.getElementById('result-82').style.color = 'limegreen'
      document.getElementById('result-82').innerHTML = 'Correct!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-83').checked) {
      document.getElementById('block-83').style.border = '3px solid red'
      document.getElementById('result-83').style.color = 'red'
      document.getElementById('result-83').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-84').checked) {
      document.getElementById('block-84').style.border = '3px solid red'
      document.getElementById('result-84').style.color = 'red'
      document.getElementById('result-84').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer8() {
    let showAnswer3 = document.createElement('p')
    showAnswer8.innerHTML = 'Show Corrent Answer'
    showAnswer8.style.position = 'relative'
    showAnswer8.style.top = '-150px'
    showAnswer8.style.fontSize = '1.5rem'
    document.getElementById('showanswer8').appendChild(showAnswer8)
    showAnswer8.addEventListener('click', () => {
      document.getElementById('block-82').style.border = '3px solid limegreen'
      document.getElementById('result-82').style.color = 'limegreen'
      document.getElementById('result-82').innerHTML = 'Correct!'
      document.getElementById('showanswer8').removeChild(showAnswer8)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	A rectangle has 5m breadth and its perimeter is 24m. Find the length of the rectangle.</h6>
 <div id='block-91' >
    <label for='option-91' style=' padding: 5px;'>
      <input type='radio' name='option3' value='6' id='option-91' style='transform: scale(1.2)'  />
     6</label>
    <span id='result-91'></span>
  </div>
 

  <div id='block-92'>
    <label for='option-92' style='padding: 5px;'>
      <input type='radio' name='option3' value='7' id='option-92' style='transform: scale(1.2)' />
     7</label>
    <span id='result-92'></span>
  </div>
  

  <div id='block-93'>
    <label for='option-93' style='padding: 5px;'>
      <input type='radio' name='option3' value='11' id='option-93' style='transform: scale(1.2)' />
      111</label>
    <span id='result-93'></span>
  </div>
  

  <div id='block-94'>
    <label for='option-94' style=' padding: 5px;'>
      <input type='radio' name='option3' value='13' id='option-94' style='transform: scale(1.2)' />
    13</label>
    <span id='result-94'></span>
  </div>
 
  <button type='button' onclick='displayAnswer9()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer9() {
    if (document.getElementById('option-91').checked) {
      document.getElementById('block-91').style.border = '3px solid red'
      document.getElementById('result-91').style.color = 'red'
      document.getElementById('result-91').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-92').checked) {
      document.getElementById('block-92').style.border = '3px solid limegreen' 
      document.getElementById('result-92').style.color = 'limegreen'
      document.getElementById('result-92').innerHTML = 'Correct!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-93').checked) {
      document.getElementById('block-93').style.border = '3px solid red'
      document.getElementById('result-93').style.color = 'red'
      document.getElementById('result-93').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-94').checked) {
      document.getElementById('block-94').style.border = '3px solid red'
      document.getElementById('result-94').style.color = 'red'
      document.getElementById('result-94').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer9() {
    let showAnswer9 = document.createElement('p')
    showAnswer9.innerHTML = 'Show Corrent Answer'
    showAnswer9.style.position = 'relative'
    showAnswer9.style.top = '-150px'
    showCorrectAnswer9.style.fontSize = '1.5rem'
    document.getElementById('showanswer9').appendChild(showAnswer9)
    showAnswer9.addEventListener('click', () => {
      document.getElementById('block-92').style.border = '3px solid limegreen'
      document.getElementById('result-92').style.color = 'limegreen'
      document.getElementById('result-92').innerHTML = 'Correct!'
      document.getElementById('showanswer9').removeChild(showAnswer9)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5.	A merchant bought a gold for $n and sold it at $16500. What is the gain?</h6>
 <div id='block-101' >
    <label for='option-101' style=' padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 + x)' id='option-101' style='transform: scale(1.2)'  />
      $(16500 + x)</label>
    <span id='result-101'></span>
  </div>
 

  <div id='block-102'>
    <label for='option-102' style='padding: 5px;'>
      <input type='radio' name='option4' value='$(16500x)' id='option-102' style='transform: scale(1.2)' />
      $(16500x)</label>
    <span id='result-102'></span>
  </div>
  

  <div id='block-103'>
    <label for='option-103' style='padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 ÷ x)' id='option-103' style='transform: scale(1.2)' />
      $(16500 ÷ x)</label>
    <span id='result-103'></span>
  </div>
  

  <div id='block-104'>
    <label for='option-104' style=' padding: 5px;'>
      <input type='radio' name='option4' value='$(16500 ─ x)' id='option-104' style='transform: scale(1.2)' />
      $(16500 ─ x)</label>
    <span id='result-104'></span>
  </div>
 
  <button type='button' onclick='displayAnswer10()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer10() {
    if (document.getElementById('option-101').checked) {
      document.getElementById('block-101').style.border = '3px solid red'
      document.getElementById('result-101').style.color = 'red'
      document.getElementById('result-101').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-102').checked) {
      document.getElementById('block-102').style.border = '3px solid red'
      document.getElementById('result-102').style.color = 'red'
      document.getElementById('result-102').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-103').checked) {
      document.getElementById('block-103').style.border = '3px solid red'
      document.getElementById('result-103').style.color = 'red'
      document.getElementById('result-103').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-104').checked) {
      document.getElementById('block-104').style.border = '3px solid limegreen'
      document.getElementById('result-104').style.color = 'limegreen'
      document.getElementById('result-104').innerHTML = 'Correct!'
      showCorrectAnswer10()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer10() {
    let showAnswer10 = document.createElement('p')
    showAnswer10.innerHTML = 'Show Corrent Answer'
    showAnswer10.style.position = 'relative'
    showAnswer10.style.top = '-150px'
    showAnswer10.style.fontSize = '1.5rem'
    document.getElementById('showanswer10').appendChild(showAnswer10)
    showAnswer10.addEventListener('click', () => {
      document.getElementById('block-104').style.border = '3px solid limegreen'
      document.getElementById('result-104').style.color = 'limegreen'
      document.getElementById('result-104').innerHTML = 'Correct!'
      document.getElementById('showanswer10').removeChild(showAnswer10)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill nav-small">
<button class='ml-3'>
<%= link_to "Prev>>", page13_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page15_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
