<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
<div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
  <h1 class='text-dark justify-content-center'>Simultaneous Linear Equations</h1>
  </div>
  <hr>
  <article>
  When two linear equations in x and y are both satisfied by a pair of values; x and y, they are said to be <strong>simultaneous linear equations</strong> e.g. <strong>y = x + 1</strong> and <strong>y = 2x – 7</strong>
  <br> 
  <br>
  <strong>Linear equation</strong> is an equation in which the highest power of variables is 1 e.g. y = 5x – 3. The <strong>x</strong> and <strong>y</strong> are variables, <strong>5</strong> is the coefficient of <strong>x</strong> and <strong>3</strong> is the constant in the equation.
  <br>
  <br>
  Linear equation or equation of a straight line is an equation such as; y = mx + c where m and c are constants <strong>or</strong> ax + by + c = 0 (e.g. 2x – y – 3); where a and b are coefficients and c is a constant
  <br>
  <br>
  <strong>Variables</strong> are regarded as store of values i.e. symbols representing the numbers we do not know yet or letters standing for the unknown(s) in algebra. Variables can be <strong>independent</strong> and <strong>dependent;</strong>
  <br>
  <br>
  <strong>Independent variable</strong> is a variable that can stand on its own and its value does not depend on another variable(s).
  <br>
  <strong>Dependent variable</strong> is a variable whose value depends on another variable(s).
  <br>
  <br>
  In plotting linear graphs, it is important to determine the coordinates from a table of values.<strong> Coordinates</strong> means an ordered pair of values that give the position of a point on a plane. 
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>Intercepts in Linear Equations</h2>
  </div>
  Linear graph(s) can be used to determine the intercepts. <strong>Intercepts</strong> are points where the line cuts the axes. There are <strong>x-intercept</strong> and <strong>y-intercept.</strong>
 <br>
 <br>
  The <strong>x-intercept</strong> is the distance from the origin to the point where a line cuts the x-axis, x-intercept can be determined when y = 0.
<br>
<br>
  The <strong>y-intercept</strong> is the distance from the origin to the point where a line cuts the y-axis, y-intercept can be determined when x = 0.
<br>
<br>
  <strong>Example 1</strong>
  <br>
Plot a linear graph of y = 5x – 3. Find x and y intercepts.
<br>
<strong>Solution</strong>
<br>
Table of Values;
<br>
<table class="table table-bordered">
<strong>Table 1.6</strong>
  <thead>
    <tr>
      <td scope="col" class="text-center"><b>x</b></td>
      <td scope="col" class="text-center"><b>–3</b></td>
      <td scope="col" class="text-center"><b>–2</b></td>
      <td scope="col" class="text-center"><b>–1</b></td>
      <td scope="col" class="text-center"><b>0</b></td>
      <td scope="col" class="text-center"><b>1</b></td>
      <td scope="col" class="text-center"><b>2</b></td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">5x</td>
      <td class="text-center">–15</td>
      <td class="text-center">–10</td>
      <td class="text-center">–5</td>
      <td class="text-center">0</td>
      <td class="text-center">5</td>
      <td class="text-center">10</td>
      </tr>

    <tr>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td
      d>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center" >–3</td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><b>y = 5x – 3</b></td>
      <td class="text-center"><b>–18</b></td>
      <td class="text-center"><b>–13</b></td>
      <td class="text-center"><b>–8</b></td>
      <td class="text-center"><b>–3</b></td>
      <td class="text-center"><b>2</b></td>
      <td class="text-center"><b>7</b></td>
      </tr>
      <tr>
      <td class="text-center"><b>Coordinates (x, y)</b></td>
      <td class="text-center"><b>(–3, –18)</b></td>
      <td class="text-center"><b>(–2, –13)</b></td>
      <td class="text-center"><b>(–1, –8)</b></td>
      <td class="text-center"><b>(0, –3)</b></td>
      <td class="text-center"><b>(1, 2)</b></td>
      <td class="text-center"><b>(2, 7)</b></td>
      </tr>
    <tbody>
    </table>
    <br>
    Graph of y = 5x – 3 
    <br>
    <%= image_tag 'Straght-lineGraph.png', alt:'straigh-line graph image', class: 'carol col-12' %>
    <br>
    <br>
    (i) x-intercept = 0.6 i.e. when y = 0, x = 0.6 or <sup>3</sup>&frasl;<sub>5</sub> (x = 0.6, y = 0); where the line cuts the x-axis
    <br>
    (ii) y-intercept = –3 i.e. when x = 0, y = –3 (x = 0 , y = –3); where the line cuts the y-axis.
    <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>How to Solve Simultaneous Linear Equations Graphically</h2>
  </div>
  The graph of a linear equation is always a <strong>straight line. </strong>
  <br>
  <br>
  <strong>In graphical solution;</strong>
  <br>
   The values of x (independent variable) are given on the horizontal axis (<strong>x-axis</strong>), while the values of y (dependent variable) are given on the vertical axis (<strong>y-axis</strong>)
  <br>
  <br>
  The process of solving a pair of simultaneous equations graphically involves; drawing the graph of the two simultaneous linear equations first, then the two straight lines must <strong>intersect</strong> each other at a common point. This common point of <strong>intersection</strong> of the two lines gives the solution of the pair of simultaneous equations.
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  Solve this pair of simultaneous equations graphically; <strong>y – 2x = 9 </strong>and <strong>y + x = 6</strong>
  <br>
  <strong>Solution</strong>
  <br>
  <strong>Create the table of values for each linear equation;</strong>
  <br>
  (i ) y – 2x = 9 ----------(1)
  <br>
  (ii) y + x = 6 ------------(2)
  <br>
  <br>
  (i ) y – 2x = 9
  <br>
  In y = mx + c    format;
  <br>
  y = 2x + 9
  <br>
  <br>
  <table class="table table-bordered">
  <strong>Table 1.7</strong>
    <thead>
      <tr>
        <td scope="col" class="text-center"><b>x</b></td>
        <td scope="col" class="text-center"><b>0</b></td>
        <td scope="col" class="text-center"><b>1</b></td>
        <td scope="col" class="text-center"><b>2</b></td>
        <td scope="col" class="text-center"><b>3</b></td>
        <td scope="col" class="text-center"><b>4</b></td>
        <td scope="col" class="text-center"><b>5</b></td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">2x</td>
        <td class="text-center">0</td>
        <td class="text-center">2</td>
        <td class="text-center">4</td>
        <td class="text-center">6</td>
        <td class="text-center">8</td>
        <td class="text-center">10</td>
        </tr>
  
      <tr>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td
        d>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center" >+9</td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><b>y</b></td>
        <td class="text-center"><b>9</b></td>
        <td class="text-center"><b>11</b></td>
        <td class="text-center"><b>13</b></td>
        <td class="text-center"><b>15</b></td>
        <td class="text-center"><b>17</b></td>
        <td class="text-center"><b>19</b></td>
        </tr>
      <tbody>
      </table>
  <br>
      (ii) y + x = 6
      <br>
      In y = mx + c format;
      <br>
      y = -x + 6
      <br>
      <br>
      <table class="table table-bordered">
      <strong>Table 1.8</strong>
        <thead>
          <tr>
            <td scope="col" class="text-center"><b>x</b></td>
            <td scope="col" class="text-center"><b>0</b></td>
            <td scope="col" class="text-center"><b>1</b></td>
            <td scope="col" class="text-center"><b>2</b></td>
            <td scope="col" class="text-center"><b>3</b></td>
            <td scope="col" class="text-center"><b>4</b></td>
            <td scope="col" class="text-center"><b>5</b></td>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">–x</td>
            <td class="text-center">0</td>
            <td class="text-center">–1</td>
            <td class="text-center">–2</td>
            <td class="text-center">–3</td>
            <td class="text-center">–4</td>
            <td class="text-center">–5</td>
            </tr>
      
          <tr>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td
            d>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center" >+6</td>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><b>y</b></td>
            <td class="text-center"><b>6</b></td>
            <td class="text-center"><b>5</b></td>
            <td class="text-center"><b>4</b></td>
            <td class="text-center"><b>3</b></td>
            <td class="text-center"><b>2</b></td>
            <td class="text-center"><b>1</b></td>
            </tr>
          <tbody>
          </table>    
  <br>
  The graph of y = 2x + 9 and y = -x + 6;
  <br>
  <br>
  <%= image_tag 'LinearEquaGraph.png', alt:'linear eaquation graph image', class: 'carol col-12' %>
  <br>
  <br>
  <strong>From the graph above; the solution at the point of intersection is; when x = ─1 and y = 7.</strong>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Substitution and Elimination Methods in Simultaneous Equations</h3>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>How to Solve Simultaneous Equation with Substitution Method</h3>
  </div>
  <strong>Substitution</strong> method is commonly used when the coefficient of one of the unknowns in the given equations is 1.
  <br>
  <strong>Example 1</strong>
  <br>
  Use substitution method to solve this pair of simultaneous equations; x + y = 4 and 2x – y = 5.
  <br>
  <strong>Solution</strong>
  <br>
    x + y = 4 --------------------(1)
  <br>
    2x – y = 5 ------------------ (2)
  <br>
  From equation (1);
  <br>
  y = 4 ─ x ---------------(3)
  <br>
  Substitute equation (3) in equation (2)
  <br>
  2x ─ (4 ─ x) = 5; open up the bracket and collect like terms.
  <br>
  2x – 4 + x = 5
  <br>
  2x + x – 4 = 5
  <br>
  3x – 4 = 5
  <br>
  3x = 5 + 4
  <br>
  3x = 9; divide by 3
  <br>
  <sup>3x</sup>&frasl;<sub>3</sub> = <sup>9</sup>&frasl;<sub>3</sub>
  <br>
  x = 3
  <br>
  Substitute value of x in either of the equation (1) or equation (2).
  <br>
  x + y = 4; when x = 3
  <br>
  3 + y = 4
  <br>
  y = 4 – 3 
  <br>
  y = 1
  <br>
  Therefore, when x = 3, y = 1
  <br>  
  Check;
  <br>
  x + y = 4; when x = 3, y =1
  <br>
  3 + 1 = 4
  <br>
  4 = 4 (LHS = RHS; the answers are true)
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Solve Simultaneous Equations with Elimination Methods</h3>
  </div>
  <strong>Elimination</strong> method is commonly used when <strong>none</strong> of the coefficients of the unknowns in the given equations is 1. Elimination is simply done by getting rid of one of the unknowns through making its coefficient the same in both equations, then <strong>add</strong> or <strong>subtract</strong> the two equations as necessary.
  <br>
  <strong>Example 1</strong>
  <br>
  Use elimination method to solve this pair of simultaneous equations; <strong>3a – 2b = 4</strong> and <strong>2a + 3b = ─6.</strong>
  <br>
  (i)	3a – 2b = 4 -----------------------(1)
  <br>
  (ii)	2a + 3b = ─6 ----------------------(2)
  <br>
  The coefficient of <strong>a</strong> can be made the same by multiplying equation (1) with 2 and equation (2) with 3.
  <br>
  2 x 3a – 2b = 4
  <br>
  3 x 2a + 3b = ─6
  <br>
  <strong>It becomes;</strong>
  <br>
  <span class='ml-5'>6a – 4b = 8 </span>
  <br>
  ─ (<span class='ml-4'>6a + 9b = ─18</span> )
  <br>
  <span class='ml-3'> -------------------------------------</span>
  <br>
  <span class='ml-5'> -13b = 26 ;</span> <span class='ml-3'>─13b = ─4b ─(9b) and 26 = 8 ─(─18)</span>
  <br>
  <sup>-13b</sup>&frasl;<sub>-13</sub> = <sup>26</sup>&frasl;<sub>-13</sub> divide both sides by ─13
  <br>
  b = ─2
  <br>
  Substitute the value of b in equation (2)
  <br>
  3a – 2b = 4
  <br>
  3a – 2(─2) = 4
  <br>
  3a + 4 = 4
  <br>
  3a = 4 – 4 
  <br>
  3a = 0 divide both sides by 3
  <br>
  <sup>3a</sup>&frasl;<sub>3</sub>  = <sup>0</sup>&frasl;<sub>3</sub>
  <br>
  a = 0
  <br>
  Therefore; a = 0 and b = -2
  <br>
  Check;
  <br>
  3a – 2b = 4; when a = 0, b = −2
  <br>
  3(0) – 2(−2) = 4
  <br>
  0 + 4 = 4
  <br>
  +4 = 4 (LHS = RHS; the answers are true)
  <br>
  <strong>Example 2</strong>
  <br>
  Use elimination method to solve this simultaneous equations; <strong>2x + 5y = 0</strong> and <strong>3x – 2y = 19.</strong>
  <br>
  <strong>Solution</strong>
  <br>
  (i)	2x + 5y = 0 ----------------(1)
  <br>
  (ii)	3x – 2y = 19----------------(2)
  <br>
  To make the coefficient of x the same; multiply equation (1) by 3 and equation (2) by 2
  <br>
  3 x 2x + 5y = 0
  <br>
  2 x 3x – 2y = 19
  <br>
  <strong>It becomes;</strong>
  <br>
  <span class='ml-5'>6x + 15y = 0</span>
  <br>
  ─ (<span class='ml-4'>6x – 4y = 38 )
  <br>
  -----------------------------------------------
  <br>
  <span class='ml-5'>19y = ─38;</span> <strong><span class='ml-5'>19y = 15y ─(─4y)</strong> and <strong>−38 = 0 ─ 38</strong></span>
  <br>
  Divide both sides by 19
  <br>
  <sup>19y</sup>&frasl;<sub>19</sub> = <sup>−38</sup>&frasl;<sub>19</sub>
  <br>
  y = ─2
  <br>
  Substitute the value of y in equation (2)
  <br>
  3x – 2y = 19
  <br>
  3x – 2(−2) = 19
  <br>
  3x + 4 = 19
  <br>
  3x = 19 ─ 4
  <br>
  3x = 15; divide both sides by 3
  <br>
  <sup>3x</sup>&frasl;<sub>3</sub> = <sup>15</sup>&frasl;<sub>3</sub>
  <br>
  x = 5
  <br>
  <strong>Check;</strong>
  <br>
  3x – 2y = 19; when x =5, y = −2
  <br>
  3(5) – 2(─2) = 19
  <br>
  15 + 4 = 19
  <br>
  <strong>+19</strong>= 19 (LHS = RHS; answers are true)
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>World Problems in Simultaneous Equations</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
  <div class="col border-right border-danger">
  <strong>Example 1</strong>
  <br>
  A mother is 20years older than his second son. The sum of their ages is 48years. Find their ages.
  <br>
  <strong>Solution</strong>
  <br>
  Let the son’s age = x
  <br>
  Mother’s age = x + 20
  <br>
  x + (x + 20) = 48
  <br>
  x + x + 20 = 48
  <br>
  2x + 20 = 48
  <br>
  2x = 48 – 20
  <br> 
  2x = 28 divide both sides by 2
  <br>
  <sup>2x</sup>&frasl;<sub>2</sub> = <sup>28</sup>&frasl;<sub>2</sub>
  <br>
  X = 14
  <br>
  Therefore;
  <br>
  The son’s age = <strong>14</strong> 
  <br>
  The mother’s age is (x + 20) = (14 + 20) = <strong>34years</strong>
  </div>
  <div class="col">
  <strong>Example 2</strong>
  <br>
  The sum of Smith’s age and John’s age is 25years. 8years ago, Smith’s age was twice as old as John’s age. How old are they now?
  <br>
  <strong>Solution</strong>
  <br>
  Let Smith’s age = S
  <br>
  Let John’s age = J
  <br>
  S + J = 25-----------(1)
  <br>
  S – 8 = 2(J – 8)
  <br>
  S – 8 = 2J – 16 
  <br>
  S = 2J – 16 + 8
  <br>
  S = 2J – 8 ---------------(2)
  <br>
  Substitute equation (2) in equation (1)
  <br>
  S + J = 25
  <br>
  2J – 8 + J = 25
  <br>
  3J = 25 + 8
  <br>
  3J = 33; divide both sides by 3
  <br>
  <sup>3J</sup>&frasl;<sub>3</sub> = <sup>33</sup>&frasl;<sub>3</sub>
  <br>
  J = 11
  Substitute J in equation (1)
  S + J = 25
  <br>
  S + 11 = 25
  <br>
  S = 25 – 11
  <br>
  S = 14
  <br>
  Therefore;
  <br>
   Smith’s age = <strong>14years</strong>
   <br>
   John’s age = <strong>11years.</strong>
  </div>
  </div>
  </div>
  </article>
  <hr>
  <div class="d-flex justify-content-start text-primary">
  <h5>Test your <strong class='text-secondary'>Simultaneous Linear Equations</strong> knowledge with these Objective Questions.</h5>
  </div>
  <article>
  <div class='obj-cont' >
    <h6>1.	Solve this simultaneous equations; x –y = 2 and 2x + y = 7</h6>
   <div id='block-11' >
      <label for='option-11' style=' padding: 5px;'>
        <input type='radio' name='option' value='x = 3 and y = 1' id='option-11' style='transform: scale(1.2)'  />
        x = 3 and y = 1</label>
      <span id='result-11'></span>
    </div>
   
  
    <div id='block-12'>
      <label for='option-12' style='padding: 5px;'>
        <input type='radio' name='option' value='x = 1 and y = 1' id='option-12' style='transform: scale(1.2)' />
        x = 1 and y = 1</label>
      <span id='result-12'></span>
    </div>
    
  
    <div id='block-13'>
      <label for='option-13' style='padding: 5px;'>
        <input type='radio' name='option' value='x = 3 and y = 3' id='option-13' style='transform: scale(1.2)' />
        x = 3 and y = 3</label>
      <span id='result-13'></span>
    </div>
    
  
    <div id='block-14'>
      <label for='option-14' style=' padding: 5px;'>
        <input type='radio' name='option' value='x = 2 and y = 5' id='option-14' style='transform: scale(1.2)' />
        x = 2 and y = 5</label>
      <span id='result-14'></span>
    </div>
   
    <button type='button' class = "c-btn" onclick='displayAnswer3()'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer3() {
      if (document.getElementById('option-11').checked) {
        document.getElementById('block-11').style.border = '3px solid limegreen'
        document.getElementById('result-11').style.color = 'limegreen'
        document.getElementById('result-11').innerHTML = 'Correct!'
      }
      if (document.getElementById('option-12').checked) {
        document.getElementById('block-12').style.border = '3px solid red'
        document.getElementById('result-12').style.color = 'red'
        document.getElementById('result-12').innerHTML = 'Incorrect!'
        showCorrectAnswer3()
      }
      if (document.getElementById('option-13').checked) {
        document.getElementById('block-13').style.border = '3px solid red'
        document.getElementById('result-13').style.color = 'red'
        document.getElementById('result-13').innerHTML = 'Incorrect!'
        showCorrectAnswer3()
      }
      if (document.getElementById('option-14').checked) {
        document.getElementById('block-14').style.border = '3px solid red'
        document.getElementById('result-14').style.color = 'red'
        document.getElementById('result-14').innerHTML = 'Incorrect!'
        showCorrectAnswer3()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer3() {
      let showAnswer3 = document.createElement('p')
      showAnswer3.innerHTML = 'Show Corrent Answer'
      showAnswer3.style.position = 'relative'
      showAnswer3.style.top = '-150px'
      showAnswer3.style.fontSize = '1.5rem'
      document.getElementById('showanswer3').appendChild(showAnswer3)
      showAnswer3.addEventListener('click', () => {
        document.getElementById('block-11').style.border = '3px solid limegreen'
        document.getElementById('result-11').style.color = 'limegreen'
        document.getElementById('result-11').innerHTML = 'Correct!'
        document.getElementById('showanswer3').removeChild(showAnswer3)
      })
    }
  </script>
  </article>
  <hr>
  <article>
  <div class='obj-cont'>
    <h6>2.	The average of two numbers is 7. The difference between them is 6. Find the numbers.</h6>
   <div id='block-21' >
      <label for='option-21' style=' padding: 5px;'>
        <input type='radio' name='option1' value='12 and 18' id='option-21' style='transform: scale(1.2)'  />
        12 and 18</label>
      <span id='result-21'></span>
    </div>
   
  
    <div id='block-22'>
      <label for='option-22' style='padding: 5px;'>
        <input type='radio' name='option1' value='3 and 6' id='option-22' style='transform: scale(1.2)' />
        3 and 6</label>
      <span id='result-22'></span>
    </div>
    
  
    <div id='block-23'>
      <label for='option-23' style='padding: 5px;'>
        <input type='radio' name='option1' value='10 and 4' id='option-23' style='transform: scale(1.2)' />
        10 and 4</label>
      <span id='result-23'></span>
    </div>
    
  
    <div id='block-24'>
      <label for='option-24' style=' padding: 5px;'>
        <input type='radio' name='option1' value='11 and 7' id='option-24' style='transform: scale(1.2)' />
        11 and 7</label>
      <span id='result-24'></span>
    </div>
   
    <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
  </div>
  
  <script>
    //    The function evaluates the answer and displays result
    function displayAnswer4() {
      if (document.getElementById('option-21').checked) {
        document.getElementById('block-21').style.border = '3px solid red'
        document.getElementById('result-21').style.color = 'red'
        document.getElementById('result-21').innerHTML = 'Incorrect!'
      }
      if (document.getElementById('option-22').checked) {
        document.getElementById('block-22').style.border = '3px solid red'
        document.getElementById('result-22').style.color = 'red'
        document.getElementById('result-22').innerHTML = 'Incorrect!'
        showCorrectAnswer4()
      }
      if (document.getElementById('option-23').checked) {
        document.getElementById('block-23').style.border = '3px solid limegreen'
        document.getElementById('result-23').style.color = 'limegreen'
        document.getElementById('result-23').innerHTML = 'Correct!'
        showCorrectAnswer4()
      }
      if (document.getElementById('option-24').checked) {
        document.getElementById('block-24').style.border = '3px solid red'
        document.getElementById('result-24').style.color = 'red'
        document.getElementById('result-24').innerHTML = 'Incorrect!'
        showCorrectAnswer4()
      }
    }
    // the functon displays the link to the correct answer
    function showCorrectAnswer4() {
      let showAnswer4 = document.createElement('p')
      showAnswer4.innerHTML = 'Show Corrent Answer'
      showAnswer4.style.position = 'relative'
      showCorrectAnswer4.style.top = '-150px'
      showAnswer4.style.fontSize = '1.5rem'
      document.getElementById('showanswer4').appendChild(showAnswer4)
      showAnswer4.addEventListener('click', () => {
        document.getElementById('block-23').style.border = '3px solid limegreen'
        document.getElementById('result-23').style.color = 'limegreen'
        document.getElementById('result-23').innerHTML = 'Correct!'
        document.getElementById('showanswer4').removeChild(showAnswer4)
      })
    }
  </script>
  </article>
   </div>
   </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
  <nav class="nav nav-pills nav-fill">
  <button class='ml-3'>
  <%= link_to "Prev>>", page10_path, class:'h3' %>
    </button>
  <a class="nav-item nav-link" href="#"></a>
    <a class="nav-item nav-link" href="#"></a>
  <button class='mr-2 ml-3'>
  <%= link_to "Next>>", page12_path, class:'h3' %>
  </button>
  </nav>
  <hr>
  <%= render 'layouts/footer' %>
  </div>
  <%= render 'mathematics/sidebar'%>
  </div>



































































































































































































































  <div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
  <h1 class='text-dark justify-content-center'>Simultaneous Linear Equations</h1>
  </div>
  <hr>
  <article>
  When two linear equations in x and y are both satisfied by a pair of values; x and y, they are said to be <strong>simultaneous linear equations</strong> e.g. <strong>y = x + 1</strong> and <strong>y = 2x – 7</strong>
  <br> 
  <br>
  <strong>Linear equation</strong> is an equation in which the highest power of variables is 1 e.g. y = 5x – 3. The <strong>x</strong> and <strong>y</strong> are variables, <strong>5</strong> is the coefficient of <strong>x</strong> and <strong>3</strong> is the constant in the equation.
  <br>
  <br>
  Linear equation or equation of a straight line is an equation such as; y = mx + c where m and c are constants <strong>or</strong> ax + by + c = 0 (e.g. 2x – y – 3); where a and b are coefficients and c is a constant
  <br>
  <br>
  <strong>Variables</strong> are regarded as store of values i.e. symbols representing the numbers we do not know yet or letters standing for the unknown(s) in algebra. Variables can be <strong>independent</strong> and <strong>dependent;</strong>
  <br>
  <br>
  <strong>Independent variable</strong> is a variable that can stand on its own and its value does not depend on another variable(s).
  <br>
  <strong>Dependent variable</strong> is a variable whose value depends on another variable(s).
  <br>
  <br>
  In plotting linear graphs, it is important to determine the coordinates from a table of values.<strong> Coordinates</strong> means an ordered pair of values that give the position of a point on a plane. 
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>Intercepts in Linear Equations</h2>
  </div>
  Linear graph(s) can be used to determine the intercepts. <strong>Intercepts</strong> are points where the line cuts the axes. There are <strong>x-intercept</strong> and <strong>y-intercept.</strong>
 <br>
 <br>
  The <strong>x-intercept</strong> is the distance from the origin to the point where a line cuts the x-axis, x-intercept can be determined when y = 0.
<br>
<br>
  The <strong>y-intercept</strong> is the distance from the origin to the point where a line cuts the y-axis, y-intercept can be determined when x = 0.
<br>
<br>
  <strong>Example 1</strong>
  <br>
Plot a linear graph of y = 5x – 3. Find x and y intercepts.
<br>
<strong>Solution</strong>
<br>
Table of Values;
<br>
<table class="table table-bordered">
<strong>Table 1.6</strong>
  <thead>
    <tr>
      <td scope="col" class="text-center"><b>x</b></td>
      <td scope="col" class="text-center"><b>–3</b></td>
      <td scope="col" class="text-center"><b>–2</b></td>
      <td scope="col" class="text-center"><b>–1</b></td>
      <td scope="col" class="text-center"><b>0</b></td>
      <td scope="col" class="text-center"><b>1</b></td>
      <td scope="col" class="text-center"><b>2</b></td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">5x</td>
      <td class="text-center">–15</td>
      <td class="text-center">–10</td>
      <td class="text-center">–5</td>
      <td class="text-center">0</td>
      <td class="text-center">5</td>
      <td class="text-center">10</td>
      </tr>

    <tr>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td
      d>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center">–3</td>
      <td scope="col" class="text-center" >–3</td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><b>y = 5x – 3</b></td>
      <td class="text-center"><b>–18</b></td>
      <td class="text-center"><b>–13</b></td>
      <td class="text-center"><b>–8</b></td>
      <td class="text-center"><b>–3</b></td>
      <td class="text-center"><b>2</b></td>
      <td class="text-center"><b>7</b></td>
      </tr>
      <tr>
      <td class="text-center"><b>Coordinates (x, y)</b></td>
      <td class="text-center"><b>(–3, –18)</b></td>
      <td class="text-center"><b>(–2, –13)</b></td>
      <td class="text-center"><b>(–1, –8)</b></td>
      <td class="text-center"><b>(0, –3)</b></td>
      <td class="text-center"><b>(1, 2)</b></td>
      <td class="text-center"><b>(2, 7)</b></td>
      </tr>
    <tbody>
    </table>
    <br>
    Graph of y = 5x – 3 
    <br>
    <%= image_tag 'Straght-lineGraph.png', alt:'straigh-line graph image', class: 'carol col-12' %>
    <br>
    <br>
    (i) x-intercept = 0.6 i.e. when y = 0, x = 0.6 or <sup>3</sup>&frasl;<sub>5</sub> (x = 0.6, y = 0); where the line cuts the x-axis
    <br>
    (ii) y-intercept = –3 i.e. when x = 0, y = –3 (x = 0 , y = –3); where the line cuts the y-axis.
    <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>How to Solve Simultaneous Linear Equations Graphically</h2>
  </div>
  The graph of a linear equation is always a <strong>straight line. </strong>
  <br>
  <br>
  <strong>In graphical solution;</strong>
  <br>
   The values of x (independent variable) are given on the horizontal axis (<strong>x-axis</strong>), while the values of y (dependent variable) are given on the vertical axis (<strong>y-axis</strong>)
  <br>
  <br>
  The process of solving a pair of simultaneous equations graphically involves; drawing the graph of the two simultaneous linear equations first, then the two straight lines must <strong>intersect</strong> each other at a common point. This common point of <strong>intersection</strong> of the two lines gives the solution of the pair of simultaneous equations.
  <br>
  <br>
  <strong>Example 1</strong>
  <br>
  Solve this pair of simultaneous equations graphically; <strong>y – 2x = 9 </strong>and <strong>y + x = 6</strong>
  <br>
  <strong>Solution</strong>
  <br>
  <strong>Create the table of values for each linear equation;</strong>
  <br>
  (i ) y – 2x = 9 ----------(1)
  <br>
  (ii) y + x = 6 ------------(2)
  <br>
  <br>
  (i ) y – 2x = 9
  <br>
  In y = mx + c    format;
  <br>
  y = 2x + 9
  <br>
  <br>
  <table class="table table-bordered">
  <strong>Table 1.7</strong>
    <thead>
      <tr>
        <td scope="col" class="text-center"><b>x</b></td>
        <td scope="col" class="text-center"><b>0</b></td>
        <td scope="col" class="text-center"><b>1</b></td>
        <td scope="col" class="text-center"><b>2</b></td>
        <td scope="col" class="text-center"><b>3</b></td>
        <td scope="col" class="text-center"><b>4</b></td>
        <td scope="col" class="text-center"><b>5</b></td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">2x</td>
        <td class="text-center">0</td>
        <td class="text-center">2</td>
        <td class="text-center">4</td>
        <td class="text-center">6</td>
        <td class="text-center">8</td>
        <td class="text-center">10</td>
        </tr>
  
      <tr>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td
        d>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center">+9</td>
        <td scope="col" class="text-center" >+9</td>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><b>y</b></td>
        <td class="text-center"><b>9</b></td>
        <td class="text-center"><b>11</b></td>
        <td class="text-center"><b>13</b></td>
        <td class="text-center"><b>15</b></td>
        <td class="text-center"><b>17</b></td>
        <td class="text-center"><b>19</b></td>
        </tr>
      <tbody>
      </table>
  <br>
      (ii) y + x = 6
      <br>
      In y = mx + c format;
      <br>
      y = -x + 6
      <br>
      <br>
      <table class="table table-bordered">
      <strong>Table 1.8</strong>
        <thead>
          <tr>
            <td scope="col" class="text-center"><b>x</b></td>
            <td scope="col" class="text-center"><b>0</b></td>
            <td scope="col" class="text-center"><b>1</b></td>
            <td scope="col" class="text-center"><b>2</b></td>
            <td scope="col" class="text-center"><b>3</b></td>
            <td scope="col" class="text-center"><b>4</b></td>
            <td scope="col" class="text-center"><b>5</b></td>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">–x</td>
            <td class="text-center">0</td>
            <td class="text-center">–1</td>
            <td class="text-center">–2</td>
            <td class="text-center">–3</td>
            <td class="text-center">–4</td>
            <td class="text-center">–5</td>
            </tr>
      
          <tr>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td
            d>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center">+6</td>
            <td scope="col" class="text-center" >+6</td>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><b>y</b></td>
            <td class="text-center"><b>6</b></td>
            <td class="text-center"><b>5</b></td>
            <td class="text-center"><b>4</b></td>
            <td class="text-center"><b>3</b></td>
            <td class="text-center"><b>2</b></td>
            <td class="text-center"><b>1</b></td>
            </tr>
          <tbody>
          </table>    
  <br>
  The graph of y = 2x + 9 and y = -x + 6;
  <br>
  <br>
  <%= image_tag 'LinearEquaGraph.png', alt:'linaer eaquation graph image', class: 'carol col-12' %>
  <br>
  <br>
  <strong>From the graph above; the solution at the point of intersection is; when x = ─1 and y = 7.</strong>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Substitution and Elimination Methods in Simultaneous Equations</h3>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>How to Solve Simultaneous Equation with Substitution Method</h3>
  </div>
  <strong>Substitution</strong> method is commonly used when the coefficient of one of the unknowns in the given equations is 1.
  <br>
  <strong>Example 1</strong>
  <br>
  Use substitution method to solve this pair of simultaneous equations; x + y = 4 and 2x – y = 5.
  <br>
  <strong>Solution</strong>
  <br>
    x + y = 4 --------------------(1)
  <br>
    2x – y = 5 ------------------ (2)
  <br>
  From equation (1);
  <br>
  y = 4 ─ x ---------------(3)
  <br>
  Substitute equation (3) in equation (2)
  <br>
  2x ─ (4 ─ x) = 5; open up the bracket and collect like terms.
  <br>
  2x – 4 + x = 5
  <br>
  2x + x – 4 = 5
  <br>
  3x – 4 = 5
  <br>
  3x = 5 + 4
  <br>
  3x = 9; divide by 3
  <br>
  <sup>3x</sup>&frasl;<sub>3</sub> = <sup>9</sup>&frasl;<sub>3</sub>
  <br>
  x = 3
  <br>
  Substitute value of x in either of the equation (1) or equation (2).
  <br>
  x + y = 4; when x = 3
  <br>
  3 + y = 4
  <br>
  y = 4 – 3 
  <br>
  y = 1
  <br>
  Therefore, when x = 3, y = 1
  <br>  
  Check;
  <br>
  x + y = 4; when x = 3, y =1
  <br>
  3 + 1 = 4
  <br>
  4 = 4 (LHS = RHS; the answers are true)
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Solve Simultaneous Equations with Elimination Methods</h3>
  </div>
  <strong>Elimination</strong> method is commonly used when <strong>none</strong> of the coefficients of the unknowns in the given equations is 1. Elimination is simply done by getting rid of one of the unknowns through making its coefficient the same in both equations, then <strong>add</strong> or <strong>subtract</strong> the two equations as necessary.
  <br>
  <strong>Example 1</strong>
  <br>
  Use elimination method to solve this pair of simultaneous equations; <strong>3a – 2b = 4</strong> and <strong>2a + 3b = ─6.</strong>
  <br>
  (i)	3a – 2b = 4 -----------------------(1)
  <br>
  (ii)	2a + 3b = ─6 ----------------------(2)
  <br>
  The coefficient of <strong>a</strong> can be made the same by multiplying equation (1) with 2 and equation (2) with 3.
  <br>
  2 x 3a – 2b = 4
  <br>
  3 x 2a + 3b = ─6
  <br>
  <strong>It becomes;</strong>
  <br>
  <span class='ml-5'>6a – 4b = 8 </span>
  <br>
  ─ (<span class='ml-4'>6a + 9b = ─18</span> )
  <br>
  <span class='ml-3'> -------------------------------------</span>
  <br>
  <span class='ml-5'> -13b = 26 ;</span> <span class='ml-3'>─13b = ─4b ─(9b) and 26 = 8 ─(─18)</span>
  <br>
  <sup>-13b</sup>&frasl;<sub>-13</sub> = <sup>26</sup>&frasl;<sub>-13</sub> divide both sides by ─13
  <br>
  b = ─2
  <br>
  Substitute the value of b in equation (2)
  <br>
  3a – 2b = 4
  <br>
  3a – 2(─2) = 4
  <br>
  3a + 4 = 4
  <br>
  3a = 4 – 4 
  <br>
  3a = 0 divide both sides by 3
  <br>
  <sup>3a</sup>&frasl;<sub>3</sub>  = <sup>0</sup>&frasl;<sub>3</sub>
  <br>
  a = 0
  <br>
  Therefore; a = 0 and b = -2
  <br>
  Check;
  <br>
  3a – 2b = 4; when a = 0, b = −2
  <br>
  3(0) – 2(−2) = 4
  <br>
  0 + 4 = 4
  <br>
  +4 = 4 (LHS = RHS; the answers are true)
  <br>
  <strong>Example 2</strong>
  <br>
  Use elimination method to solve this simultaneous equations; <strong>2x + 5y = 0</strong> and <strong>3x – 2y = 19.</strong>
  <br>
  <strong>Solution</strong>
  <br>
  (i)	2x + 5y = 0 ----------------(1)
  <br>
  (ii)	3x – 2y = 19----------------(2)
  <br>
  To make the coefficient of x the same; multiply equation (1) by 3 and equation (2) by 2
  <br>
  3 x 2x + 5y = 0
  <br>
  2 x 3x – 2y = 19
  <br>
  <strong>It becomes;</strong>
  <br>
  <span class='ml-5'>6x + 15y = 0</span>
  <br>
  ─ (<span class='ml-4'>6x – 4y = 38 )
  <br>
  -----------------------------------------------
  <br>
  <span class='ml-5'>19y = ─38;</span> <strong><span class='ml-5'>19y = 15y ─(─4y)</strong> and <strong>−38 = 0 ─ 38</strong></span>
  <br>
  Divide both sides by 19
  <br>
  <sup>19y</sup>&frasl;<sub>19</sub> = <sup>−38</sup>&frasl;<sub>19</sub>
  <br>
  y = ─2
  <br>
  Substitute the value of y in equation (2)
  <br>
  3x – 2y = 19
  <br>
  3x – 2(−2) = 19
  <br>
  3x + 4 = 19
  <br>
  3x = 19 ─ 4
  <br>
  3x = 15; divide both sides by 3
  <br>
  <sup>3x</sup>&frasl;<sub>3</sub> = <sup>15</sup>&frasl;<sub>3</sub>
  <br>
  x = 5
  <br>
  <strong>Check;</strong>
  <br>
  3x – 2y = 19; when x =5, y = −2
  <br>
  3(5) – 2(─2) = 19
  <br>
  15 + 4 = 19
  <br>
  <strong>+19</strong>= 19 (LHS = RHS; answers are true)
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>World Problems in Simultaneous Equations</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
  <div class="col border-right border-danger">
  <strong>Example 1</strong>
  <br>
  A mother is 20years older than his second son. The sum of their ages is 48years. Find their ages.
  <br>
  <strong>Solution</strong>
  <br>
  Let the son’s age = x
  <br>
  Mother’s age = x + 20
  <br>
  x + (x + 20) = 48
  <br>
  x + x + 20 = 48
  <br>
  2x + 20 = 48
  <br>
  2x = 48 – 20
  <br> 
  2x = 28 divide both sides by 2
  <br>
  <sup>2x</sup>&frasl;<sub>2</sub> = <sup>28</sup>&frasl;<sub>2</sub>
  <br>
  X = 14
  <br>
  Therefore;
  <br>
  The son’s age = <strong>14</strong> 
  <br>
  The mother’s age is (x + 20) = (14 + 20) = <strong>34years</strong>
  </div>
  <div class="col">
  <strong>Example 2</strong>
  <br>
  The sum of Smith’s age and John’s age is 25years. 8years ago, Smith’s age was twice as old as John’s age. How old are they now?
  <br>
  <strong>Solution</strong>
  <br>
  Let Smith’s age = S
  <br>
  Let John’s age = J
  <br>
  S + J = 25-----------(1)
  <br>
  S – 8 = 2(J – 8)
  <br>
  S – 8 = 2J – 16 
  <br>
  S = 2J – 16 + 8
  <br>
  S = 2J – 8 ---------------(2)
  <br>
  Substitute equation (2) in equation (1)
  <br>
  S + J = 25
  <br>
  2J – 8 + J = 25
  <br>
  3J = 25 + 8
  <br>
  3J = 33; divide both sides by 3
  <br>
  <sup>3J</sup>&frasl;<sub>3</sub> = <sup>33</sup>&frasl;<sub>3</sub>
  <br>
  J = 11
  Substitute J in equation (1)
  S + J = 25
  <br>
  S + 11 = 25
  <br>
  S = 25 – 11
  <br>
  S = 14
  <br>
  Therefore;
  <br>
   Smith’s age = <strong>14years</strong>
   <br>
   John’s age = <strong>11years.</strong>
  </div>
  </div>
  </div>
  </article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Simultaneous Linear Equations</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1.	Solve this simultaneous equations; x –y = 2 and 2x + y = 7</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option' value='x = 3 and y = 1' id='option-31' style='transform: scale(1.2)'  />
      x = 3 and y = 1</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option' value='x = 1 and y = 1' id='option-32' style='transform: scale(1.2)' />
      x = 1 and y = 1</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option' value='x = 3 and y = 3' id='option-33' style='transform: scale(1.2)' />
      x = 3 and y = 3</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option' value='x = 2 and y = 5' id='option-34' style='transform: scale(1.2)' />
      x = 2 and y = 5</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	The average of two numbers is 7. The difference between them is 6. Find the numbers.</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option1' value='12 and 18' id='option-41' style='transform: scale(1.2)'  />
      12 and 18</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option1' value='3 and 6' id='option-42' style='transform: scale(1.2)' />
      3 and 6</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option1' value='10 and 4' id='option-43' style='transform: scale(1.2)' />
      10 and 4</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option1' value='11 and 7' id='option-44' style='transform: scale(1.2)' />
      11 and 7</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-43').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill nav-small">
<button class='ml-3'>
<%= link_to "Prev>>", page10_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page12_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
