<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Factors and Multiples in Whole Numbers</h1>
</div>
<hr>
<article>
<p>
A <strong>factor</strong> is simply a number that can divide another whole number without any remainder e.g. <sup>16</sup>&frasl;<sub><b>2</b></sub> = 8, <sup>16</sup>&frasl;<sub><b>4</b></sub> = 4 and  <sup>16</sup>&frasl;<sub><b>8</b></sub> = 2. Then we can say <b>2</b>, <b>4</b> and <b>8</b> are factors of 16.
<br>
The whole numbers; 1, 2, 4, 8 and 16 all divide into 16 can be regarded as <b>factors</b> of 16.
<br>
<strong class='text-primary'>Note: 1 is a common factor of all whole numbers </strong>i.e. 1 can divide all whole numbers.
</p>
</article>

<article>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>How to Determine Factors of a Whole Number.</h2>
</div>

<p>
i.	Break the whole number down into its component numbers.
<br>
ii.	Find all the possible products of the component numbers that can divide the whole number without any remainder.
<br>
iii.	Write out all the products including <b> 1</b>.
</p>
<p>
<strong class='text-danger'>Note: Product means multiplying two or more numbers together.</strong>
</p>

<b>Example 1</b>
<br>
(i) Find all the factors of 28.
<br>
(ii) Find all the factors of 32.
<br>
<b>Solution(i)</b>
<br>
<b>28</b> = 1 x 2 x 2 x 7
<br>
Possible Products => 1 x 2 = <b>2</b>, 2 x 2 = <b>4</b>, 1 x 7 = <b>7</b>, 2 x 7 = <b>14</b> and 2 x 14 = <b>28</b>.
<br>
<b>Factors</b> are => <b>1, 2, 4, 7, 14 and 28</b>.
<br>
<b>Solution(ii)</b>
<br>
<b>32</b> = 1 x 2 x 2 x 2 x 2 x 2
<br>
Possible Products => 1 x 2 = <b>2</b>, 2 x 2 = <b>4</b>, 4 x 2 = <b>8</b>, 8 x 2 = <b>16</b>, 16 x 2 =<b>32</b>.
<br>
<strong>Factors</strong> are => <strong>1, 2, 4, 8, 16 and 32</strong>.
</article>

<article>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Prime Numbers.</h3>
</div>
<p>
A prime number is a number divisible only by 1 and itself i.e. it has only two factors; itself and 1 e.g. Prime numbers between 1---20 are; 2, 3, 5, 7, 11, 13, 17 and 19. <strong>Note: 1 is not a prime number</strong>.
</p>
<div class="d-flex justify-content-center mt-3">
<h4 class='text-dark justify-content-center'>Prime Factors</h4>
</div>
<p>
<strong>Prime factors</strong> of a number are factors of that number that are prime numbers obtained by breaking the number down into its component prime numbers.
<br>
<b>Example 1</b>
<br>
Find the prime factors of 24.
<br>
<b>Solution</b>
<br>
<b>24</b> = 2 x 2 x 2 x 3 (<strong>Prime Factors</strong>)
</p>
<div class="d-flex justify-content-center mt-3">
<h4 class='text-dark justify-content-center'>Rules for Finding Prime Factors of a Number</h4>
</div>
<p>
(i)	Begin with the lowest prime number, 2 and check if it will divide the number, if not use the next prime number, 3, then move on to try 5, 7, 11 and so on.
<br>
(ii)	If a prime number can divide the number, confirm if it will divide the result again before moving to the next prime number.
<br>
<b>Example 1</b>
<br>
Express 72 as a product of its prime actors.
<br>
<b>Solution</b>
<br>
2 => 72
<br>
2 => 36
<br>
2 => 18
<br>
3 => 9
<br>
3 => 3
<br>
	1
<br>
72 = <strong>2 x 2 x 2 x 3 x 3</strong>
</p>
 
<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Prime Factors in the Index Form</h3>
</div>

<strong>Index form</strong> is the writing of a number in its raise to power form e.g. 
16 = 2 x 2 x 2 x 2 = 2<sup>4</sup> , then 4 in 2<sup>4</sup>  is the <b>power</b> or <b>index</b>. Therefore, 
the power of <b>2</b> is called <strong>Squared</strong> and the power of <b>3</b> is called <strong>Cubed</strong> i.e.  
3<sup>2</sup> => three squared, 2<sup>3</sup> => two cubed.
<br>
<b>Example 1</b>
<br>
Express each of 48, 92 and 675 as a product of the prime factors. Leave your answer in the index form.
<br>
<b>Solution</b>
<br>
48 = 2 x 2 x 2 x 2 x 3 => 2<sup>4</sup> x 3 (<strong>index form</strong>)
<br>
92 = 2 x 2 x 23 => 2<sup>2</sup> X 23 (<strong>index form</strong>)
<br>
675 = 3 x 3 x 3 x 5 x 5 => 3<sup>3</sup> x 5<sup>2</sup> (<strong>index form</strong>)
</p>
</article>

<article>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Common Factors</h3>
</div>

<p>
A factor of more than one number is called a <strong>common factor</strong> e.g. 10 and 14 are divisible by 2, then 2 is a common factor of 10 and 14.
</p>
<p>
If a set of numbers have more than one <strong>common factor</strong>, the product of the factors will be the <b>common factor </b>of that set of numbers e.g. 21, 35 and 56 are divisible by 3 and 7, then the <strong>common factor</strong> is 3 x 7 => <strong>21.</strong>
</p>

<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>HCF (Highest Common Factor)</h3>
</div>

<strong>HCF </strong>is the biggest number that will divide two or more numbers.
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>How to Determine the HCF of a Set of Numbers</h3>
</div>
i.	Express the numbers as a product of the prime factors.
<br>
ii. Identify all the common prime factors.
<br>
iii. Find the product of the common prime factors to get the HCF.
<br>
<b>Example 1</b>
<br>
Find the HCF of 24, 40 and 64.
<br>
<b>Solution</b>
<br>
24 = (2) x (2) x (2) x 3 
<br>
40 = (2) x (2) x (2) x 5 
<br>
64 = (2) x (2) x (2) x 2 x 2 x 2
<br>
HCF = 2 x 2 x 2 => <b>8</b> (i.e. 2 is common to the three numbers 3 times)

<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Using Index Notation</h3>
</div>
<b>Example 2</b>
<br>
Find the HCF of 144, 216 and 360 using index notation
<br>
<b>Solution</b>
<br>
144 = 2 x 2 x 2 x 2 x 3 x 3 => 2<sup>4</sup> x 3<sup>2</sup>
<br>
216 = 2 x 2 x 2 x 3 x 3 x 3 => 2<sup>3</sup> x 3<sup>3</sup> 
<br>
360 = 2 x 2 x 2 x 3 x 3 x 5 => 2<sup>3</sup> x 3<sup>2</sup> x 5
<br>
In the above, the lowest power of 2 is 3 and the lowest power of 3 is 2. Then we need to rewrite the index notation of the numbers according to the lowest powers of the prime factors.
<br>
144 = (2<sup>3</sup> x 3<sup>2</sup>) x 2
<br>
216 = (2<sup>3</sup>x 3<sup>2</sup>) x 3
<br>
360 = (2<sup>3</sup> x 3<sup>2</sup>) x 5
<br>
2<sup>3</sup>and 3<sup>2</sup> are common to all the numbers. Therefore, <strong>HCF</strong> = 2<sup>3</sup> x 3<sup>2</sup> = 8 x 9 => <b>72</b>
</p>

<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Multiples</h3>
</div>

<strong>Multiples</strong> are set of numbers that can be divided by a particular whole number. A <strong>multiple</strong> is the product of factors e.g. 6, 9, 12, 15 are <strong>multiples of 3</strong>.


<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Common Multiples</h3>
</div>


<b>Multiple of 3</b> => 6, 9, <b>12</b>, 15, 18, 21, 24, 27, 30
<br>
<b>Multiple of 6 </b> => <b>12</b>, 18, 24, 30
<br>
<b>12</b> is a <b>common multiple </b>of 3 and 6. 
<br>
Other <b>common multiples</b> of 3 and 6 => <b>18</b>, <b>24</b> and <b>30</b>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Find five multiples of 2 and 5.
    <br>
    <b>Solution</b>
    <br>
    Multiples of 2 => <b>4, 6, 8, 10, 12</b>
    <br>
    Multiples of 5 => <b>10, 15, 20, 25, 30</b>
   </div>
    <div class="col">
    <b>Example 2</b>
    <br>
    Write two common multiples of 5 and 6.
    <br>
    <b> Solution</b>
    <br>
    Multiples of 5 => 10, 15, 20, 25, <b>30</b>, 35, 40, 45, 50, 55, <b>60</b>
    <br>
    Multiples of 6 => 12, 18, 24, <b>30</b>, 36, 42, 48, 52, <b>60</b>
    <br>
    The <strong>two common multiples </strong>5 and 6 =><b> 30 and 60</b>
    </div>
  </div>
  </div>
</p>
<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>LCM (Lowest Common Multiple)</h3>
</div>
<strong>LCM</strong> is the smallest number that two or more numbers will divide without any remainder.
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Find the LCM of 8, 10 and 12.
    <br>
    <b> Solution</b>
    <br>
    8 = (2<sup>3</sup>)
    <br>
    10 = 2 x (5)
    <br>
    12 = 2 x 2 x (3)
    <br>
    For <strong>LCM</strong>, pick the prime factors with highest powers i.e. for <b>2</b>, 3 is the highest power, for <b>3</b>, 1 is the highest power and for <b>5</b>, 1 is the highest power.
    <br>
    Therefore, <strong>LCM</strong> = 2<sup>3</sup> x 3 x 5 = 8 x 3 x 5 => <b>120</b>
    </div>
    <div class="col">
    <b>Example 2</b>
    <br>
    Find the LCM of 126, 120 and 350.
    <br>
    <b>Solution</b>
    <br>
    126 = 2 x (3<sup>2</sup>) x 7
    <br>
    120 = (2<sup>3</sup>) x 3 x 5
    <br>
    350 = 2 x (5<sup>2</sup>) x (7)
    <br>
    Then, pick the prime factors with highest powers as indicated by the brackets. <strong>Note: pick a prime factor once</strong>.
    <br>
    <strong>LCM</strong> = 2<sup>3</sup> x 3<sup>2</sup> x 5<sup>2</sup> x 7 => <strong> 12600	</strong>
    </div>
  </div>
  </div>
</p>
<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>How to Determine Divisibility of Numbers</h3>
</div>
<strong>Divisibility</strong> is the ability of a number to divide another whole number without any remainder.
<br>
The divisibility <b>rules</b> are;
<br>
<b>For 2</b> => If the last digit is even or zero (0) e.g. <sup>14</sup>&frasl;<sub>2</sub> = 7, <sup>20</sup>&frasl;<sub>2</sub> = 10
<br>
<b>For 3 </b> => If the sum of its digits is divisible by 3 e.g. <sup>21</sup>&frasl;<sub>3</sub>= 7
<br>
<b>For 4 </b> => If the sum of the last two digits is divisible by 4 e.g. <sup>484</sup>&frasl;<sub>4</sub> = 121
<br>
<b>For 5 </b> => If the last digit is 5 or zero (0) e.g. <sup>15</sup>&frasl;<sub>5</sub> = 3, <sup>10</sup>&frasl;<sub>2</sub> = 2
<br>
<b>For 6 </b> => If the last digit is even and sum of its digits is divisible by 3 e.g. <sup>72</sup>&frasl;<sub>6</sub> = 12
<br>
<b>For 8 </b> => If the sum of the last 3 digits is divisible by 2 e.g. <sup>1936</sup>&frasl;<sub>8</sub> = 242
<br>
<b>For 9 </b> => If the sum of its digits is divisible by 9 e.g. <sup>39</sup>&frasl;<sub>9</sub> = 4
<br>
<b>For 10 </b> => If its last digit is zero (0)
<br>
<strong class='text-danger'>Note: There is no precise rule for division by 7. You just have to divide through to know if 7 can divide the number </strong>.
</p>

<p>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Number Pattern</h3>
</div>
<strong>Number pattern</strong> is an arrangement of numbers based on a given rule. The <strong>sequence</strong> is a row or a line of numbers that follow a rule.
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    <b>Example 1</b>
    <br>
    Find the next three terms in the following number patterns
    <br>
    (i)	6, 9, 12, 15, ----, ----, -----
    <br>
    (ii)	2, 5, 8, 11, 14, ------, ------, ------
    <br>
    <b>Solution</b>
    <br>
    (i)	6, 9, 12, 15, <b>18</b>, <b>21</b>,<b> 24 </b>
    <br>
    (ii)	2, 5, 8, 11, 14, <b>17</b>, <b>20</b>, <b>23</b>
    </div>
    <div class="col">
    <b>Example 2</b>
    <br>
    Find the next three terms of the <strong>Fibonacci sequence</strong>.
    <br>
    1, 1, 2, 3, 5, 8, ------, ------, ------
    <br>
    <b>Solution</b>
    1, 1, 2, 3, 5, 8, <b>13</b>, <b>21</b>, <b>34</b>
    <br>
    <b> Example 3</b>
    <br>
    Find the next 3 terms in 10, 9, 8, 7, 6, ----, ----, ----
    <br>
    <b>Solution</b>
    <br>
    10, 9, 8, 7, 6, <b>5</b>, <b>4</b>, <b>3</b>
    
    </div>
  </div>
  </div>
</p>
</article>
<hr>
<article>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Factors and Multiples in Whole Numbers</strong> knowledge with these Objective Questions.</h5>
</div>
<div class='obj-cont' >
  <h6>1. Find all the factors of 63.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 9, 21 and 63' id='option-11' style='transform: scale(1.2)'  />
      1, 3, 7, 9, 21 and 63</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 9, 12, 21 and 63' id='option-12' style='transform: scale(1.2)' />
      1, 3, 7, 9, 12, 21 and 63</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='3, 7, 9, 21 and 63' id='option-13' style='transform: scale(1.2)' />
      3, 7, 9, 21 and 63</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 21 and 63' id='option-14' style='transform: scale(1.2)' />
      1, 3, 7, 21 and 63</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer7()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer7() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer7()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer7 = document.createElement('p')
    showAnswer7.innerHTML = 'Show Corrent Answer'
    showAnswer7.style.position = 'relative'
    showAnswer7.style.top = '-150px'
    showAnswer7.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer7)
    showAnswer7.addEventListener('click', () => {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer7').removeChild(showAnswer7)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. Find the common factor(s) of 8 and 18, apart from 1.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='8 and 4' id='option-21' style='transform: scale(1.2)'  />
      8 and 4</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='3 and 6' id='option-22' style='transform: scale(1.2)' />
      3 and 6</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='2' id='option-23' style='transform: scale(1.2)' />
      2</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='4' id='option-24' style='transform: scale(1.2)' />
      4</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer8()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer8() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer8() {
    let showAnswer8 = document.createElement('p')
    showAnswer8.innerHTML = 'Show Corrent Answer'
    showCorrectAnswer8.style.position = 'relative'
    showAnswer8.style.top = '-150px'
    showAnswer8.style.fontSize = '1.5rem'
    document.getElementById('showanswer8').appendChild(showAnswer8)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      document.getElementById('showanswer8').removeChild(showAnswer8)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3. Find the HCF of 35, 50 and 65</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='15' id='option-31' style='transform: scale(1.2)'  />
      15</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='7' id='option-32' style='transform: scale(1.2)' />
      7</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='6' id='option-33' style='transform: scale(1.2)' />
      6</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='5' id='option-34' style='transform: scale(1.2)' />
      5</label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer9()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer9() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer9()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid limegreen'
      document.getElementById('result-34').style.color = 'limegreen'
      document.getElementById('result-34').innerHTML = 'Correct!'
      showCorrectAnswer9()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer9() {
    let showAnswer9 = document.createElement('p')
    showAnswer9.innerHTML = 'Show Corrent Answer'
    showAnswer9.style.position = 'relative'
    showAnswer9.style.top = '-150px'
    showAnswer9.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer9.addEventListener('click', () => {
      document.getElementById('block-31').style.border = '3px solid limegreen'
      document.getElementById('result-31').style.color = 'limegreen'
      document.getElementById('result-31').innerHTML = 'Correct!'
      document.getElementById('showanswer9').removeChild(showAnswer9)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6> 4.	Find the LCM of 4, 6 and 9 </h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='36' id='option-41' style='transform: scale(1.2)'  />
      36</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='24' id='option-42' style='transform: scale(1.2)' />
      24</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='18' id='option-43' style='transform: scale(1.2)' />
      18</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='27' id='option-44' style='transform: scale(1.2)' />
    27</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer10()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer10() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer10()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer10() {
    let showAnswer10 = document.createElement('p')
    showAnswer10.innerHTML = 'Show Corrent Answer'
    showAnswer10.style.position = 'relative'
    showAnswer10.style.top = '-150px'
    showCorrectAnswer10.style.fontSize = '1.5rem'
    document.getElementById('showanswer10').appendChild(showAnswer10)
    showAnswer10.addEventListener('click', () => {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
      document.getElementById('showanswer10').removeChild(showAnswer10)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5. Express 18 as the product of its prime factors in index form.</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='2<sup>2</sup> x 3.' id='option-51' style='transform: scale(1.2)'  />
      2<sup>2</sup> x 3.</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='3<sup>2</sup> x 4' id='option-52' style='transform: scale(1.2)' />
      3<sup>2</sup> x 4</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='2 x 3<sup>2</sup>' id='option-53' style='transform: scale(1.2)' />
      2 x 3<sup>2</sup></label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='2<sup>2</sup> x 3<sup>2</sup>' id='option-54' style='transform: scale(1.2)' />
      2<sup>2</sup> x 3<sup>2</sup></label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer11()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer11() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Inorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer11()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid limegreen'
      document.getElementById('result-53').style.color = 'limegreen'
      document.getElementById('result-53').innerHTML = 'Correct!'
      showCorrectAnswer11()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer11()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer11() {
    let showAnswer11 = document.createElement('p')
    showAnswer11.innerHTML = 'Show Corrent Answer'
    showAnswer11.style.position = 'relative'
    showAnswer11.style.top = '-150px'
    showAnswer11.style.fontSize = '1.5rem'
    document.getElementById('showanswer11').appendChild(showAnswer11)
    showAnswer11.addEventListener('click', () => {
      document.getElementById('block-53').style.border = '3px solid limegreen'
      document.getElementById('result-53').style.color = 'limegreen'
      document.getElementById('result-53').innerHTML = 'Correct!'
      document.getElementById('showanswer11').removeChild(showAnswer11)
    })
  }
</script>
</article>
<hr>

<article>
<div class='obj-cont'>
  <h6>6. Find which of the number is divisible by 9</h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option5' value='51 066' id='option-61' style='transform: scale(1.2)'  />
      51 066</label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option5' value='9039' id='option-62' style='transform: scale(1.2)' />
      9039</label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option5' value='456' id='option-63' style='transform: scale(1.2)' />
      456</label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option5' value='7138' id='option-64' style='transform: scale(1.2)' />
      7138</label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' onclick='displayAnswer12()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer12() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid limegreen'
      document.getElementById('result-61').style.color = 'limegreen'
      document.getElementById('result-61').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid red'
      document.getElementById('result-62').style.color = 'red'
      document.getElementById('result-62').innerHTML = 'Incorrect!'
      showCorrectAnswer12()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid red'
      document.getElementById('result-63').style.color = 'red'
      document.getElementById('result-63').innerHTML = 'Incorrect!'
      showCorrectAnswer12()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer12()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer12() {
    let showAnswer12 = document.createElement('p')
    showAnswer12.innerHTML = 'Show Corrent Answer'
    showAnswer12.style.position = 'relative'
    showAnswer12.style.top = '-150px'
    showAnswer12.style.fontSize = '1.5rem'
    document.getElementById('showanswer12').appendChild(showAnswer12)
    showAnswer12.addEventListener('click', () => {
      document.getElementById('block-61').style.border = '3px solid limegreen'
      document.getElementById('result-61').style.color = 'limegreen'
      document.getElementById('result-61').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <div>
  <%= render 'layouts/sideadvert' %>
  </div>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", mathematics_page1_path, class:'h3' %>
</button>
<a class="nav-item nav-link" href="#"></a>
<a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page3_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>
</div>





























































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
  <h1 class='text-dark justify-content-center'>Factors and Multiples in Whole Numbers</h1>
  </div>
  <hr>
  <article>
  <p>
  A <strong>factor</strong> is simply a number that can divide another whole number without any remainder e.g. <sup>16</sup>&frasl;<sub><b>2</b></sub> = 8, <sup>16</sup>&frasl;<sub><b>4</b></sub> = 4 and  <sup>16</sup>&frasl;<sub><b>8</b></sub> = 2. Then we can say <b>2</b>, <b>4</b> and <b>8</b> are factors of 16.
  <br>
  The whole numbers; 1, 2, 4, 8 and 16 all divide into 16 can be regarded as <b>factors</b> of 16.
  <br>
  <strong class='text-primary'>Note: 1 is a common factor of all whole numbers </strong>i.e. 1 can divide all whole numbers.
  </p>
  </article>
  
  <article>
  <div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>How to Determine Factors of a Whole Number.</h2>
  </div>
  
  <p>
  i.	Break the whole number down into its component numbers.
  <br>
  ii.	Find all the possible products of the component numbers that can divide the whole number without any remainder.
  <br>
  iii.	Write out all the products including <b> 1</b>.
  </p>
  <p>
  <strong class='text-danger'>Note: Product means multiplying two or more numbers together.</strong>
  </p>
  
  <b>Example 1</b>
  <br>
  (i) Find all the factors of 28.
  <br>
  (ii) Find all the factors of 32.
  <br>
  <b>Solution(i)</b>
  <br>
  <b>28</b> = 1 x 2 x 2 x 7
  <br>
  Possible Products => 1 x 2 = <b>2</b>, 2 x 2 = <b>4</b>, 1 x 7 = <b>7</b>, 2 x 7 = <b>14</b> and 2 x 14 = <b>28</b>.
  <br>
  <b>Factors</b> are => <b>1, 2, 4, 7, 14 and 28</b>.
  <br>
  <b>Solution(ii)</b>
  <br>
  <b>32</b> = 1 x 2 x 2 x 2 x 2 x 2
  <br>
  Possible Products => 1 x 2 = <b>2</b>, 2 x 2 = <b>4</b>, 4 x 2 = <b>8</b>, 8 x 2 = <b>16</b>, 16 x 2 =<b>32</b>.
  <br>
  <strong>Factors</strong> are => <strong>1, 2, 4, 8, 16 and 32</strong>.
  </article>
  
  <article>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Prime Numbers.</h3>
  </div>
  <p>
  A prime number is a number divisible only by 1 and itself i.e. it has only two factors; itself and 1 e.g. Prime numbers between 1---20 are; 2, 3, 5, 7, 11, 13, 17 and 19. <strong>Note: 1 is not a prime number</strong>.
  </p>
  <div class="d-flex justify-content-center mt-3">
  <h4 class='text-dark justify-content-center'>Prime Factors</h4>
  </div>
  <p>
  <strong>Prime factors</strong> of a number are factors of that number that are prime numbers obtained by breaking the number down into its component prime numbers.
  <br>
  <b>Example 1</b>
  <br>
  Find the prime factors of 24.
  <br>
  <b>Solution</b>
  <br>
  <b>24</b> = 2 x 2 x 2 x 3 (<strong>Prime Factors</strong>)
  </p>
  <div class="d-flex justify-content-center mt-3">
  <h4 class='text-dark justify-content-center'>Rules for Finding Prime Factors of a Number</h4>
  </div>
  <p>
  (i)	Begin with the lowest prime number, 2 and check if it will divide the number, if not use the next prime number, 3, then move on to try 5, 7, 11 and so on.
  <br>
  (ii)	If a prime number can divide the number, confirm if it will divide the result again before moving to the next prime number.
  <br>
  <b>Example 1</b>
  <br>
  Express 72 as a product of its prime actors.
  <br>
  <b>Solution</b>
  <br>
  2 => 72
  <br>
  2 => 36
  <br>
  2 => 18
  <br>
  3 => 9
  <br>
  3 => 3
  <br>
  	1
  <br>
  72 = <strong>2 x 2 x 2 x 3 x 3</strong>
  </p>
   
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Prime Factors in the Index Form</h3>
  </div>
  
  <strong>Index form</strong> is the writing of a number in its raise to power form e.g. 
  16 = 2 x 2 x 2 x 2 = 2<sup>4</sup> , then 4 in 2<sup>4</sup>  is the <b>power</b> or <b>index</b>. Therefore, 
  the power of <b>2</b> is called <strong>Squared</strong> and the power of <b>3</b> is called <strong>Cubed</strong> i.e.  
  3<sup>2</sup> => three squared, 2<sup>3</sup> => two cubed.
  <br>
  <b>Example 1</b>
  <br>
  Express each of 48, 92 and 675 as a product of the prime factors. Leave your answer in the index form.
  <br>
  <b>Solution</b>
  <br>
  48 = 2 x 2 x 2 x 2 x 3 => 2<sup>4</sup> x 3 (<strong>index form</strong>)
  <br>
  92 = 2 x 2 x 23 => 2<sup>2</sup> X 23 (<strong>index form</strong>)
  <br>
  675 = 3 x 3 x 3 x 5 x 5 => 3<sup>3</sup> x 5<sup>2</sup> (<strong>index form</strong>)
  </p>
  </article>
  
  <article>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Common Factors</h3>
  </div>
  
  <p>
  A factor of more than one number is called a <strong>common factor</strong> e.g. 10 and 14 are divisible by 2, then 2 is a common factor of 10 and 14.
  </p>
  <p>
  If a set of numbers have more than one <strong>common factor</strong>, the product of the factors will be the <b>common factor </b>of that set of numbers e.g. 21, 35 and 56 are divisible by 3 and 7, then the <strong>common factor</strong> is 3 x 7 => <strong>21.</strong>
  </p>
  
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>HCF (Highest Common Factor)</h3>
  </div>
  
  <strong>HCF </strong>is the biggest number that will divide two or more numbers.
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>How to Determine the HCF of a Set of Numbers</h3>
  </div>
  i.	Express the numbers as a product of the prime factors.
  <br>
  ii. Identify all the common prime factors.
  <br>
  iii. Find the product of the common prime factors to get the HCF.
  <br>
  <b>Example 1</b>
  <br>
  Find the HCF of 24, 40 and 64.
  <br>
  <b>Solution</b>
  <br>
  24 = (2) x (2) x (2) x 3 
  <br>
  40 = (2) x (2) x (2) x 5 
  <br>
  64 = (2) x (2) x (2) x 2 x 2 x 2
  <br>
  HCF = 2 x 2 x 2 => <b>8</b> (i.e. 2 is common to the three numbers 3 times)
  
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Using Index Notation</h3>
  </div>
  <b>Example 2</b>
  <br>
  Find the HCF of 144, 216 and 360 using index notation
  <br>
  <b>Solution</b>
  <br>
  144 = 2 x 2 x 2 x 2 x 3 x 3 => 2<sup>4</sup> x 3<sup>2</sup>
  <br>
  216 = 2 x 2 x 2 x 3 x 3 x 3 => 2<sup>3</sup> x 3<sup>3</sup> 
  <br>
  360 = 2 x 2 x 2 x 3 x 3 x 5 => 2<sup>3</sup> x 3<sup>2</sup> x 5
  <br>
  In the above, the lowest power of 2 is 3 and the lowest power of 3 is 2. Then we need to rewrite the index notation of the numbers according to the lowest powers of the prime factors.
  <br>
  144 = (2<sup>3</sup> x 3<sup>2</sup>) x 2
  <br>
  216 = (2<sup>3</sup>x 3<sup>2</sup>) x 3
  <br>
  360 = (2<sup>3</sup> x 3<sup>2</sup>) x 5
  <br>
  2<sup>3</sup>and 3<sup>2</sup> are common to all the numbers. Therefore, <strong>HCF</strong> = 2<sup>3</sup> x 3<sup>2</sup> = 8 x 9 => <b>72</b>
  </p>
  
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Multiples</h3>
  </div>
  
  <strong>Multiples</strong> are set of numbers that can be divided by a particular whole number. A <strong>multiple</strong> is the product of factors e.g. 6, 9, 12, 15 are <strong>multiples of 3</strong>.
  
  
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Common Multiples</h3>
  </div>
  
  
  <b>Multiple of 3</b> => 6, 9, <b>12</b>, 15, 18, 21, 24, 27, 30
  <br>
  <b>Multiple of 6 </b> => <b>12</b>, 18, 24, 30
  <br>
  <b>12</b> is a <b>common multiple </b>of 3 and 6. 
  <br>
  Other <b>common multiples</b> of 3 and 6 => <b>18</b>, <b>24</b> and <b>30</b>
  <br>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <b>Example 1</b>
      <br>
      Find five multiples of 2 and 5.
      <br>
      <b>Solution</b>
      <br>
      Multiples of 2 => <b>4, 6, 8, 10, 12</b>
      <br>
      Multiples of 5 => <b>10, 15, 20, 25, 30</b>
     </div>
      <div class="col">
      <b>Example 2</b>
      <br>
      Write two common multiples of 5 and 6.
      <br>
      <b> Solution</b>
      <br>
      Multiples of 5 => 10, 15, 20, 25, <b>30</b>, 35, 40, 45, 50, 55, <b>60</b>
      <br>
      Multiples of 6 => 12, 18, 24, <b>30</b>, 36, 42, 48, 52, <b>60</b>
      <br>
      The <strong>two common multiples </strong>5 and 6 =><b> 30 and 60</b>
      </div>
    </div>
    </div>
  
  
  </p>
  
  
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>LCM (Lowest Common Multiple)</h3>
  </div>
  <strong>LCM</strong> is the smallest number that two or more numbers will divide without any remainder.
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col border-right border-danger">
      <b>Example 1</b>
      <br>
      Find the LCM of 8, 10 and 12.
      <br>
      <b> Solution</b>
      <br>
      8 = (2<sup>3</sup>)
      <br>
      10 = 2 x (5)
      <br>
      12 = 2 x 2 x (3)
      <br>
      For <strong>LCM</strong>, pick the prime factors with highest powers i.e. for <b>2</b>, 3 is the highest power, for <b>3</b>, 1 is the highest power and for <b>5</b>, 1 is the highest power.
      <br>
      Therefore, <strong>LCM</strong> = 2<sup>3</sup> x 3 x 5 = 8 x 3 x 5 => <b>120</b>
      </div>
      <div class="col">
      <b>Example 2</b>
      <br>
      Find the LCM of 126, 120 and 350.
      <br>
      <b>Solution</b>
      <br>
      126 = 2 x (3<sup>2</sup>) x 7
      <br>
      120 = (2<sup>3</sup>) x 3 x 5
      <br>
      350 = 2 x (5<sup>2</sup>) x (7)
      <br>
      Then, pick the prime factors with highest powers as indicated by the brackets. <strong>Note: pick a prime factor once</strong>.
      <br>
      <strong>LCM</strong> = 2<sup>3</sup> x 3<sup>2</sup> x 5<sup>2</sup> x 7 => <strong> 12600	</strong>
      </div>
    </div>
    </div>
  </p>
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>How to Determine Divisibility of Numbers</h3>
  </div>
  <strong>Divisibility</strong> is the ability of a number to divide another whole number without any remainder.
  <br>
  The divisibility <b>rules</b> are;
  <br>
  <b>For 2</b> => If the last digit is even or zero (0) e.g. <sup>14</sup>&frasl;<sub>2</sub> = 7, <sup>20</sup>&frasl;<sub>2</sub> = 10
  <br>
  <b>For 3 </b> => If the sum of its digits is divisible by 3 e.g. <sup>21</sup>&frasl;<sub>3</sub>= 7
  <br>
  <b>For 4 </b> => If the sum of the last two digits is divisible by 4 e.g. <sup>484</sup>&frasl;<sub>4</sub> = 121
  <br>
  <b>For 5 </b> => If the last digit is 5 or zero (0) e.g. <sup>15</sup>&frasl;<sub>5</sub> = 3, <sup>10</sup>&frasl;<sub>2</sub> = 2
  <br>
  <b>For 6 </b> => If the last digit is even and sum of its digits is divisible by 3 e.g. <sup>72</sup>&frasl;<sub>6</sub> = 12
  <br>
  <b>For 8 </b> => If the sum of the last 3 digits is divisible by 2 e.g. <sup>1936</sup>&frasl;<sub>8</sub> = 242
  <br>
  <b>For 9 </b> => If the sum of its digits is divisible by 9 e.g. <sup>39</sup>&frasl;<sub>9</sub> = 4
  <br>
  <b>For 10 </b> => If its last digit is zero (0)
  <br>
  <strong class='text-danger'>Note: There is no precise rule for division by 7. You just have to divide through to know if 7 can divide the number </strong>.
  </p>
  
  <p>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Number Pattern</h3>
  </div>
  <strong>Number pattern</strong> is an arrangement of numbers based on a given rule. The <strong>sequence</strong> is a row or a line of numbers that follow a rule.
  <br>
  <div class="container">
    <div class="row">
      <div class="col border-right border-danger">
      <b>Example 1</b>
      <br>
      Find the next three terms in the following number patterns
      <br>
      (i)	6, 9, 12, 15, ----, ----, -----
      <br>
      (ii)	2, 5, 8, 11, 14, ------, ------, ------
      <br>
      <b>Solution</b>
      <br>
      (i)	6, 9, 12, 15, <b>18</b>, <b>21</b>,<b> 24 </b>
      <br>
      (ii)	2, 5, 8, 11, 14, <b>17</b>, <b>20</b>, <b>23</b>
      </div>
      <div class="col">
      <b>Example 2</b>
      <br>
      Find the next three terms of the <strong>Fibonacci sequence</strong>.
      <br>
      1, 1, 2, 3, 5, 8, ------, ------, ------
      <br>
      <b>Solution</b>
      1, 1, 2, 3, 5, 8, <b>13</b>, <b>21</b>, <b>34</b>
      <br>
      <b> Example 3</b>
      <br>
      Find the next 3 terms in 10, 9, 8, 7, 6, ----, ----, ----
      <br>
      <b>Solution</b>
      <br>
      10, 9, 8, 7, 6, <b>5</b>, <b>4</b>, <b>3</b>
      
      </div>
    </div>
    </div>
  </p>
  </article>
  <hr>
  <article>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Factors and Multiples in Whole Numbers</strong> knowledge with these Objective Questions.</h5>
</div>
<div class='obj-cont' >
  <h6>1. Find all the factors of 63.</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 9, 21 and 63' id='option-71' style='transform: scale(1.2)'  />
      1, 3, 7, 9, 21 and 63</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 9, 12, 21 and 63' id='option-72' style='transform: scale(1.2)' />
      1, 3, 7, 9, 12, 21 and 63</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option' value='3, 7, 9, 21 and 63' id='option-73' style='transform: scale(1.2)' />
      3, 7, 9, 21 and 63</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option' value='1, 3, 7, 21 and 63' id='option-74' style='transform: scale(1.2)' />
      1, 3, 7, 21 and 63</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid red'
      document.getElementById('result-74').style.color = 'red'
      document.getElementById('result-74').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. Find the common factor(s) of 8 and 18, apart from 1.</h6>
 <div id='block-81' >
    <label for='option-81' style=' padding: 5px;'>
      <input type='radio' name='option1' value='8 and 4' id='option-81' style='transform: scale(1.2)'  />
      8 and 4</label>
    <span id='result-81'></span>
  </div>
 

  <div id='block-82'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='3 and 6' id='option-82' style='transform: scale(1.2)' />
      3 and 6</label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-83'>
    <label for='option-93' style='padding: 5px;'>
      <input type='radio' name='option1' value='2' id='option-83' style='transform: scale(1.2)' />
      2</label>
    <span id='result-83'></span>
  </div>
  

  <div id='block-84'>
    <label for='option-84' style=' padding: 5px;'>
      <input type='radio' name='option1' value='4' id='option-84' style='transform: scale(1.2)' />
      4</label>
    <span id='result-84'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-81').checked) {
      document.getElementById('block-81').style.border = '3px solid red'
      document.getElementById('result-81').style.color = 'red'
      document.getElementById('result-81').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-82').checked) {
      document.getElementById('block-82').style.border = '3px solid red'
      document.getElementById('result-82').style.color = 'red'
      document.getElementById('result-82').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-83').checked) {
      document.getElementById('block-83').style.border = '3px solid limegreen'
      document.getElementById('result-83').style.color = 'limegreen'
      document.getElementById('result-83').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-84').checked) {
      document.getElementById('block-84').style.border = '3px solid red'
      document.getElementById('result-84').style.color = 'red'
      document.getElementById('result-84').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-83').style.border = '3px solid limegreen'
      document.getElementById('result-83').style.color = 'limegreen'
      document.getElementById('result-83').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3. Find the HCF of 35, 50 and 65</h6>
 <div id='block-121' >
    <label for='option-121' style=' padding: 5px;'>
      <input type='radio' name='option2' value='15' id='option-121' style='transform: scale(1.2)'  />
      15</label>
    <span id='result-121'></span>
  </div>
 

  <div id='block-122'>
    <label for='option-122' style='padding: 5px;'>
      <input type='radio' name='option2' value='7' id='option-122' style='transform: scale(1.2)' />
      7</label>
    <span id='result-122'></span>
  </div>
  

  <div id='block-123'>
    <label for='option-123' style='padding: 5px;'>
      <input type='radio' name='option2' value='6' id='option-123' style='transform: scale(1.2)' />
      6</label>
    <span id='result-123'></span>
  </div>
  

  <div id='block-124'>
    <label for='option-124' style=' padding: 5px;'>
      <input type='radio' name='option2' value='5' id='option-124' style='transform: scale(1.2)' />
      5</label>
    <span id='result-124'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-121').checked) {
      document.getElementById('block-121').style.border = '3px solid red'
      document.getElementById('result-121').style.color = 'red'
      document.getElementById('result-121').innerHTML = 'incorrect!'
    }
    if (document.getElementById('option-122').checked) {
      document.getElementById('block-122').style.border = '3px solid red'
      document.getElementById('result-122').style.color = 'red'
      document.getElementById('result-122').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-123').checked) {
      document.getElementById('block-123').style.border = '3px solid red'
      document.getElementById('result-123').style.color = 'red'
      document.getElementById('result-123').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-124').checked) {
      document.getElementById('block-124').style.border = '3px solid limegreen'
      document.getElementById('result-124').style.color = 'limegreen'
      document.getElementById('result-124').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-121').style.border = '3px solid limegreen'
      document.getElementById('result-121').style.color = 'limegreen'
      document.getElementById('result-121').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6> 4.	Find the LCM of 4, 6 and 9 </h6>
 <div id='block-91' >
    <label for='option-91' style=' padding: 5px;'>
      <input type='radio' name='option3' value='36' id='option-91' style='transform: scale(1.2)'  />
      36</label>
    <span id='result-91'></span>
  </div>
 

  <div id='block-92'>
    <label for='option-92' style='padding: 5px;'>
      <input type='radio' name='option3' value='24' id='option-92' style='transform: scale(1.2)' />
      24</label>
    <span id='result-92'></span>
  </div>
  

  <div id='block-93'>
    <label for='option-93' style='padding: 5px;'>
      <input type='radio' name='option3' value='18' id='option-93' style='transform: scale(1.2)' />
      18</label>
    <span id='result-93'></span>
  </div>
  

  <div id='block-94'>
    <label for='option-94' style=' padding: 5px;'>
      <input type='radio' name='option3' value='27' id='option-94' style='transform: scale(1.2)' />
    27</label>
    <span id='result-94'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-91').checked) {
      document.getElementById('block-91').style.border = '3px solid limegreen'
      document.getElementById('result-91').style.color = 'limegreen'
      document.getElementById('result-91').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-92').checked) {
      document.getElementById('block-92').style.border = '3px solid red' 
      document.getElementById('result-92').style.color = 'red'
      document.getElementById('result-92').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-93').checked) {
      document.getElementById('block-93').style.border = '3px solid red'
      document.getElementById('result-93').style.color = 'red'
      document.getElementById('result-93').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-94').checked) {
      document.getElementById('block-94').style.border = '3px solid red'
      document.getElementById('result-94').style.color = 'red'
      document.getElementById('result-94').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-91').style.border = '3px solid limegreen'
      document.getElementById('result-91').style.color = 'limegreen'
      document.getElementById('result-91').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5. Express 18 as the product of its prime factors in index form.</h6>
 <div id='block-101' >
    <label for='option-101' style=' padding: 5px;'>
      <input type='radio' name='option4' value='2<sup>2</sup> x 3.' id='option-101' style='transform: scale(1.2)'  />
      2<sup>2</sup> x 3.</label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-102'>
    <label for='option-102' style='padding: 5px;'>
      <input type='radio' name='option4' value='3<sup>2</sup> x 4' id='option-102' style='transform: scale(1.2)' />
      3<sup>2</sup> x 4</label>
    <span id='result-102'></span>
  </div>
  

  <div id='block-103'>
    <label for='option-103' style='padding: 5px;'>
      <input type='radio' name='option4' value='2 x 3<sup>2</sup>' id='option-103' style='transform: scale(1.2)' />
      2 x 3<sup>2</sup></label>
    <span id='result-103'></span>
  </div>
  

  <div id='block-104'>
    <label for='option-104' style=' padding: 5px;'>
      <input type='radio' name='option4' value='2<sup>2</sup> x 3<sup>2</sup>' id='option-104' style='transform: scale(1.2)' />
      2<sup>2</sup> x 3<sup>2</sup></label>
    <span id='result-104'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-101').checked) {
      document.getElementById('block-101').style.border = '3px solid red'
      document.getElementById('result-101').style.color = 'red'
      document.getElementById('result-101').innerHTML = 'Inorrect!'
    }
    if (document.getElementById('option-102').checked) {
      document.getElementById('block-102').style.border = '3px solid red'
      document.getElementById('result-102').style.color = 'red'
      document.getElementById('result-102').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-103').checked) {
      document.getElementById('block-103').style.border = '3px solid limegreen'
      document.getElementById('result-103').style.color = 'limegreen'
      document.getElementById('result-103').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-104').checked) {
      document.getElementById('block-104').style.border = '3px solid red'
      document.getElementById('result-104').style.color = 'red'
      document.getElementById('result-104').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-103').style.border = '3px solid limegreen'
      document.getElementById('result-103').style.color = 'limegreen'
      document.getElementById('result-103').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>

<article>
<div class='obj-cont'>
  <h6>6. Find which of the number is divisible by 9</h6>
 <div id='block-111' >
    <label for='option-111' style=' padding: 5px;'>
      <input type='radio' name='option5' value='51 066' id='option-111' style='transform: scale(1.2)'  />
      51 066</label>
    <span id='result-111'></span>
  </div>
 

  <div id='block-112'>
    <label for='option-112' style='padding: 5px;'>
      <input type='radio' name='option5' value='9039' id='option-112' style='transform: scale(1.2)' />
      9039</label>
    <span id='result-112'></span>
  </div>
  

  <div id='block-113'>
    <label for='option-113' style='padding: 5px;'>
      <input type='radio' name='option5' value='456' id='option-113' style='transform: scale(1.2)' />
      456</label>
    <span id='result-113'></span>
  </div>
  

  <div id='block-114'>
    <label for='option-114' style=' padding: 5px;'>
      <input type='radio' name='option5' value='7138' id='option-114' style='transform: scale(1.2)' />
      7138</label>
    <span id='result-114'></span>
  </div>
 
  <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-111').checked) {
      document.getElementById('block-111').style.border = '3px solid limegreen'
      document.getElementById('result-111').style.color = 'limegreen'
      document.getElementById('result-111').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-112').checked) {
      document.getElementById('block-112').style.border = '3px solid red'
      document.getElementById('result-112').style.color = 'red'
      document.getElementById('result-112').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-113').checked) {
      document.getElementById('block-113').style.border = '3px solid red'
      document.getElementById('result-113').style.color = 'red'
      document.getElementById('result-113').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-114').checked) {
      document.getElementById('block-114').style.border = '3px solid red'
      document.getElementById('result-114').style.color = 'red'
      document.getElementById('result-114').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-111').style.border = '3px solid limegreen'
      document.getElementById('result-111').style.color = 'limegreen'
      document.getElementById('result-111').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", mathematics_page1_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page3_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>


