<div class='large'>
<%= render 'layouts/header'%>
<div class="main">
<div class="row row-over">
  <div class="col-md-10 ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Binary System</h1>
</div>
<hr>
<article>
<strong>Binary numbers</strong> are made up of two digits 1 and 0, this is known as <strong>base two system</strong> or <strong>binary system.</strong>
<br>
<br>
(i)	 Convert 17 to binary number
<br>
(ii) Convert 111<sub>2</sub> to base ten.
<br>
<br>
<%= image_tag 'base2conv1.png', alt:'base-2-conversion1 image', class: 'carol col-12 ml-4' %>
<br>
<i><%= link_to "Click here for more information on the conversion of number bases.", page18_path, class: "text-danger"%></i>
<br>
<strong>Example 1</strong>
<br>
Find the value of (1011<sub>2</sub>)<sup>2</sup>. Leave the answer in base two.
<br>
<br>
<strong>Solution</strong>
<br>
<strong>Step 1; Convert 1011<sub>2</sub> to base ten:</strong>
<br>
<strong><i>3 2 1 0 – powers</i></strong>
<br>
1 0 1 1<sub>2</sub> = 1 x 23 + 0 x 22 + 1 x 21 + 1 x 20
<br>
       = 1 x 8 + 0 x 4 + 1 x 2 + 1 x 1
       <br>
       = 8 + 0 + 2 + 1
       <br>
       =  11
       <br>
1 0 1 1<sub>2</sub> = 11 or 11<sub>10</sub>
<br>
<br>
<strong>Step 2; Find the square of 11:</strong>
<br>
The square of 11 = 11<sup>2</sup>  = <strong>121</strong>
<br>
<br>
<strong>Step 3; Convert 121 to base two;</strong>
<br>
<%= image_tag 'convert121tobase2.png', alt:'convert121tobase2 image', class: 'carol col-12 ml-4' %>
<br>
<span class = 'ml-5'>(1011<sub>2</sub>)<sup>2</sup>  => <strong>1111001<sub>2</sub></strong></span>
<br>
<br>
<strong>Note;</strong> in the next topic you will learn how to solve the above question in one step.
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Operations with Binary Numbers</h2>
</div>
It is possible to add, subtract and multiply binary numbers the same way we operate with base ten numbers.
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Operation Rules</h3>
</div>
<strong>Addition;</strong>
<br>
<strong class='text-danger'>0 + 0 = 0;  1 + 0 = 1;  0 + 1 = 1 and  1 + 1 = 10</strong>
<br>
<br>
<strong>Multiplication;</strong>
<br>
<strong class='text-danger'>0 x 0 = 0;  1 x 0 = 0;  0 x 1 = 0;  and 1 x 1 = 1 </strong>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Addition in Binary System</h3>
</div>
Add the following (i) 1011<sub>2</sub> + 1101<sub>2</sub> (ii) 101<sub>2</sub> + 111<sub>2</sub> + 101<sub>2</sub>
<br>
<br>
<strong>Solution</strong>
<br>
<br>
(i)
<br>
<strong>Steps;</strong>
<br>
<strong>In 1st column; 1 + 1 = 10; write down 0 and keep 1</strong>
<br>
<strong>In 2nd column; 1 + 0 = 1 + 1(kept) = 10; write down 0 and keep 1</strong>
<br>
<strong>In 3rd column; 0 + 1 = 1 + 1(kept) = 10; write down 0 and keep 1</strong>
<br>
<strong>In 4th column; 1 + 1 = 10 + 1(kept) = 11; write down the 11.</strong>
<br>
<%= image_tag 'binaryAddition.png', alt:'binaryaddition image', class: 'carol col-12 ml-4' %>
<br>
<br>
(ii)
<br>
<strong>Steps;</strong>
<br>
<strong>In 1st column; 1 + 1 = 10; 10 + 1 = 11; write down 1 and keep 1</strong>
<br>
<strong>In 2nd column; 0 + 1 = 1; 1 + 0 = 1; 1 + 1(kept) = 10; write down 0 and keep 1</strong>
<br>
<strong>In 3rd column; 1 + 1 = 10; 10 + 1 = 11; 11 + 1(kept) = 100; write down the 100</strong>
<br>
<%= image_tag 'binaryaddition2.png', alt:'binaryaddition2 image', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Subtraction in Binary System</h3>
</div>
<strong>Example 1</strong>
<br>
Subtract the following (i) 1110<sub>2</sub> ─ 101<sub>2</sub> (ii) 10100<sub>2</sub> ─ 1110<sub>2</sub>
<br>
<br>
<strong>Solution</strong>
<br>
<br>
(i)
<br>
<strong>Steps;</strong>
<br>
<strong>In 1st column; taking away 1 from 0 is impossible, move 1 from 2nd column to 1st column; 10 ─ 1 = 1 or 2 ─ 1; write down 1</strong>
<br>
<strong>In 2nd column; the 1 in 2nd has been removed leaving 0; 0  ─ 0 = 0; write down 0</strong>
<br>
<strong>In 3rd column; 1 ─ 1 = 0; write down 0</strong>
<br>
<strong>In 4th column; 1 ─ 0 = 1; write down 1</strong>
<%= image_tag 'binarysubtraction.png', alt:'binarysubtarction1 image', class: 'carol col-12 ml-4' %>
<br>
<br>
(ii)
<br>
<strong>Steps;</strong>
<br>
<strong>In 1st column; 0 ─ 0 = 0; write down 0</strong>
<br>
<strong>In 2nd column; taking away 1 from 0 is impossible, move 1 from 3rd column to 2nd column;</strong>
<br>
<strong>10 ─ 1 = 1 or 2 ─ 1 = 1; write down 1</strong>
<br>
<strong>In 3rd column;  1 in 3rd column has been removed leaving 0, taking away 1 from 0 is impossible, move 1 from 5th column to 4th then to 3rd column; 10 – 1 = 1 or 2 ─ 1 = 1; write down 1.</strong>
<br>
<strong>In 4th column; 1 is left in the 4th column (from; 2 ─ 1 as a result of movement of 1 from 5th column); 1 ─ 1 = 0; there is no need to write this 0.</strong>
<br>
<strong>In 5th column; 1 has been removed from this column, leaving 0; there is no need to write this 0.</strong>
<%= image_tag 'binarysubtraction2.png', alt:'binarysubtarction2 image', class: 'carol col-12 ml-4' %>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Multiplication in Binary System</h3>
</div>
Multiplication in binary system is done in a usual way similar to multiplication in base ten systems. It is done multiplying by 1 or 0 as necessary.
<br>
<br>
<strong>Example 1</strong>
<br>
Multiply the following binary numbers (i) 1111<sub>2</sub> x 110<sub>2</sub> (ii) 110<sub>2</sub> x 101<sub>2</sub> and check the result.
<br>
<strong>Solution</strong>
<br>
(i)
<br>
<%= image_tag 'binarymultiplication.png', alt:'binarymultiplication image', class: 'carol col-12 ml-4' %>
<br>
(ii)
<br>
<%= image_tag 'binarymultiplication2.png', alt:'binarymultiplication2 image', class: 'carol col-12 ml-4' %>
<br>
<strong>Check answer in (ii) above;</strong>
<br>
<strong>It is easier to check the answer(s) in binary system by converting to base ten;</strong>
<br>
110<sub>2</sub> = 1 x 2<sup>2</sup> + 1 x 2<sup>1</sup> + 0 x 2<sup>0</sup> = 4 + 2 + 0 = 6
<br>
101<sub>2</sub> = 1 x 2<sup>2</sup> + 0 x 2<sup>1</sup> + 1 x 2<sup>0</sup> = 4 + 0 + 1 = 5
<br>
110<sub>2</sub> x 101<sub>2</sub> = 6 x 5 = 30
<br>
<br>
<strong>Convert 30 to base two;</strong>
<br>
<%= image_tag 'convert-30-to-base2.png', alt:'convert-30-to-base2 image', class: 'carol col-12 ml-4' %>
<br>
30 = <strong>11110<sub>2</sub></strong>
<br>
<strong>110<sub>2</sub> x 101<sub>2</sub> => 30 => 11110<sub>2</sub> (The answer is correct).</strong>
<br>
<i><%= link_to "Click here for more explanation on conversion in number bases.", page18_path, class: "text-danger"%></i>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Application of Binary System</h3>
</div>
Binary system is generally used in computing such as; <strong>binary system code, punch tape</strong> and <strong>punch cards.</strong>
<br>
<br>
<strong>Cards</strong> are used to store information about events or people. Cards use a binary system of a hole punched out to represent (0) or a slot cut out to represent (1).
<br>
<br>
The card sketched below shows food eaten by a student, Simon Stone;
<br>
<%= image_tag 'punchcard.png', alt:'Punch-card image', class: 'carol col-12 ml-4' %>
<br>
<strong>Example 1</strong>
<br>
(i)	What is the number for the food eaten by Simon Stone?
<br>
(ii)	Which food were eaten by students whose cards represent the following  numbers?
<br>
(a)	1001
<br>
(b)	1101
<br>
(c)	0010
<br>
(d)	1011
<br>
<br>
<strong>Solution</strong>
<br>
(i)
<br>
Food eaten by student(s) => <strong>1</strong>
<br>
Food not eaten by student(s) => <strong>0</strong>
<br>
The number for the food eaten by <strong>Simon Stone;</strong>
<br>
Simon Stone did not eat rice => 0
<br>
Simon Stone ate beans => 1
<br>
Simon Stone ate yam => 1
<br>
Simon Stone did not eat bread => 0
<br>
The number for the food eaten by Simon Stone => <strong>0110</strong> i.e. Beans and Yam.
<br>
<br>
(ii)
<br>
(a)	1001 ate; <strong>rice and bread</strong>
<br>
(b)	1101 ate; <strong>rice, beans and bread</strong>
<br>
(c)	0010 ate; <strong>yam</strong>
<br>
(d)	1011 ate; <strong>rice, yam and bread</strong>
</article>
<hr>
<article>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Binary System</strong> knowledge with these Objective Questions.</h5>
</div>
<div class='obj-cont' >
  <h6>1.	Binary system means ----------------</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='Base two' id='option-11' style='transform: scale(1.2)'  />
      Base two</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='Base ten' id='option-12' style='transform: scale(1.2)' />
      Base ten</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='Base six' id='option-13' style='transform: scale(1.2)' />
      Base six</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='Base eight' id='option-14' style='transform: scale(1.2)' />
      Base eight</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid red'
      document.getElementById('result-12').style.color = 'red'
      document.getElementById('result-12').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-11').style.border = '3px solid limegreen'
      document.getElementById('result-11').style.color = 'limegreen'
      document.getElementById('result-11').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. Evaluate 111<sub>2</sub> x (1111<sub>2</sub> + 1010<sub>2</sub>)</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='10001111<sub>2</sub>' id='option-21' style='transform: scale(1.2)'  />
      10001111<sub>2</sub></label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='11100111<sub>2</sub>' id='option-22' style='transform: scale(1.2)' />
      11100111<sub>2</sub></label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='10101111<sub>2</sub>' id='option-23' style='transform: scale(1.2)' />
      10101111<sub>2</sub></label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='10011011<sub>2</sub>' id='option-24' style='transform: scale(1.2)' />
      10011011<sub>2</sub></label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Find the square root of 10000<sub>2</sub></h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='110<sub>2</sub>' id='option-31' style='transform: scale(1.2)'  />
      110<sub>2</sub></label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='100<sub>2</sub>' id='option-32' style='transform: scale(1.2)' />
      100<sub>2</sub></label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='111<sub>2</sub>' id='option-33' style='transform: scale(1.2)' />
      111<sub>2</sub></label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='101<sub>2</sub>' id='option-34' style='transform: scale(1.2)' />
      101<sub>2</sub></label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red '
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid limegreen'
      document.getElementById('result-32').style.color = 'limegreen'
      document.getElementById('result-32').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid red'
      document.getElementById('result-33').style.color = 'red'
      document.getElementById('result-33').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-32').style.border = '3px solid limegreen'
      document.getElementById('result-32').style.color = 'limegreen'
      document.getElementById('result-32').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	Evaluate (1001<sub>2</sub>)<sup>2</sup></h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='1010001<sub>2</sub>' id='option-41' style='transform: scale(1.2)'  />
      1010001<sub>2</sub></label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='1110001<sub>2</sub>' id='option-42' style='transform: scale(1.2)' />
      1110001<sub>2</sub></label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='1100011<sub>2</sub>' id='option-43' style='transform: scale(1.2)' />
      1100011<sub>2</sub></label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='1000010<sub>2</sub>' id='option-44' style='transform: scale(1.2)' />
      1000010<sub>2</sub></label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
  <%= render 'layouts/sideadvert' %>
</div>
</div>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Prev>>", page18_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page20_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>
<%= render 'mathematics/sidebar'%>
</div>



























































































































































































































<div class="medium">
<%= render 'layouts/header2'%>
<br>
<div class="row ml-5 row-over">
  <div class=" col-md-10  ad-border">
  <div class='container-fluid med'>
  <div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Number Bases</h1>
</div>
<hr>
<article>
<strong>Number bases</strong> is the system of total counting of digits used to express numbers in a number system e.g. base two system (binary system) uses only 2 digits; 0 and 1, base-six system uses 6 digits; 0 to 5 and base-ten system uses 10 digits; 0 to 9. The number bases make use of powers of a particular number system i.e. base-ten system is based on powers of 10 and base-six system is based on powers of 6.
<br>
<br>
The most common number system worldwide is <strong>base-ten system</strong>. <strong>Binary system</strong> is also important due to its numerous applications to computing. A computer contains a large number of switches; each switch is either ‘On’ or ‘Off’;
<br>
‘On’ switch => <strong>1</strong>
<br>
‘Off’ switch => <strong>0</strong>
<hr>
<div class="d-flex justify-content-center mt-3">
  <h2 class='text-dark justify-content-center'>Conversions in Number Bases</h2>
  </div>
  <hr>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Conversion from Base Ten to other Number Bases</h3>
  </div>
  Conversion from base ten to other number bases involves dividing the number in base ten system by the number of the desired base e.g. conversion from base ten to base two means dividing the number in base ten by two and take the record of the remainders. 
  <br>
  Base ten numbers are commonly written as; 22 => 22<sub>10</sub> or 22<sub>ten</sub> , 85 => 85<sub>10</sub> or 85<sub>ten</sub>  etc.
  <br>
  <br>
<strong>Rules for converting from base ten to other base;</strong>
<br>
(i)	Divide the base ten number by the desired base number.
<br>
(ii) Continue to divide until zero (0) is reached, write down any remainder each time.
<br>
(iii) Start at the last remainder and read upwards to get the new number in the desired base.  
<br>
<strong>Example 1</strong>
<br>
(i) Convert 733 and 76 to base five (ii) convert 5046 and 128 to base eight (iii) convert 27 and 18 to base two (iv) convert 725 and 31 to base six
<br>
<br>
<strong>Solution</strong>
<br>
<%= image_tag 'Number-bases-conversion.png', alt:'Number basesconversion1 image', class: 'carol ' %>
<br>
<%= image_tag 'Number-bases-conversion1.png', alt:'Number basesconversion2 image', class: 'carol' %>
<hr>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Expansion in Number Bases</h3>
</div>
<hr>
<strong>Expansion</strong> in number bases involves using the powers of their bases for the expansion.  
 <br> 
 Steps;
 <br>
(i)	Add power (index) to each digit in a number from RHS to LHS e.g.
<br>
<strong>4 3 2 1 0</strong>
<br>
2 5 0 2 4 --------------- Number
<br>
<strong>Where;</strong> 4, 3, 2, 1, 0 are the powers
<br>
(ii)	Use each digit in the number to multiply the given or desired number base and its corresponding power, then add to one another.
<br>
<br>
<strong>Example 1</strong>
<br>
Expand the following (i) 25024<sub>6</sub> (ii) 10110<sub>2</sub> (iii) 4102<sub>5</sub> (iv) 2389<sub>10</sub> in powers of their bases.
<br>
<br>
<strong>Solution</strong>
<br>
<strong>Note:</strong> any number raised to power of zero is <strong>1.</strong>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    <strong><i>4 3 2 1 0 - powers</i></strong>
    <br>
    2 5 0 2 4<sub>6</sub>
    <br>
    = 2 x 6<sup>4</sup>  +  5 x 6<sup>3</sup> + 0 x 6<sup>2</sup> + 2 x 6<sup>1</sup> + 4 x 6<sup>0</sup>
    <br>
    = 2 x 6<sup>4</sup>  +  5 x 6<sup>3</sup> + 0 x 6<sup>2</sup> + 2 x 6<sup>1</sup> + 4 x 1
    </div>
    <div class="col">
    (ii)
    <br>
    <strong><i>4 3 2 1 0 – powers</i></strong>
    <br>
    1 0 1 1 0<sub>2</sub>
    <br>
    = 1 x 2<sup>4</sup> + 0 x 2<sup>3</sup> + 1 x 2<sup>2</sup> + 1 x 2<sup>1</sup> + 0 x 2<sup>0</sup>
    <br>
    = 1 x 2<sup>4</sup> + 0 x 2<sup>3</sup> + 1 x 2<sup>2</sup> + 1 x 2<sup>1</sup> + 0 x 1
   </div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)
    <br>
    <strong><i>3 2 1 0 – powers</i></strong>
     <br>
     4 1 0 2<sub>5</sub>
     <br>
     = 4 x 5<sup>3</sup> + 1 x 5<sup>2</sup> + 0 x 5<sup>1</sup> + 2 x 5<sup>0</sup>
     <br>
     = 4 x 5<sup>3</sup> + 1 x 5<sup>2</sup> + 0 x 5<sup>1</sup> + 2 x 1
    </div>
    <div class="col">
    (iv)
    <br>
    <strong><i>3 2 1 0 – powers</i></strong>
    <br>Solution
    2 3 8 9<sub>10</sub>
    <br>
    = 2 x 10<sup>3</sup> + 3 x 10<sup>2</sup> + 8 x 10<sup>1</sup> + 9 x 10<sup>0</sup>
    <br>
    = 2 x 10<sup>3</sup> + 3 x 10<sup>2</sup> + 8 x 10<sup>1</sup> + 9 x 1
     </div>
  </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Conversion from other Bases to Base Ten</h3>
  </div>
  <hr>
  <strong>Steps;</strong>
  <br>
(i)	Expand the number bases in the powers of their bases.
<br>
(ii)	Sum up the results in step (i) above to get the conversion.
<br>
<br>
<strong>Example 1</strong>
<br>
Convert the following bases to base ten (i) 11001<sub>2</sub> (ii) 2120<sub>3</sub> (iii) 231<sub>4</sub> (iv) 31<sub>8</sub>
<br>
<br>
<strong>Solution</strong>
<div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (i)
    <br>
    <strong><i>4 3 2 1 0 – powers</strong></i>
    <br>
    1 1 0 0 1<sub>2</sub>
    <br>
    = 1 x 2<sup>4</sup> + 1 x 2<sup>3</sup> + 0 x 2<sup>2</sup> + 0 x 2<sup>1</sup> + 1 x 2<sup>0</sup>
    <br>
     = 2<sup>4</sup> + 2<sup>3</sup> + 0 + 0 + 1 x 1
     <br>
     = 16 + 8 + 1
     <br>
    = 25
    <br>
    = 1 1 0 0 1<sub>2</sub> => <strong> 25 or 25<sub>10</sub></strong>
    </div>
    <div class="col">
    (ii)
    <br>
    <strong><i>3 2 1 0 – powers </strong></i>
    <br>
    2 1 2 0<sub>3</sub>
    <br>
    = 2 x 3<sup>3</sup> + 1 x 3<sup>2</sup> + 2 x 3<sup>1</sup> + 0 x 3<sup>0</sup>
    <br>
    = 2 x 27 + 1 x 9 + 2 x 3 + 0 x 1
    <br>
    = 54 + 9 + 6 + 0
    <br>
    = 69
    <br>
    2 1 2 0<sub>3</sub> => <strong>69 or 69<sub>10</sub></strong> 
    </div>
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row">
    <div class="col border-right border-danger">
    (iii)
    <br>
    <strong><i>2 1 0 – powers</strong></i>
    <br>
    2 3 1<sub>4</sub>
    <br>
    = 2 x 4<sup>2</sup> + 3 x 4<sup>1</sup> + 1 x 4<sup>0</sup>
    <br>
    = 2 x 16 + 3 x 4 + 1 x 1
    <br>
    = 32 + 12 + 1
    <br>
    = 45
    <br>
    2 3 1<sub>4</sub> => <strong>45 or 45<sub>10</sub></strong>
    </div>
    <div class="col">
    (iv)
    <br>
    <strong><i>1 0 – powers </strong></i>
    <br>
    3 1<sub>8</sub>
    <br>
    = 3 x 8<sup>1</sup> + 1 x 8<sup>0</sup>
    <br>
    = 3 x 8 + 1 x 1
    <br>
    = 24 + 1
    <br>
    = 25
    <br>
    31<sub>8</sub> => 25 or 25<sub>10</sub>
    </div>
  </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Conversion between Bases other than Base Ten</h3>
  </div>
  <hr>
  <strong>Conversion between bases;</strong>
  <br> 
  This can be easily done by converting the first base to base ten, then to the desired base.
<br>
<br>
<strong>Example 1</strong>
<br>
Convert 100110<sub>2</sub> to base eight.
<br>
<strong>Solution</strong>
<br>
<strong>First;</strong> convert 100110<sub>2</sub> to base ten;
<br>
<strong><i>5 4 3 2 1 0 – powers</strong></i>
<br>
1 0 0 1 1 0<sub>2</sub>
<br>
= 1 x 2<sup>5</sup> + 0 x 2<sup>4</sup> + 0 x 2<sup>3</sup> + 1 x 2<sup>2</sup> + 1 x 2<sup>1</sup> + 0 x 2<sup>0</sup>
<br>
= 2<sup>5</sup> + 0 + 0 + 2<sup>2</sup> + 2<sup>1</sup> + 0 x 1
<br>
= 32 + 4 + 2
<br>
= <strong>38 or 38<sub>10</sub></strong>
<br>
<strong>Then;</strong> convert 38<sub>10</sub> to base eight;
 <br>
 <%= image_tag 'Number-bases-conversion2.png', alt:'Number basesconversion2 image', class: 'carol' %>
</article>
<hr>
<article>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Number Bases</strong> knowledge with these Objective Questions.</h5>
</div>

<div class='obj-cont'>
  <h6>1.	Binary system means ----------------</h6>
 <div id='block-71' >
    <label for='option-71' style=' padding: 5px;'>
      <input type='radio' name='option6' value='Base two' id='option-71' style='transform: scale(1.2)'  />
      Base two</label>
    <span id='result-71'></span>
  </div>
 

  <div id='block-72'>
    <label for='option-72' style='padding: 5px;'>
      <input type='radio' name='option6' value='Base ten' id='option-72' style='transform: scale(1.2)' />
      Base ten</label>
    <span id='result-72'></span>
  </div>
  

  <div id='block-73'>
    <label for='option-73' style='padding: 5px;'>
      <input type='radio' name='option6' value='Base six' id='option-73' style='transform: scale(1.2)' />
      Base six</label>
    <span id='result-73'></span>
  </div>
  

  <div id='block-74'>
    <label for='option-74' style=' padding: 5px;'>
      <input type='radio' name='option6' value='Base eight' id='option-74' style='transform: scale(1.2)' />
      Base eight</label>
    <span id='result-74'></span>
  </div>
 
  <button type='button' onclick='displayAnswer15()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer15() {
    if (document.getElementById('option-71').checked) {
      document.getElementById('block-71').style.border = '3px solid limegreen'
      document.getElementById('result-71').style.color = 'limegreen'
      document.getElementById('result-71').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-72').checked) {
      document.getElementById('block-72').style.border = '3px solid red'
      document.getElementById('result-72').style.color = 'red'
      document.getElementById('result-72').innerHTML = 'Incorrect!'
      showCorrectAnswer15()
    }
    if (document.getElementById('option-73').checked) {
      document.getElementById('block-73').style.border = '3px solid red'
      document.getElementById('result-73').style.color = 'red'
      document.getElementById('result-73').innerHTML = 'Incorrect!'
      showCorrectAnswer15()
    }
    if (document.getElementById('option-74').checked) {
      document.getElementById('block-74').style.border = '3px solid red'
      document.getElementById('result-74').style.color = 'red'
      document.getElementById('result-74').innerHTML = 'Incorrect!'
      showCorrectAnswer15()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer15() {
    let showAnswer7 = document.createElement('p')
    showAnswer15.innerHTML = 'Show Corrent Answer'
    showAnswer15.style.position = 'relative'
    showAnswer15.style.top = '-150px'
    showAnswer15.style.fontSize = '1.5rem'
    document.getElementById('showanswer7').appendChild(showAnswer6)
    showAnswer15.addEventListener('click', () => {
      document.getElementById('block-72').style.border = '3px solid limegreen'
      document.getElementById('result-72').style.color = 'limegreen'
      document.getElementById('result-72').innerHTML = 'Correct!'
      document.getElementById('showanswer15').removeChild(showAnswer15)
    })
  }
</script>

</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Evaluate 111<sub>2</sub> x (1111<sub>2</sub> + 1010<sub>2</sub>)</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option1' value='10001111<sub>2</sub>' id='option-51' style='transform: scale(1.2)'  />
      10001111<sub>2</sub></label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option1' value='11100111<sub>2</sub>' id='option-52' style='transform: scale(1.2)' />
      11100111<sub>2</sub></label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option1' value='10101111<sub>2</sub>' id='option-53' style='transform: scale(1.2)' />
      10101111<sub>2</sub></label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option1' value='10011011<sub>2</sub>' id='option-54' style='transform: scale(1.2)' />
      10011011<sub>2</sub></label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid limegreen'
      document.getElementById('result-53').style.color = 'limegreen'
      document.getElementById('result-53').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid red'
      document.getElementById('result-54').style.color = 'red'
      document.getElementById('result-54').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-51').style.border = '3px solid limegreen'
      document.getElementById('result-51').style.color = 'limegreen'
      document.getElementById('result-51').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Find the square root of 10000<sub>2</sub></h6>
 <div id='block-61' >
    <label for='option-61' style=' padding: 5px;'>
      <input type='radio' name='option2' value='110<sub>2</sub>' id='option-61' style='transform: scale(1.2)'  />
      110<sub>2</sub></label>
    <span id='result-61'></span>
  </div>
 

  <div id='block-62'>
    <label for='option-62' style='padding: 5px;'>
      <input type='radio' name='option2' value='100<sub>2</sub>' id='option-62' style='transform: scale(1.2)' />
      100<sub>2</sub></label>
    <span id='result-62'></span>
  </div>
  

  <div id='block-63'>
    <label for='option-63' style='padding: 5px;'>
      <input type='radio' name='option2' value='111<sub>2</sub>' id='option-63' style='transform: scale(1.2)' />
      111<sub>2</sub><sub>4</sub></label>
    <span id='result-63'></span>
  </div>
  

  <div id='block-64'>
    <label for='option-64' style=' padding: 5px;'>
      <input type='radio' name='option2' value='101<sub>2</sub>' id='option-64' style='transform: scale(1.2)' />
      101<sub>2</sub></label>
    <span id='result-64'></span>
  </div>
 
  <button type='button' onclick='displayAnswer6()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer6() {
    if (document.getElementById('option-61').checked) {
      document.getElementById('block-61').style.border = '3px solid red'
      document.getElementById('result-61').style.color = 'red'
      document.getElementById('result-61').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-62').checked) {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-63').checked) {
      document.getElementById('block-63').style.border = '3px solid red'
      document.getElementById('result-63').style.color = 'red'
      document.getElementById('result-63').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
    if (document.getElementById('option-64').checked) {
      document.getElementById('block-64').style.border = '3px solid red'
      document.getElementById('result-64').style.color = 'red'
      document.getElementById('result-64').innerHTML = 'Incorrect!'
      showCorrectAnswer6()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer6() {
    let showAnswer6 = document.createElement('p')
    showAnswer6.innerHTML = 'Show Corrent Answer'
    showAnswer6.style.position = 'relative'
    showAnswer6.style.top = '-150px'
    showAnswer6.style.fontSize = '1.5rem'
    document.getElementById('showanswer6').appendChild(showAnswer6)
    showAnswer6.addEventListener('click', () => {
      document.getElementById('block-62').style.border = '3px solid limegreen'
      document.getElementById('result-62').style.color = 'limegreen'
      document.getElementById('result-62').innerHTML = 'Correct!'
      document.getElementById('showanswer6').removeChild(showAnswer6)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4.	Evaluate (1001<sub>2</sub>)<sup>2</sup></h6>
 <div id='block-81' >
    <label for='option-81' style=' padding: 5px;'>
      <input type='radio' name='option3' value='1010001<sub>2</sub>' id='option-81' style='transform: scale(1.2)'  />
      1010001<sub>2</sub></label>
    <span id='result-81'></span>
  </div>
 

  <div id='block-82'>
    <label for='option-82' style='padding: 5px;'>
      <input type='radio' name='option3' value='1110001<sub>2</sub>' id='option-82' style='transform: scale(1.2)' />
      1110001<sub>2</sub></label>
    <span id='result-82'></span>
  </div>
  

  <div id='block-83'>
    <label for='option-83' style='padding: 5px;'>
      <input type='radio' name='option3' value='1100011<sub>2</sub>' id='option-83' style='transform: scale(1.2)' />
      1100011<sub>2</sub></label>
    <span id='result-83'></span>
  </div>
  

  <div id='block-84'>
    <label for='option-84' style=' padding: 5px;'>
      <input type='radio' name='option3' value='1000010<sub>2</sub>' id='option-84' style='transform: scale(1.2)' />
      1000010<sub>2</sub></label>
    <span id='result-84'></span>
  </div>
 
  <button type='button' onclick='displayAnswer8()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer8() {
    if (document.getElementById('option-81').checked) {
      document.getElementById('block-81').style.border = '3px solid limegreen'
      document.getElementById('result-81').style.color = 'limegreen'
      document.getElementById('result-81').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-82').checked) {
      document.getElementById('block-82').style.border = '3px solid red' 
      document.getElementById('result-82').style.color = 'red'
      document.getElementById('result-82').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-83').checked) {
      document.getElementById('block-83').style.border = '3px solid red'
      document.getElementById('result-83').style.color = 'red'
      document.getElementById('result-83').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
    if (document.getElementById('option-84').checked) {
      document.getElementById('block-84').style.border = '3px solid red'
      document.getElementById('result-84').style.color = 'red'
      document.getElementById('result-84').innerHTML = 'Incorrect!'
      showCorrectAnswer8()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer8() {
    let showAnswer8 = document.createElement('p')
    showAnswer8.innerHTML = 'Show Corrent Answer'
    showAnswer8.style.position = 'relative'
    showAnswer8.style.top = '-150px'
    showCorrectAnswer8.style.fontSize = '1.5rem'
    document.getElementById('showanswer8').appendChild(showAnswer8)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-81').style.border = '3px solid limegreen'
      document.getElementById('result-81').style.color = 'limegreen'
      document.getElementById('result-81').innerHTML = 'Correct!'
      document.getElementById('showanswer8').removeChild(showAnswer8)
    })
  }
</script>
</article>
<hr>
</div>
  </div>
  <div class="col-md-2 justify-content-center mt-1">
 <%= render 'layouts/sideadvert' %>
  </div>
</div>
<hr>
<nav class="nav nav-pills nav-fill nav-small">
<button class='ml-3'>
<%= link_to "Prev>>", page18_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page20_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer' %>
</div>