<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="vh-100 bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvp9CboEl9hqyE74sEs97CPEYv-k4LBIWxhA&usqp=CAU');">
  <button class=" btn-warning  btn-lg text-body">
  <%= render "devise/shared/links" %>
  </button>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 mb-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h5 class="text-uppercase text-center mb-5 text-primary">Sign up</h5>
                <div class="form-outline mb-4">
                <%= f.label :firstname %><br/>
                <%= f.text_field :firstname %>
                </div>

                <div class="form-outline mb-4">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="form-outline mb-4">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
                </div>

                <div class="form-outline mb-4">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="form-check d-flex justify-content-left mb-5">
                 <span> <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" > </span>
                 
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                
                </div>

                <div class="d-flex justify-content-center">
                <button class=" btn-success btn-block btn-lg text-body">
                <%= f.submit "Sign up" %>
                </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>