<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Private Policy</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Terms of Services</a>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
          <a href="#!">FAQs</a>
        </h6>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>

    <hr class="rgba-white-light">
    
    
    <ul class="nav justify-content-center mt-4">
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/VirtualTopUps"> 
      <%=fa_icon "facebook", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://studio.youtube.com/channel/UCrHvW8tvwgl6gvbQw2pfHBw">
      <%=fa_icon "youtube", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
      <%=fa_icon "linkedin", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="https://www.instagram.com/kemsolink">
      <%=fa_icon "instagram", class: 'fa-2x', base: "circle"%>
      </a>
    </li>

    <li class="nav-item">
     
      <button ><%=fa_icon "whatsapp", class: 'fa-2x', base: "circle"%> <b class="text-primary mb-2">08075386238</b></button>
      
    </li>
  </ul>
   </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">Learn-to-success.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->