<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
        <%= link_to "About Us", about_path %>
         
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <%= link_to "Products", product_path %>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
        <%= link_to "Private Policy", policy_path %>
         </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
        <%= link_to "Terms of Services", term_path %>
        </h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="font-weight-bold">
        <%= link_to "FAQs", faq_path %>
        </h6>
      </div>

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
        <%= link_to "Contact", contact_path %>
        </h6>
      </div>
      <!-- Grid column -->

    </div>

    <hr class="rgba-white-light">
    
    
    <ul class="nav justify-content-center mt-4">
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/VirtualTopUps"> 
      <%=fa_icon "facebook", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://studio.youtube.com/channel/UCrHvW8tvwgl6gvbQw2pfHBw">
      <%=fa_icon "youtube", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
      <%=fa_icon "linkedin", class: 'fa-2x', base: "circle"%>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:adesoji2020@gmail.com" target="_blank">
      <%=fa_icon "inbox", class: 'fa-2x', base: "circle"%>
      </a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="https://wa.me/+2348075386238">
      <%=fa_icon "whatsapp", class: 'fa-2x', base: "circle"%>
      </a>
     </li>
  </ul>
   </div>
   
   <div class="d-flex justify-content-center">

   <div class="col-4 mt-2 border border-primary rounded bg-info text-white">
   <%= link_to "Need a Teacher? Click Here!", contact_path, class:'h5' %>
   </div>
   <div class="col-4 mt-2 border border-warning ml-2 rounded bg-success text-white">
   <%= link_to "To be a Teacher.Click Here!", contact_path, class:'h5' %>
   </div>
 
 </div>


  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">Learn-to-success.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->