<nav class="navbar navbar-expand-lg navbar-light bg-transparent  mednav">
<div class='container-fluid' style="overflow-x:auto;">
  <table class='bg-warning'>
    <tr>
      <th><%= link_to "Mathematics", mathematics_index_path, class: "#{current? "active", mathematics_index_path}" %></th>
      <th><%= link_to "English", page3_path, class: "#{current? "active", page3_path}"  %></th>
      <th><a class="nav-item nav-link ml-auto" href="#">Economics</a></th>
      <th><a class="nav-item nav-link ml-auto" href="#">Agric.Sc</a></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
      <form class="form-inline  my-lg-0">
      <input class="form-control search-input" type="search" placeholder="Search">
      </form>
      </th>
      <th>
      <form class="form-inline my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </th>

    </tr>
</table>
</div>
<button class="navbar-toggler  bg-transparent btn1" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse " id="navbarTogglerDemo03">
<div class="vertical-menu">
<div class='bg-light'><b class="text-primary ml-2 grade "> GRADE 7-9 STUDENT</b></div>
<%= link_to "Number Systems", mathematics_index_path, class: "#{current? "active", mathematics_index_path}"  %>
<%= link_to "Reading and Writing Numbers", mathematics_page1_path, class: "#{current? "active", mathematics_page1_path}"%>
<%= link_to "Factors and Multiples in Whole Numbers", page2_path, class: "#{current? "active", page2_path}"%>
<%= link_to "Fractions,Percentages and Decimals ", page3_path, class: "#{current? "active", page3_path}"%>
<%= link_to "Letters for Numbers System", page4_path, class: "#{current? "active", page4_path}"%>  
<%= link_to "Indices/Standard Form", page5_path, class: "#{current? "active", page5_path}"%>  
<%= link_to "Proportion, Reciprocal, Ratio and Rate", page6_path, class: "#{current? "active", page6_path}"%> 
<%= link_to "Simple Interest, Compound Interest...", page7_path, class: "#{current? "active", page7_path}"%> 
<%= link_to "Directed Numbers", page8_path, class: "#{current? "active", page8_path}"%> 
<%= link_to "Algebra-I", page9_path, class: "#{current? "active", page9_path}"%> 
<%= link_to "Change of Subject", page10_path, class: "#{current? "active", page10_path}"%> 
<%= link_to "Simultaneous Linear Equations", page11_path, class: "#{current? "active", page11_path}"%> 
<%= link_to "Straight Line Graphs", page12_path, class: "#{current? "active", page12_path}"%> 
<%= link_to "Linear Inequalities", page13_path, class: "#{current? "active", page13_path}"%> 
<%= link_to "Word Problems", page14_path, class: "#{current? "active", page14_path}"%> 
<%= link_to "Variation", page15_path, class: "#{current? "active", page15_path}"%> 
<%= link_to "16", page16_path, class: "#{current? "active", page16_path}"%> 
  <a href="#">Contact</a>
  <a href="#">Contact</a>
  <a href="#">Contact</a>
  <a href="#">Contact</a>
</div>
</div>
</nav>