<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="description" content="Free online tutorials/lessons for all students worldwide">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Mathematics, English">
  <title>LearnArena</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>

<%= yield %>
</body>
</html>
